<%= form_for [:staff, @staff], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @staff.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @staff.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @staff.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :email, "メールアドレス", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :email, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :role, "権限", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :role, Staff::ROLE_ADMIN %> 管理者
            </label>
            <label class="radio-inline">
                <%= f.radio_button :role, Staff::ROLE_STAFF %> 一般ユーザ
            </label>
            <label class="radio-inline">
                <%= f.radio_button :role, Staff::ROLE_EJ_EDITOR %> EJ編集者
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :ej_journal_def_id, "編集可能EJ（EJ編集者のみ）", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.select :ej_journal_def_id, EjJournalDef.all.map{|t| [t.code, t.id] }, { include_blank: '設定しない'}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :password, "パスワード", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.password_field :password, class: 'form-control', :autocomplete => "off", placeholder: "leave blank if you don't want to change it" %></div>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, "パスワード(確認)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
