<div class="page-header">
  <h1>ユーザ管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>メールアドレス</th>
                <th>権限</th>
                <th>編集可能EJ</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <% @staffs.each do |staff| %>
                <tr>
                    <td><%= staff.email %></td>
                    <td><%= staff.role_caption %></td>
                    <td><%= staff.editable_ej_journal_def.try(:code) || '未設定' %></td>
                    <td><%= link_to '修正', edit_staff_staff_path(staff) %></td>
                    <td><%= link_to '削除', staff_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_staff_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

