<ol class="breadcrumb">
    <li><%= link_to 'ユーザ管理', staff_staffs_path %></li>
    <li class="active">ユーザ 新規作成</li>
</ol>

<div class="page-header">
    <h1>ユーザ 新規作成</h1>
</div>

<%= render 'form' %>

