<%= form_for [:staff, @contact_us_setting], html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @contact_us_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_us_setting.errors.count, "error") %> prohibited this contact_us_setting from being saved:</h2>

      <ul>
      <% @contact_us_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3 class="text-center">メール設定</h3>

    <div class="form-group">
        <%= f.label :subject, "メール題名", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :subject, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :from_address, "送信元メールアドレス", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.email_field :from_address, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :to_address, "送信先メールアドレス", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.email_field :to_address, class: 'form-control' %></div>
    </div>

    <h3 class="text-center">画面設定</h3>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <%= f.fields_for :html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
