<ol class="breadcrumb">
    <li><%= link_to 'メールフォーム管理', staff_contact_us_settings_path %></li>
    <li class="active">メールフォーム管理 新規作成</li>
</ol>

<div class="page-header">
    <h1>メールフォーム管理 修正</h1>
</div>

<%= render 'form' %>

