<div class="page-header">
  <h1>メールフォーム管理</h1>
</div>

<% if @contact_us_setting.present? %>
    <div class="panel panel-default">
        <table class="table table-bordered">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-10">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>値</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>メール題名</th>
                    <td><%= @contact_us_setting.subject %></td>
                </tr>
                <tr>
                    <th>送信元メールアドレス</th>
                    <td><%= @contact_us_setting.from_address %></td>
                </tr>
                <tr>
                    <th>送信先メールアドレス</th>
                    <td><%= @contact_us_setting.to_address %></td>
                </tr>
                <tr>
                    <th>日本語名</th>
                    <td><%= @contact_us_setting.caption_ja %></td>
                </tr>
                <tr>
                    <th>英語名</th>
                    <td><%= @contact_us_setting.caption_en %></td>
                </tr>
                <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @contact_us_setting.html_set_def } %>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="form_button_container">
                <%= link_to '修正', edit_staff_contact_us_setting_path(@contact_us_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
            </div>
        </div>
    </div>
<% else %>
    <p>現在、未設定です。</p>
    <%= link_to '設定する', new_staff_contact_us_setting_path, class: ['btn', 'btn-primary', 'btn-lg', 'btn-block'] %>
<% end %>

