<ol class="breadcrumb">
    <li><%= link_to 'メールフォーム管理', staff_contact_us_settings_path %></li>
    <li class="active">静的ページ 新規作成</li>
</ol>

<div class="page-header">
    <h1>静的ページ 新規作成</h1>
</div>

<%= render 'form' %>

