<% fields.each do |field| %>
    <% if field.document_id.present? %>
        <%= render partial: "fields/pri_field_simple_file/" + field.file_type + "/block", locals: {field_def: field_def, field: field} %>
    <% else %>
        <%= field.title.present? ? field.title : field.csv_upload_file %>
    <% end %>
<% end %>
