<%= fields_for 'field_def', field_def do |f| %>
    <div class="form-group">
        <%= f.label :in_field_delim, 'CSVでの項目区切り文字', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :in_field_delim, class: 'form-control' %></div>
    </div>
<% end %>

