<% if field.new_record? %>
    <div class="form-group">
        <%= f.label :upload_file, "ファイル", class: "control-label col-md-4" %>
        <div class="col-md-20"><%= f.file_field :upload_file %></div>
    </div>

    <div class="form-group">
        <%= f.label :publish_type, "公開タイプ", class: "control-label col-md-4" %>
        <div class="col-md-20">
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_STD %> 通常公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_LINK_ONLY %> リンク公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_NONE %> 非公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_LTD %> 限定公開
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :title, "タイトル", class: "control-label col-md-4" %>
        <div class="col-md-10"><%= f.text_field :title, class: 'form-control' %></div>
        <%= f.label :embargo, "公開日", class: "control-label col-md-3" %>
        <div class="col-md-7"><%= f.date_field :embargo, class: 'form-control' %></div>
    </div>
<% else %>
    <div class="form-group">
        <%= f.label :upload_file, "ファイル", class: "control-label col-md-4" %>
        <div class="col-md-20"><%= link_to field.org_file_name, view_state_path_gen(:file_path).call(field.document_id, field.field_def_id, field.id) %></div>
    </div>

    <div class="form-group">
        <%= f.label :publish_type, "公開タイプ", class: "control-label col-md-4" %>
        <div class="col-md-20">
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_STD %> 通常公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_LINK_ONLY %> リンク公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_NONE %> 非公開
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_type, PriFieldFileDatum::PUBLISH_LTD %> 限定公開
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :title, "タイトル", class: "control-label col-md-4" %>
        <div class="col-md-10"><%= f.text_field :title, class: 'form-control' %></div>
        <%= f.label :embargo, "公開日", class: "control-label col-md-3" %>
        <div class="col-md-7"><%= f.date_field :embargo, class: 'form-control' %></div>
    </div>
<% end %>

