<% fields.each do |field| %>
	<span class="line-field field-simple-file"><%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), view_state_path_gen(:file_path).call(field.document_id, field.field_def_id, field.id) %> <%= field.publish_type_caption %> <span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
