<%= form_for [:staff, @oaipmh_setting], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @oaipmh_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @oaipmh_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @oaipmh_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :identifier_prefix, "Identifier Prefix", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :identifier_prefix, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :repository_name, "リポジトリ名", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :repository_name, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :base_url, "Base URL", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :base_url, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :admin_email, "管理者メールアドレス", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :admin_email, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :set_spec_custom_select_id, "SetSpec使用項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :set_spec_custom_select_id, CustomSelect.all.map{|t| [t.name, t.id]}, { include_blank: "初期値をそのまま" }, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :set_spec_default_value, "SetSpec初期値", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :set_spec_default_value, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <strong>identifier prefix、base urlを修正した場合、ハーベスタへの全データの再収集の連絡を行ってください。</strong>
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
