<%= form_for @oaipmh_setting, url: self_doi_staff_oaipmh_setting_path(@oaipmh_setting), html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @oaipmh_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @oaipmh_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @oaipmh_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :enable_self_jalc_doi, "Jalc", class: "col-md-7 control-label" %>
        <div class="col-md-17">
            <label class="radio-inline">
                <%= f.radio_button :enable_self_jalc_doi, true %><%= SystemSetting::OAI_PMH_BOOL_VALUE[0] %>
            </label>
            <label class="radio-inline">
                <%= f.radio_button :enable_self_jalc_doi, false %><%= SystemSetting::OAI_PMH_BOOL_VALUE[1] %>
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :self_doi_jalc_prefix, "Jalc機関 プレフィックス", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_field :self_doi_jalc_prefix, class: 'form-control', placeholder: '00.00000/ のようにスラッシュを含む' %></div>
    </div>


    <div class="form-group">
        <%= f.label :enable_self_crossref_doi, "CrossRef", class: "col-md-7 control-label" %>
        <div class="col-md-17">
            <label class="radio-inline">
                <%= f.radio_button :enable_self_crossref_doi, true %><%= SystemSetting::OAI_PMH_BOOL_VALUE[0] %>
            </label>
            <label class="radio-inline">
                <%= f.radio_button :enable_self_crossref_doi, false %><%= SystemSetting::OAI_PMH_BOOL_VALUE[1] %>
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :self_doi_crossref_prefix, "CrossRef機関 プレフィックス", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_field :self_doi_crossref_prefix, class: 'form-control', placeholder: '00.00000/ のようにスラッシュを含む' %></div>
    </div>

    <hr />

    <div class="form-group">
        <%= f.label :nii_type_field_def_id, "NII資源タイプ項目 (jalc, crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :nii_type_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :title_field_def_id, "タイトル項目 (jalc, crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :title_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :creator_field_def_id, "著者項目 (jalc, crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :creator_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :publisher_field_def_id, "公開者項目 (crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :publisher_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :issn_field_def_id, "ISSN項目 (crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :issn_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :isbn_field_def_id, "ISBN項目 (crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :isbn_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :jtitle_field_def_id, "雑誌名項目 (crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :jtitle_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :start_page_field_def_id, "開始ページ項目 (jalc, crossref)", class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.select :start_page_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, { include_blank: "指定しない" }, {class: 'form-control'} %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
