<div class="page-header">
    <h1>OAI-PMH設定</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-3">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Identifier Prefix</th>
                <td><%= @oaipmh_setting.identifier_prefix %></td>
            </tr>
            <tr>
                <th>リポジトリ名</th>
                <td><%= @oaipmh_setting.repository_name %></td>
            </tr>
            <tr>
                <th>Base URL</th>
                <td><%= @oaipmh_setting.base_url %></td>
            </tr>
            <tr>
                <th>管理者メールアドレス</th>
                <td><%= @oaipmh_setting.admin_email %></td>
            </tr>
            <tr>
                <th>SetSpec使用項目</th>
                <td><%= @oaipmh_setting.set_spec_custom_select_id %></td>
            </tr>
            <tr>
                <th>SetSpec初期値</th>
                <td><%= @oaipmh_setting.set_spec_default_value %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_oaipmh_setting_path(@oaipmh_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-3">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Jalc DOI</th>
                <td><%= show_bool_value(SystemSetting::OAI_PMH_BOOL_VALUE, @oaipmh_setting.enable_self_jalc_doi) %></td>
            </tr>
            <tr>
                <th>Cross Ref DOI</th>
                <td><%= show_bool_value(SystemSetting::OAI_PMH_BOOL_VALUE, @oaipmh_setting.enable_self_crossref_doi) %></td>
            </tr>

            <% if @oaipmh_setting.enable_self_doi %>
                <tr>
                    <th>NII資源タイプ項目</th>
                    <td><%= show_caption @oaipmh_setting.nii_type_field_def %></td>
                </tr>
                <tr>
                    <th>タイトル項目</th>
                    <td><%= show_caption @oaipmh_setting.title_field_def %></td>
                </tr>
                <tr>
                    <th>著者項目</th>
                    <td><%= show_caption @oaipmh_setting.creator_field_def %></td>
                </tr>
                <tr>
                    <th>公開者(publisher)項目</th>
                    <td><%= show_caption @oaipmh_setting.publisher_field_def %></td>
                </tr>
                <tr>
                    <th>ISSN項目</th>
                    <td><%= show_caption @oaipmh_setting.issn_field_def %></td>
                </tr>
                <tr>
                    <th>ISBN項目</th>
                    <td><%= show_caption @oaipmh_setting.isbn_field_def %></td>
                </tr>
                <tr>
                    <th>雑誌名項目</th>
                    <td><%= show_caption @oaipmh_setting.jtitle_field_def %></td>
                </tr>
                <tr>
                    <th>開始ページ項目</th>
                    <td><%= show_caption @oaipmh_setting.start_page_field_def %></td>
                </tr>
            <% end %>

        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_self_doi_staff_oaipmh_setting_path(@oaipmh_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<%= render partial: 'oaipmh_filter_defs/index' %>


<div class="panel">
    <%= render partial: 'oaipmh_formats/index' %>
</div>

