<%= list_breadcrumb(@list_def, @level_params) %>

<div class="list-param-view-block">
    <%= render_list_param_by_sub_header_view_type %>
    <%= render_list_param_by_view_type %>
    <%= render_list_param_by_sub_footer_view_type %>
</div>
