<%= list_breadcrumb(@list_def, @level_params) %>

<div class="result-view-block">
    <%= render_result_by_sub_header_view_type %>
    <%= render_result_by_view_type %>
    <%= render_result_by_sub_footer_view_type %>
</div>