<% fields.each do |field| %>
    <% if field.publish_type == PubFieldFileDatum::PUBLISH_LINK_ONLY %>
        <div class="field-simple-file link-only">
            <% if field.title.present? %>
                <%= field_def.set_unit_by_locale(field.title) %> ( <%= public_dir_file_to_url_path_url(field.file_path) %> )
            <% else %>
                <%= public_dir_file_to_url_path_url(field.file_path) %>
            <% end %>
        </div>
    <% else %>
        <%= render partial: "fields/pub_field_simple_file/" + field.file_type + "/block", locals: {field_def: field_def, field: field} %>
    <% end %>

<% end %>
