<% fields.each do |field| %>
    <% if field.publish_type == PubFieldFileDatum::PUBLISH_LINK_ONLY %>
        <div class="field-simple-file link-only">
            <% if field.title.present? %>
                <span class="line-field field-simple-file link-only"><%= field_def.set_unit_by_locale(field.title) %> ( <%= public_dir_file_to_url_path_url(field.file_path) %> ) <span class='delim'><%= field_def.multi_field_delim %></span>
            <% else %>
                <span class="line-field field-simple-file link-only"><%= public_dir_file_to_url_path(field.file_path) %><span class='delim'><%= field_def.multi_field_delim %></span>
            <% end %>
        </div>
    <% else %>
        <span class="line-field field-simple-file"><%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), public_dir_file_to_url_path(field.file_path) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% end %>
<% end %>
