<div class="form-group">
    <%= f.label :value1, "日本語名", class: "control-label col-md-3" %>
    <div class="col-md-9"><%= f.text_field :value1, class: 'form-control' %></div>
    <%= f.label :value2, "英語名", class: "control-label col-md-3" %>
    <div class="col-md-9"><%= f.text_field :value2, class: 'form-control' %></div>
</div>
