<% fields.each do |field| %>
    <% if (I18n.locale == :ja && field.value1.present?) || field.value2.blank? %>
        <span class="line-field field-double-lang-text"><%= field_def.set_unit_ja(field.value1) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% else %>
        <span class="line-field field-double-lang-text"><%= field_def.set_unit_en(field.value2) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% end %>
<% end %>


