<div class="page-header">
  <h1>各雑誌設定</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>URLのパス</th>
                <th>雑誌表示形式</th>
                <th>各論文表示形式</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% @ej_journal_defs.each do |ej_journal_def| %>
                <tr>
                    <td><%= link_to ej_journal_def.code, pri_journal_path(ej_journal_def.code) %></td>
                    <td><%= show_journal_view_type ej_journal_def.journal_view_type_id %></td>
                    <td><%= show_article_view_type ej_journal_def.article_view_type_id %></td>
                    <td><%= link_to '詳細', staff_ej_def_ej_journal_def_path(@ej_def, ej_journal_def) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_ej_def_ej_journal_def_path(@ej_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
