<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li><%= link_to '雑誌グループ 詳細', staff_ej_def_path(@ej_def) %></li>
    <li class="active">各雑誌 新規作成</li>
</ol>

<div class="page-header">
    <h1>各雑誌 新規作成</h1>
</div>

<%= render 'form' %>

