<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li><%= link_to '雑誌グループ 詳細', staff_ej_def_path(@ej_def) %></li>
    <li class="active"><%= @ej_journal_def.code %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= @ej_journal_def.code %> 詳細</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
    <li><a href="#voliss_list_view" data-toggle="tab">巻号部分</a></li>
    <li><a href="#article_list_view" data-toggle="tab">論文一覧部分</a></li>
    <li><a href="#static_list_view" data-toggle="tab">雑誌情報部分</a></li>
    <li><a href="#journal_view" data-toggle="tab">雑誌画面</a></li>
    <li><a href="#journal_top_view" data-toggle="tab">雑誌画面(雑誌トップ時)</a></li>
    <li><a href="#article_view" data-toggle="tab">各論文画面</a></li>
    <li><a href="#journal_all_index_view" data-toggle="tab">総目次画面</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>非公開側URL</th>
                        <td><%= link_to pri_journal_path(@ej_journal_def.code), pri_journal_path(@ej_journal_def.code) %></td>
                    </tr>
                    <tr>
                        <th>URLのパス</th>
                        <td><%= @ej_journal_def.code %></td>
                    </tr>
                    <tr>
                        <th>雑誌項目の値</th>
                        <td><%= @ej_journal_def.value %></td>
                    </tr>
                    <tr>
                        <th>公開</th>
                        <td><%= show_visible(@ej_journal_def) %></td>
                    </tr>
                    <tr>
                        <th>スタイルシート</th>
                        <td><div class="html-css-container"><%= @ej_journal_def.css_string %></div></td>
                    </tr>
                    <tr>
                        <th>サムネイル</th>
                        <td>
                            <% if @ej_journal_def.has_thumnail? %>
                                <%= image_tag public_dir_file_to_url_path(@ej_journal_def.thumnail_path), class: 'img-thumbnail thumbnail-left' %>
                            <% end %>
                        </td>
                    </tr>
                 </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_top_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @ej_journal_def.journal_top_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="voliss_list_view">
        一般的に左メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @ej_journal_def.voliss_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="article_list_view">
        一般的に、論文詳細画面で右メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @ej_journal_def.article_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="static_list_view">
        一般的に、雑誌画面で右メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @ej_journal_def.static_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>雑誌表示形式</th>
                        <td><%= show_journal_view_type @ej_journal_def.journal_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>雑誌表示サブヘッダ形式</th>
                        <td><%= show_journal_sub_header_view_type @ej_journal_def.journal_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>雑誌表示サブフッタ形式</th>
                        <td><%= show_journal_sub_footer_view_type @ej_journal_def.journal_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @ej_journal_def.journal_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="article_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>各論文表示形式</th>
                        <td><%= show_article_view_type @ej_journal_def.article_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>各論文表示サブヘッダ形式</th>
                        <td><%= show_article_sub_header_view_type @ej_journal_def.article_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>各論文表示サブフッタ形式</th>
                        <td><%= show_article_sub_footer_view_type @ej_journal_def.article_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @ej_journal_def.article_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_all_index_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>総目次表示形式</th>
                        <td><%= show_journal_all_index_view_type @ej_journal_def.journal_all_index_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>総目次表示サブヘッダ形式</th>
                        <td><%= show_journal_all_index_sub_header_view_type @ej_journal_def.journal_all_index_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>総目次表示サブフッタ形式</th>
                        <td><%= show_journal_all_index_sub_footer_view_type @ej_journal_def.journal_all_index_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @ej_journal_def.journal_all_index_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

 </div>
