<div class="page-header">
  <h1>アクセス統計</h1>
</div>

<table class="table table-bordered table-striped">
    <colgroup>
        <col class="col-xs-16">
        <col class="col-xs-4">
        <col class="col-xs-4">
    </colgroup>
    <thead>
        <tr>
            <th>統計対象 年月</th>
            <th>表示</th>
            <th>ダウンロード</th>
        </tr>
    </thead>
    <% LogFileAttach.all_month.sort{|a,b|a.to_s <=> b.to_s}.each do |month| %>
        <tr>
            <td><%= month.to_s %></td>
            <td><%= link_to '表示', url_for(action: 'month', month: month) %></td>
            <td><%= link_to 'ダウンロード', url_for(action: 'month_download', month: month) %></td>
        </tr>
    <% end %>
</table>

<div class="page-header">
  <h1>アクセス統計(著者別)</h1>
</div>

<table class="table table-bordered table-striped">
    <colgroup>
        <col class="col-xs-16">
        <col class="col-xs-4">
        <col class="col-xs-4">
    </colgroup>
    <thead>
        <tr>
            <th>統計対象 年月</th>
            <th>表示</th>
            <th>ダウンロード</th>
        </tr>
    </thead>

    <% LogFileAttach.all_month.sort{|a,b|a.to_s <=> b.to_s}.each do |month| %>
        <tr>
            <td><%= month.to_s %></td>
            <td><%= link_to '表示', url_for(action: 'person_month', month: month) %></td>
            <td><%= link_to 'ダウンロード', url_for(action: 'person_month_download', month: month) %></td>
        </tr>
    <% end %>
</table>

