<ol class="breadcrumb">
    <li><%= link_to 'アクセス統計', staff_access_counts_path %></li>
    <li class="active"><%= params[:month] %> のアクセス統計</li>
</ol>

<div class="page-header">
  <h1><%= params[:month] %> のアクセス統計</h1>
</div>

<div class="alert alert-info earmas-right-side">
    合計 : <%= @data.total %> 件
</div>

<% @datas.each do |data| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= data[:type] %>
        </div>
        <table class="table table-bordered">
            <colgroup>
                <col class="col-xs-1">
                <col class="col-xs-10">
            </colgroup>
            <thead>
                <tr>
                    <th>件数</th>
                    <th>値</th>
                </tr>
            </thead>
            <tbody>
                <% data[:values].each do |name, value| %>
                    <tr>
                        <td><%= value %></td>
                        <td class="long-cell"><%= decode_url(name) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
