<ol class="breadcrumb">
    <li><%= link_to 'アクセス統計', staff_access_counts_path %></li>
    <li class="active"><%= params[:month] %> の著者別アクセス数</li>
</ol>

<div class="page-header">
  <h1><%= params[:month] %> の著者別アクセス数</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        アクセス数、ダウンロード数
    </div>
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-7">
            <col class="col-xs-7">
            <col class="col-xs-4">
            <col class="col-xs-4">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前(日本語)</th>
                <th>名前(英語)</th>
                <th>アクセス数</th>
                <th>ダウンロード数</th>
            </tr>
        </thead>
        <tbody>
            <% @datas.each do |data| %>
                <tr>
                    <td><%= data[:id] %></td>
                    <td><%= data[:name_ja] %></td>
                    <td><%= data[:name_en] %></td>
                    <td><%= data[:access][:count] %></td>
                    <td><%= data[:download][:count] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

