<div class="page-header">
    <h2>静的ページ</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>URLのパス</th>
                <th>日本語名</th>
                <th>英語名</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @editable_ej_journal_def.static_page_defs.each do |static_page_def| %>
            <tr>
                <td><%= link_to static_page_def.code, pub_journal_static_page_path(@editable_ej_journal_def.code, static_page_def.code) %></td>
                <td><%= static_page_def.caption_ja %></td>
                <td><%= static_page_def.caption_en %></td>
                <td>
                    <%= link_to up_staff_ej_editors_ej_static_page_def_path(static_page_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_ej_editors_ej_static_page_def_path(static_page_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_ej_editors_ej_static_page_def_path(static_page_def) %></td>
                <td><%= link_to '削除', staff_ej_editors_ej_static_page_def_path(static_page_def), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_ej_editors_ej_static_page_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
