<ol class="breadcrumb">
    <li><%= link_to '雑誌の文言修正', staff_ej_editors_ej_journal_show_path %></li>
    <li class="active"><%= show_caption(@ej_static_page_def) %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@ej_static_page_def) %> 修正</h1>
</div>

<%= render 'form' %>

