<ol class="breadcrumb">
    <li><%= link_to '雑誌の文言修正', staff_ej_editors_ej_journal_show_path %></li>
    <li class="active">静的ページ 新規作成</li>
</ol>

<div class="page-header">
    <h1>静的ページ 新規作成</h1>
</div>

<%= render 'form' %>

