<div class="page-header">
  <h1>CSV一括登録</h1>
</div>

<ul class="nav nav-tabs">
    <li class="<%= active?(params[:file_format], ['csv', nil]) %>"><a href="#csv" data-toggle="tab">CSV</a></li>
    <li class="<%= active?(params[:file_format], 'tsv') %>"><a href="#tsv" data-toggle="tab">TSV</a></li>
    <li class="<%= active?(params[:file_format], 'xml') %>"><a href="#xml" data-toggle="tab">XML</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane <%= active?(params[:file_format], ['csv', nil]) %>" id="csv">
        <div class="panel panel-default">
            <div class="panel-heading">CSV一括登録のテスト</div>
            <div class="panel-body">
                <%= form_tag staff_csv_test_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert"> 200件以上はチェックされません。</div>

                    <div class="form-group">
                        <%= label_tag :csv_file, 'CSVファイル' %>
                        <%= file_field_tag :csv_file %>
                    </div>

                    <div class="form-group">
                        <%= label_tag :encoding, '文字コード' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 'u', true %> UTF-8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 's' %> Shift JIS
                            </label>
                        </div>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新のテスト', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">CSV一括登録</div>
            <div class="panel-body">
                <%= form_tag staff_csv_update_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert">大きなファイル(200件以上)を処理する場合、処理ができない可能性があります。</div>

                    <div class="form-group">
                        <%= label_tag :csv_file, 'CSVファイル' %>
                        <%= file_field_tag :csv_file %>
                    </div>

                    <div class="form-group">
                        <%= label_tag :auto_thumnail, '自動でサムネイル' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'true', true %> 最初のファイルをサムネイルとして使用する。
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'false' %> サムネイルをセットしない。
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= label_tag :encoding, '文字コード' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 'u', true %> UTF-8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 's' %> Shift JIS
                            </label>
                        </div>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新 ( 確認はありません )', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">自分が作成したデータのダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@created_data_utf_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF) ' + (File.size(@created_data_utf_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_created_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_created_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@created_data_utf_csv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@created_data_utf_csv_file_name).to_s, staff_csv_download_created_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@created_data_sjis_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@created_data_sjis_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_created_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_created_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@created_data_sjis_csv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@created_data_sjis_csv_file_name).to_s, staff_csv_download_created_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">自分が更新したデータのダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@updated_data_utf_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF-8) ' + (File.size(@updated_data_utf_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_updated_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_updated_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@updated_data_utf_csv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@updated_data_utf_csv_file_name).to_s, staff_csv_download_updated_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@updated_data_sjis_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@updated_data_sjis_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_updated_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_updated_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@updated_data_sjis_csv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@updated_data_sjis_csv_file_name).to_s, staff_csv_download_updated_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">全件ダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@all_data_utf_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF-8) ' + (File.size(@all_data_utf_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_all_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_all_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@all_data_utf_csv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@all_data_utf_csv_file_name).to_s, staff_csv_download_all_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@all_data_sjis_csv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@all_data_sjis_csv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_all_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_all_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@all_data_sjis_csv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@all_data_sjis_csv_file_name).to_s, staff_csv_download_all_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane <%= active?(params[:file_format], 'tsv') %>" id="tsv">
        <div class="panel panel-default">
            <div class="panel-heading">TSV一括登録のテスト</div>
            <div class="panel-body">
                <%= form_tag staff_csv_test_tsv_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert"> 200件以上はチェックされません。</div>

                    <div class="form-group">
                        <%= label_tag :tsv_file, 'TSVファイル' %>
                        <%= file_field_tag :tsv_file %>
                    </div>

                    <div class="form-group">
                        <%= label_tag :encoding, '文字コード' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 'u', true %> UTF-8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 's' %> Shift JIS
                            </label>
                        </div>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新のテスト', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">TSV一括登録</div>
            <div class="panel-body">
                <%= form_tag staff_csv_update_tsv_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert">大きなファイル(200件以上)を処理する場合、処理ができない可能性があります。</div>

                    <div class="form-group">
                        <%= label_tag :tsv_file, 'TSVファイル' %>
                        <%= file_field_tag :tsv_file %>
                    </div>

                    <div class="form-group">
                        <%= label_tag :auto_thumnail, '自動でサムネイル' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'true', true %> 最初のファイルをサムネイルとして使用する。
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'false' %> サムネイルをセットしない。
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= label_tag :encoding, '文字コード' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 'u', true %> UTF-8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'encoding', 's' %> Shift JIS
                            </label>
                        </div>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新 ( 確認はありません )', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">自分が作成したデータのダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@created_data_utf_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF-8) ' + (File.size(@created_data_utf_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_created_tsv_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_created_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@created_data_utf_tsv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@created_data_utf_tsv_file_name).to_s, staff_csv_download_created_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@created_data_sjis_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@created_data_sjis_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_created_tsv_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_created_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@created_data_sjis_tsv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@created_data_sjis_tsv_file_name).to_s, staff_csv_download_created_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">自分が更新したデータのダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@updated_data_utf_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF-8) ' + (File.size(@updated_data_utf_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_updated_tsv_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_updated_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@updated_data_utf_tsv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@updated_data_utf_tsv_file_name).to_s, staff_csv_download_updated_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@updated_data_sjis_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@updated_data_sjis_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_updated_tsv_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_updated_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@updated_data_sjis_tsv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@updated_data_sjis_tsv_file_name).to_s, staff_csv_download_updated_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">全件ダウンロード</div>
            <div class="panel-body earmas-right-side">
                <div style="margin-bottom: 10px;">
                    <% if File.exists?(@all_data_utf_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (UTF-8) ' + (File.size(@all_data_utf_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_all_tsv_path(encoding: 'u'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (UTF-8)', staff_csv_generate_all_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@all_data_utf_tsv_file_name) %>
                    <%= link_to 'ダウンロード (UTF-8) ' + File.mtime(@all_data_utf_tsv_file_name).to_s, staff_csv_download_all_tsv_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
                <div>
                    <% if File.exists?(@all_data_sjis_tsv_file_name + '.tmp') %>
                        <%= link_to '生成中 (Shift JIS) ' + (File.size(@all_data_sjis_tsv_file_name + '.tmp')/1000).to_s + 'KB', staff_csv_generate_all_tsv_path(encoding: 's'), disabled: 'disabled', class: ['btn', 'btn-primary'] %>
                    <% else %>
                        <%= link_to '生成 (Shift JIS)', staff_csv_generate_all_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>

                    <% if File.exists?(@all_data_sjis_tsv_file_name) %>
                    <%= link_to 'ダウンロード (Shift JIS) ' + File.mtime(@all_data_sjis_tsv_file_name).to_s, staff_csv_download_all_tsv_path(encoding: 's'), class: ['btn', 'btn-primary'] %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane <%= active?(params[:file_format], 'xml') %>" id="xml">
        <div class="panel panel-default">
            <div class="panel-heading">XML一括登録のテスト</div>
            <div class="panel-body">
                <%= form_tag staff_csv_test_xml_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert">大きなファイル(200件以上)を処理する場合、処理ができない可能性があります。</div>

                    <div class="form-group">
                        <%= label_tag :xml_file, 'XMLファイル' %>
                        <%= file_field_tag :xml_file %>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新のテスト', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">XML一括登録</div>
            <div class="panel-body">
                <%= form_tag staff_csv_update_xml_path, method: :post, :multipart => true do |f| %>

                    <div class="alert alert-info" role="alert">大きなファイル(200件以上)を処理する場合、処理ができない可能性があります。</div>

                    <div class="form-group">
                        <%= label_tag :xml_file, 'XMLファイル' %>
                        <%= file_field_tag :xml_file %>
                    </div>

                    <div class="form-group">
                        <%= label_tag :auto_thumnail, '自動でサムネイル' %>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'true', true %> 最初のファイルをサムネイルとして使用する。
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <%= radio_button_tag 'auto_thumnail', 'false' %> サムネイルをセットしない。
                            </label>
                        </div>
                    </div>

                    <div class="earmas-right-side">
                        <%= submit_tag '更新 ( 確認はありません )', class: ['btn', 'btn-primary'] %>
                    </div>
                <% end %>
            </div>
        </div>

    </div>

</div>


