<div class="page-header">
  <h1>CSV一括登録</h1>
</div>

<p class="alert alert-danger"><%= notice %></p>

<% @documents.each do |document| %>

    <% if document.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => document.errors.count, :resource => 'データ') %></div>
            <ul>
                <% document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% field_by_field_def_id_map = document.csv_field_map %>

    <div class="panel panel-default">
        <div class="panel-heading">
            <%= document.id.present? ? document.id.to_s + ' 修正' : '新規' %>
        </div>

        <table class="table">
            <colgroup>
                <col class="col-xs-4">
                <col class="col-xs-20">
            </colgroup>
            <tbody>
                <tr>
                    <td>データグループ</td>
                    <td><%= InputGroup.get_input_group_name(document.input_group_id) %></td>
                </tr>
                <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
                    <% next if field_by_field_def_id_map[field_def.id].blank? %>
                    <tr>
                        <td><%= show_field_def_caption(document, field_def) %></td>
                        <td><%= render_view_state_check(field_def, document, field_by_field_def_id_map, 'block') %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>

<% end %>
