<div class="field-simple-file other" data-embargo="<%= field.embargo.try(:strftime, "%Y-%m-%d") %>">
    <%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), public_dir_file_to_url_path(field.file_path), class: 'link-file-title' %>
    <span class="file-size"><%= number_to_human_size(field.size) %></span>
    <span class="file-publish-type"><%= field.publish_type_caption %></span>
</div>
