<%= form_for @system_setting, url: staff_view_setting_system_update_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @system_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @system_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @system_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :sytem_name_ja, "名称 (日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :sytem_name_ja, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :sytem_name_en, "名称 (英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :sytem_name_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :theme_id, "テーマ", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :theme_id, show_theme_select_option, {:include_blank => "なし"}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :css_string, "スタイルシート", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :css_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
