<% case system_setting.top_page_type %>
<% when LeftMenuDef::TYPE_LIST_DEF %>
    <%= fields_for 'system_setting', system_setting do |f| %>
        <div class="form-group">
            <%= f.label :top_page_id, "リスト", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :top_page_id, ListDef.order(:id).map{|t| [show_caption(t), t.id] }, {}, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% when LeftMenuDef::TYPE_STATIC_PAGE_DEF %>
    <%= fields_for 'system_setting', system_setting do |f| %>
        <div class="form-group">
            <%= f.label :top_page_id, "静的ページ", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :top_page_id, StaticPageDef.order(:id).map{|t| [show_caption(t), t.id] }, {}, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% end %>
