<ol class="breadcrumb">
    <li><%= link_to '表示設定 - システム', staff_view_setting_system_path %></li>
    <li class="active">表示設定 - システム</li>
</ol>

<div class="page-header">
    <h1>システム設定 修正</h1>
</div>

<%= render 'form' %>

