<ol class="breadcrumb">
    <li><%= link_to '表示設定 - システム', staff_view_setting_system_path %></li>
    <li class="active">トップページ 修正</li>
</ol>

<div class="page-header">
    <h1>トップページ 修正</h1>
</div>

<%= form_for @system_setting, url: staff_view_setting_system_update_top_page_path, html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @system_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_setting.errors.count, "error") %> prohibited this system_setting from being saved:</h2>

      <ul>
      <% @system_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label :top_page_type, "種類", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :top_page_type, show_top_page_type_select_option, {},
            { class: 'form-control', data: { remote: true, url: staff_view_setting_system_param_form_path } } %></div>
    </div>
    <div class="param-fields">
        <%= render_top_page_param(@system_setting) %>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
