<div class="page-header">
    <h1>表示設定 - システム</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-8">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>名称 (日本語)</th>
                <td><%= @system_setting.sytem_name_ja %></td>
            </tr>
            <tr>
                <th>名称 (英語)</th>
                <td><%= @system_setting.sytem_name_en %></td>
            </tr>
            <tr>
                <th>テーマ</th>
                <td><%= show_caption(@system_setting.theme_class) %></td>
            </tr>
            <tr>
                <th>スタイルシート</th>
                <td><div class="html-css-container"><%= @system_setting.css_string %></div></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_view_setting_system_edit_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>

</div>

<hr />

<div class="page-header">
    <h2>トップページ</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-8">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>種類</th>
                <td><%= show_menu_type(@system_setting.top_page_type) %></td>
            </tr>
            <tr>
                <th>ページ</th>
                <td><%= show_menu_def_link(@system_setting) %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_view_setting_system_edit_top_page_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<hr />

<div class="page-header">
    <h2>詳細表示</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>詳細表示形式</th>
                <td><%= show_detail_view_type @system_setting.detail_view_type_id %></td>
            </tr>
            <tr>
                <th>詳細表示サブヘッダ形式</th>
                <td><%= show_detail_sub_header_view_type @system_setting.detail_sub_header_view_type_id %></td>
            </tr>
            <tr>
                <th>詳細表示サブフッタ形式</th>
                <td><%= show_detail_sub_footer_view_type @system_setting.detail_sub_footer_view_type_id %></td>
            </tr>
            <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @system_setting.detail_html_set_def } %>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_view_setting_system_edit_detail_view_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>

</div>


