<%= form_for @ej_def, url: staff_view_setting_ej_update_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @ej_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @ej_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @ej_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :css_string, "スタイルシート", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :css_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
