<div class="page-header">
  <h1>表示設定 - 雑誌</h1>
</div>


<div class="page-header">
    <h2>雑誌グループ 一覧</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>雑誌項目</th>
                <th>巻項目</th>
                <th>号項目</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% EjDef.order(:id).each do |ej_def| %>
                <tr>
                    <td><%= show_caption ej_def.journal_field_def %></td>
                    <td><%= show_caption ej_def.volume_field_def %></td>
                    <td><%= show_caption ej_def.issue_field_def %></td>
                    <td><%= link_to '詳細', staff_view_setting_ej_show_path(ej_def) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
