<ol class="breadcrumb">
    <li><%= link_to '表示設定 - 雑誌', staff_view_setting_ej_path %></li>
    <li class="active">雑誌 詳細</li>
</ol>

<div class="page-header">
    <h1>雑誌 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>スタイルシート</th>
                <td><div class="html-css-container"><%= @ej_def.css_string %></div></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_view_setting_ej_edit_path(@ej_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<hr />

<%= render partial: 'view_settings/ej_journal/index' %>
