<ol class="breadcrumb">
    <li><%= link_to '表示設定 - 検索', staff_view_setting_search_path %></li>
    <li class="active">検索ページ 修正</li>
</ol>

<div class="page-header">
    <h1>検索ページ 修正</h1>
</div>

<%= form_for @search_setting, url: staff_view_setting_search_update_path, html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @search_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_setting.errors.count, "error") %> prohibited this search_setting from being saved:</h2>

      <ul>
      <% @search_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#result_view" data-toggle="tab">結果画面</a></li>
        <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="result_view">
            <div class="form-group">
                <%= f.label :result_view_type_id, "結果表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_view_type_id, show_result_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :result_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="detail_view">
            <div class="form-group">
                <%= f.label :detail_view_type_id, "詳細表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_view_type_id, show_detail_view_type_option, {}, { class: 'form-control' } %></div>
            </div>
            <div class="form-group">
                <%= f.label :detail_sub_header_view_type_id, "詳細表示サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_header_view_type_id, show_detail_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>
            <div class="form-group">
                <%= f.label :detail_sub_footer_view_type_id, "詳細表示サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_footer_view_type_id, show_detail_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :detail_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
