<div class="page-header">
    <h1>表示設定 - 検索</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#result_view" data-toggle="tab">結果画面</a></li>
    <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="result_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>結果表示形式</th>
                        <td><%= show_result_view_type @search_setting.result_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @search_setting.result_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_view_setting_search_edit_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="detail_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>詳細表示形式</th>
                        <td><%= show_detail_view_type @search_setting.detail_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細サブヘッダ表示形式</th>
                        <td><%= show_detail_sub_header_view_type @search_setting.detail_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細サブフッタ表示形式</th>
                        <td><%= show_detail_sub_footer_view_type @search_setting.detail_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @search_setting.detail_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_view_setting_search_edit_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
</div>

