<%= form_for [:staff, @sortable_field], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @sortable_field.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @sortable_field.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @sortable_field.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :field_def_id, class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
