<h2>並び順として使用するデータ項目</h2>

<div class="alert alert-info">
    並び順の変更、値の修正した場合、全ての検索、リストのインデックス再構築(未公開)が必要になります
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-8">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>フィールド</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @sortable_fields.each do |sortable_field| %>
            <tr>
                <td><%= show_caption(sortable_field.field_def) %></td>
                <td>
                    <%= link_to up_staff_sortable_field_path(sortable_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_sortable_field_path(sortable_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_sortable_field_path(sortable_field) %></td>
                <td><%= link_to '削除', staff_sortable_field_path(sortable_field), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_sortable_field_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


