<ol class="breadcrumb">
    <li><%= link_to 'データ項目管理', staff_field_defs_path %></li>
    <li class="active">並び順使用項目 新規作成</li>
</ol>

<div class="page-header">
    <h1>並び順使用項目 新規作成</h1>
</div>

<%= render 'form' %>

