<% fields.each do |field| %>
    <% if field_def.field_param_id1 == FieldTypes::SimpleText::SHOW_AS_LINK %>
        <div class="field-simple-text"><%= link_to field_def.set_unit_by_locale(field.value1), field.value1 %></div>
    <% else %>
        <div class="field-simple-text"><%= field_def.set_unit_by_locale(field.value1) %></div>
    <% end %>
<% end %>
