<% fields.each do |field| %>
    <% if field_def.field_param_id1 == FieldTypes::SimpleText::SHOW_AS_LINK %>
        <span class="line-field field-simple-text"><%= link_to field_def.set_unit_by_locale(field.value1), field.value1 %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% else %>
        <span class="line-field field-simple-text"><%= field_def.set_unit_by_locale(field.value1) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% end %>
<% end %>
