<%= form_for [:staff, @oaipmh_filter_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @oaipmh_filter_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @oaipmh_filter_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @oaipmh_filter_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :include_filter, "含む/除く", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :include_filter, [['含む', true],['除く', false]], {}, { class: 'form-control' } %></div>
    </div>
    <div class="form-group">
        <%= f.label :filter_type, "フィルタタイプ", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :filter_type, show_oaipmh_filter_type_select_option, {}, {
            class: 'form-control',
            data: { remote: true, url: param_form_staff_oaipmh_filter_defs_path }
        } %></div>
    </div>
    <div class="param-fields">
            <%= render_oaipmh_filter_param(@oaipmh_filter_def) %>
    </div>


    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
