<h2>対象データのフィルタ</h2>

<div class="alert alert-info">
    全ての操作で、インデックス再構築(未公開データのOAI-PMHの再チェック)が必要になります。
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>含む</th>
                <th>フィルタタイプ</th>
                <th>対象</th>
                <th>値</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
            <% @oaipmh_filter_defs.each do |oaipmh_filter_def| %>
                <tr>
                    <td><%= oaipmh_filter_def.include_filter %></td>
                    <td><%= show_locale_value(oaipmh_filter_def.show_filter_type_caption) %></td>
                    <td><%= show_filter_type_value(oaipmh_filter_def) %></td>
                    <td><%= oaipmh_filter_def.filter_value %></td>
                    <td><%= link_to '修正', edit_staff_oaipmh_filter_def_path(oaipmh_filter_def) %></td>
                    <td><%= link_to '削除', staff_oaipmh_filter_def_path(oaipmh_filter_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_oaipmh_filter_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

