<ol class="breadcrumb">
    <li><%= link_to '雑誌の文言修正', staff_ej_editors_ej_journal_show_path %></li>
    <li class="active"><%= @editable_ej_journal_def.code %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= @editable_ej_journal_def.code %> 修正</h1>
</div>


<%= render 'form' %>





