<ol class="breadcrumb">
    <li><%= link_to '雑誌の文言修正', staff_ej_editors_ej_journal_show_path %></li>
    <li class="active"><%= @editable_ej_journal_def.code %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= @editable_ej_journal_def.code %> 詳細</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
    <li><a href="#voliss_list_view" data-toggle="tab">巻号部分</a></li>
    <li><a href="#article_list_view" data-toggle="tab">論文一覧部分</a></li>
    <li><a href="#static_list_view" data-toggle="tab">雑誌情報部分</a></li>
    <li><a href="#journal_view" data-toggle="tab">雑誌画面</a></li>
    <li><a href="#journal_top_view" data-toggle="tab">雑誌画面(雑誌トップ時)</a></li>
    <li><a href="#article_view" data-toggle="tab">各論文画面</a></li>
    <li><a href="#journal_all_index_view" data-toggle="tab">総目次画面</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>公開側URL</th>
                        <td><%= link_to pub_journal_path(@editable_ej_journal_def.code), pub_journal_path(@editable_ej_journal_def.code) %></td>
                    </tr>
                    <tr>
                        <th>スタイルシート</th>
                        <td><div class="html-css-container"><%= @editable_ej_journal_def.css_string %></div></td>
                    </tr>
                    <tr>
                        <th>サムネイル</th>
                        <td>
                            <% if @editable_ej_journal_def.has_thumnail? %>
                                <%= image_tag public_dir_file_to_url_path(@editable_ej_journal_def.thumnail_path), class: 'img-thumbnail thumbnail-left' %>
                            <% end %>
                        </td>
                    </tr>
                 </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_top_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @editable_ej_journal_def.journal_top_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="voliss_list_view">
        一般的に左メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @editable_ej_journal_def.voliss_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="article_list_view">
        一般的に、論文詳細画面で右メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @editable_ej_journal_def.article_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="static_list_view">
        一般的に、雑誌画面で右メニューとして使用される部分です。

        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'html_set_defs/no_parts_show', locals: { html_set_defs: @editable_ej_journal_def.static_list_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>雑誌表示形式</th>
                        <td><%= show_journal_view_type @editable_ej_journal_def.journal_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>雑誌表示サブヘッダ形式</th>
                        <td><%= show_journal_sub_header_view_type @editable_ej_journal_def.journal_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>雑誌表示サブフッタ形式</th>
                        <td><%= show_journal_sub_footer_view_type @editable_ej_journal_def.journal_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @editable_ej_journal_def.journal_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="article_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>各論文表示形式</th>
                        <td><%= show_article_view_type @editable_ej_journal_def.article_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>各論文表示サブヘッダ形式</th>
                        <td><%= show_article_sub_header_view_type @editable_ej_journal_def.article_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>各論文表示サブフッタ形式</th>
                        <td><%= show_article_sub_footer_view_type @editable_ej_journal_def.article_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @editable_ej_journal_def.article_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="journal_all_index_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>総目次表示形式</th>
                        <td><%= show_journal_all_index_view_type @editable_ej_journal_def.journal_all_index_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>総目次表示サブヘッダ形式</th>
                        <td><%= show_journal_all_index_sub_header_view_type @editable_ej_journal_def.journal_all_index_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>総目次表示サブフッタ形式</th>
                        <td><%= show_journal_all_index_sub_footer_view_type @editable_ej_journal_def.journal_all_index_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @editable_ej_journal_def.journal_all_index_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', staff_ej_editors_ej_journal_edit_path(@editable_ej_journal_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <%= render partial: 'ej_editors/ej_static_page_defs/index' %>

    <hr />

    <div class="page-header">
        <h2>ファイル一覧</h2>
    </div>

    <div class="document-attach-files">

        <div class="panel panel-default">
            <div class="panel-heading">
                <p>ファイルのURLをコピーして埋め込みたい場所に貼り付けて下さい。</p>
            </div>
            <div class="panel-body">
                <%= form_tag staff_ej_editors_ej_journal_create_attach_file_path(@editable_ej_journal_def), :multipart => true, target: 'file-upload-frame' do |f| %>
                    <div class="form-group">
                        <%= file_field_tag :upload_file %>
                    </div>

                    <div class="form_button_container">
                        <%= submit_tag 'アップロード', class: ['btn', 'btn-primary', 'append-document-attach-file-button'] %>
                    </div>
                <% end %>
            </div>

            <%= render partial: 'ej_editors/ej_journal/static_files' %>
            <iframe id="file-upload-frame" name="file-upload-frame" class="post-target-frame" style="width:0;height:0;border:0;"></iframe>
        </div>

    </div>

 </div>
