<table class="table th-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>除外</th>
            <th>公開</th>
            <th>入力</th>
            <% FieldDefLoader.result_field_defs.each do |field_def| %>
                <th><%= show_caption(field_def) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
    <% documents.each do |document| %>
        <tr class="<%= (document.deleted ? 'bg-danger' : '') %>">
            <td>
                <% if document.deleted == true %>
                    <%= link_to document.id, staff_pri_document_path(document.id) %> <br />削除データ
                <% else %>
                    <%= link_to document.id, staff_pri_document_path(document.id) %>
                <% end %>
            </td>
            <td>
                <%= form_for @document, url: staff_publish_search_path do |f| %>
                    <%= hidden_field_tag 'input_group_id', @search_input_group_id %>
                    <%= hidden_field_tag 'creator_staff_id', @search_creator_staff_id %>
                    <%= hidden_field_tag 'updater_staff_id', @search_updater_staff_id %>
                    <%= hidden_field_tag 'created_at_start', @search_created_at_start %>
                    <%= hidden_field_tag 'created_at_end', @search_created_at_end %>
                    <%= hidden_field_tag 'updated_at_start', @search_updated_at_start %>
                    <%= hidden_field_tag 'updated_at_end', @search_updated_at_end %>
                    <%= hidden_field_tag 'except_ids', (@except_ids.blank? ? document.id.to_s : @except_ids + ',' + document.id.to_s) %>

                    <%= submit_tag "除外", class: ['btn', 'btn-xs', 'btn-primary'] %>
                <% end %>
            </td>
            <td><%= show_document_publish_to(document) %></td>
            <td><%= FieldDefLoader.get_input_group(document.input_group_id).try(:name) %></td>
            <% FieldDefLoader.result_field_defs.each do |field_def| %>
                <% if document.field_empty?(field_def.id) && field_def.field_type_class.no_value? == false %>
                    <td></td>
                <% else %>
                    <td><%= render_view_state_line_field(field_def, document) %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
