<div class="page-header">
  <h1>公開処理</h1>
</div>

<%= form_for @document, url: staff_publish_search_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <div class="panel panel-default">
        <div class="panel-heading">公開対象の絞込</div>
        <div class="panel-body">
            <% if @document.errors.any? %>
                <div id="error_explanation">
                    <ul>
                        <% @document.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="field form-group">
                <%= label_tag 'input_group_id', 'データグループ', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <label class="radio-inline">
                        <%= radio_button_tag 'input_group_id', '', @search_input_group_id.blank? %> 全て
                    </label>
                    <% InputGroup.all.each do |input_group| %>
                        <label class="radio-inline">
                            <%= radio_button_tag 'input_group_id', input_group.id, (@search_input_group_id == input_group.id.to_s) %> <%= input_group.name %>
                        </label>
                    <% end %>
                </div>
            </div>

            <div class="field form-group">
                <%= label_tag 'creator_staff_id', '作成者', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <label class="radio-inline">
                        <%= radio_button_tag 'creator_staff_id', '', @search_creator_staff_id.blank? %> 全て
                    </label>
                    <% Staff.all.each do |staff| %>
                        <label class="radio-inline">
                            <%= radio_button_tag 'creator_staff_id', staff.id, (@search_creator_staff_id == staff.id.to_s) %> <%= staff.email %>
                        </label>
                    <% end %>
                </div>
            </div>

            <div class="field form-group">
                <%= label_tag  'updater_staff_id', '更新者', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <label class="radio-inline">
                        <%= radio_button_tag 'updater_staff_id', '', @search_updater_staff_id.blank? %> 全て
                    </label>
                    <% Staff.all.each do |staff| %>
                        <label class="radio-inline">
                            <%= radio_button_tag 'updater_staff_id', staff.id, (@search_updater_staff_id == staff.id.to_s) %> <%= staff.email %>
                        </label>
                    <% end %>
                </div>
            </div>

            <div class="field form-group">
                <%= label_tag 'search_document', '作成日', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <%= label_tag 'created_at_start', '開始', class: "col-md-2 control-label" %>
                    <div class="col-md-10"><%= date_field_tag 'created_at_start', @search_created_at_start, class: 'form-control' %></div>
                    <%= label_tag 'created_at_end', '終了', class: "col-md-2 control-label" %>
                    <div class="col-md-10"><%= date_field_tag 'created_at_end', @search_created_at_end, class: 'form-control' %></div>
                </div>
            </div>

            <div class="field form-group">
                <%= label_tag 'search_document', '更新日', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <%= label_tag 'updated_at_start', '開始', class: "col-md-2 control-label" %>
                    <div class="col-md-10"><%= date_field_tag 'updated_at_start', @search_updated_at_start, class: 'form-control' %></div>
                    <%= label_tag 'updated_at_end', '終了', class: "col-md-2 control-label" %>
                    <div class="col-md-10"><%= date_field_tag 'updated_at_end', @search_updated_at_end, class: 'form-control' %></div>
                </div>
            </div>

            <div class="field form-group">
                <%= label_tag 'search_document', '除外するID', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <%= text_field_tag 'except_ids', @except_ids, class: 'form-control', placeholder: '1,2,3 のようにコンマ区切りで' %>
                </div>
            </div>
        </div>
        <div class="panel-footer earmas-right-side">
            <%= submit_tag '検索', class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<div class="alert alert-info form_button_container top bottom">
    <%= form_for @document, url: staff_publish_publish_path, :method => :put do |f| %>
        <%= hidden_field_tag 'input_group_id', @search_input_group_id %>
        <%= hidden_field_tag 'creator_staff_id', @search_creator_staff_id %>
        <%= hidden_field_tag 'updater_staff_id', @search_updater_staff_id %>
        <%= hidden_field_tag 'created_at_start', @search_created_at_start %>
        <%= hidden_field_tag 'created_at_end', @search_created_at_end %>
        <%= hidden_field_tag 'updated_at_start', @search_updated_at_start %>
        <%= hidden_field_tag 'updated_at_end', @search_updated_at_end %>
        <%= hidden_field_tag 'except_ids', @except_ids %>

        次のデータを公開します。
        <% if @system_setting.data_lock %>
            <%= submit_tag "処理中", class: ['btn', 'btn-primary'], disabled: 'disabled' %>
        <% else %>
            <%= submit_tag "公開処理開始", class: ['btn', 'btn-primary'] %>
        <% end %>
    <% end %>
</div>

<div class="paginate-holder">
    <%= paginate @documents %>
</div>


<%= render partial: 'publish/list', locals: { documents: @documents } %>


<div class="paginate-holder">
    <%= paginate @documents %>
</div>

