<div class="page-header">
  <h1>全公開データ更新</h1>
</div>

<p>oai-pmhのフォーマットの修正、選択項目の修正等で<strong>強制的に</strong>全公開データを修正する場合に使用します。</p>
<p>※通常は使用しません。</p>

<% if @system_setting.data_lock %>
    <div class="text-right">
        <%= button_to "処理中", staff_publish_reset_publish_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'], disabled: "disabled" %>
    </div>
<% else %>
    <div class="text-right">
        <%= button_to "全公開データを修正済みに変更", staff_publish_reset_publish_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'] %>
    </div>
<% end %>
