<h2>アカウント情報変更</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, class: 'form-control', :autofocus => true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
        <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, class: 'form-control', :autocomplete => "off" %>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :current_password, class: "control-label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, class: 'form-control' %>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
