<%= form_for [:staff, @system_setting], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @system_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @system_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @system_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :enable_oaipmh, "OAI-PMH", class: "col-md-5 control-label" %>
        <%= show_bool_radio(f, :enable_oaipmh, SystemSetting::OAI_PMH_BOOL_VALUE) %>
    </div>

    <div class="form-group">
        <%= f.label :enable_coverpage, "カバーページ", class: "col-md-5 control-label" %>
        <%= show_bool_radio(f, :enable_coverpage, SystemSetting::OAI_PMH_BOOL_VALUE) %>
    </div>

    <div class="form-group">
        <%= f.label :id_conv_format, "IDフォーマット", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :id_conv_format, placeholder: '10桁埋めの場合 %010d', class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :id_conv_pattern, "IDパターン", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :id_conv_pattern, placeholder: '数値を対象にする場合は 0*([0-9]+)', class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :meta_info_xml_string, "メタタグXSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :meta_info_xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :upload_xml_string, "アップロード用XSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :upload_xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :search_api_xml_string, "検索API用XSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :search_api_xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
