<div class="alert alert-info">
    <p><strong>キャッシュのクリア</strong><br />
        表示に関係する設定を変更した場合、キャッシュのクリアを行って下さい。</p>

    <% if @system_setting.data_lock %>
        <div class="text-right">
            <%= button_to "処理中", clear_cache_staff_system_settings_path, :method => :put, class: ['btn', 'btn-primary', 'text-right'], disabled: "disabled" %>
        </div>
    <% else %>
        <div class="text-right">
            <%= button_to "キャッシュのクリア", clear_cache_staff_system_settings_path, :method => :put, class: ['btn', 'btn-primary', 'text-right'] %>
        </div>
    <% end %>
</div>

<div class="page-header">
  <h1>システム設定</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">メンテナンスモード</div>
    <div class="panel-body">
        <p>システムの設定を変更するにはメンテナンスモードにする必要があります。</p>
        <p>メンテナンスモードにした場合、データの登録、修正、削除、公開の操作ができなくなります。</p>
    </div>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-8">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>OAI-PMH</th>
                <td><%= show_bool_value(SystemSetting::OAI_PMH_BOOL_VALUE, @system_setting.enable_oaipmh) %></td>
            </tr>
            <tr>
                <th>カバーページ</th>
                <td><%= show_bool_value(SystemSetting::OAI_PMH_BOOL_VALUE, @system_setting.enable_coverpage) %></td>
            </tr>
            <tr>
                <th>IDフォーマット</th>
                <td><%= @system_setting.id_conv_format %></td>
            </tr>
            <tr>
                <th>IDパターン</th>
                <td><%= @system_setting.id_conv_pattern %></td>
            </tr>
            <tr>
                <th>メタタグXSLT</th>
                <td><div class="html-css-container"><%= @system_setting.meta_info_xml_string %></div></td>
            </tr>
            <tr>
                <th>アップロード用XSLT</th>
                <td><div class="html-css-container"><%= @system_setting.upload_xml_string %></div></td>
            </tr>
            <tr>
                <th>検索API用XSLT</th>
                <td><div class="html-css-container"><%= @system_setting.search_api_xml_string %></div></td>
            </tr>
        </tbody>
    </table>

    <% if @system_setting.mentenance_mode %>
        <div class="panel-footer">
            <div class="form_button_container">
                <%= link_to '修正', edit_staff_system_setting_path(@system_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
            </div>
        </div>
    <% end %>

</div>

