<ol class="breadcrumb">
    <li><%= link_to '検索管理', staff_search_defs_path %></li>
    <li><%= link_to 'フィルタ 詳細', staff_search_filter_def_path(@search_filter_def) %></li>
    <li class="active">フィルタ 修正</li>
</ol>

<div class="page-header">
    <h1>フィルタ 修正</h1>
</div>

<%= render 'form' %>

