<ol class="breadcrumb">
    <li><%= link_to '検索管理', staff_search_defs_path %></li>
    <li class="active">フィルタ 新規作成</li>
</ol>

<div class="page-header">
    <h1>フィルタ 新規作成</h1>
</div>


<%= render 'form' %>

