<%= form_for [:staff, @person], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @person.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @person.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :id, "ID", class: "col-md-5 control-label" %>
        <div class="col-md-5"><%= f.text_field :id, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :family_name_ja, "日本語 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_ja, class: 'form-control' %></div>
        <%= f.label :given_name_ja, "日本語 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :family_name_en, "英語 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_en, class: 'form-control' %></div>
        <%= f.label :given_name_en, "英語 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_en, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :family_name_tra, "読み 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_tra, class: 'form-control' %></div>
        <%= f.label :given_name_tra, "読み 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_tra, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :family_name_alt1, "別名1 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_alt1, class: 'form-control' %></div>
        <%= f.label :given_name_alt1, "別名1 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_alt1, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :family_name_alt2, "別名2 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_alt2, class: 'form-control' %></div>
        <%= f.label :given_name_alt2, "別名2 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_alt2, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :family_name_alt3, "別名3 姓", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :family_name_alt3, class: 'form-control' %></div>
        <%= f.label :given_name_alt3, "別名3 名", class: "col-md-3 control-label" %>
        <div class="col-md-8"><%= f.text_field :given_name_alt3, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :affiliation_ja, "日本語 所属", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :affiliation_ja, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :affiliation_en, "英語 所属", class: "col-md-5 control-label" %>
        <div class="col-md-8"><%= f.text_field :affiliation_en, class: 'form-control' %></div>
    </div>


    <div class="form-group">
        <%= f.label :enable_gen_url, "URL生成", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :enable_gen_url, true %>生成する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :enable_gen_url, false %>生成しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :url, "URL", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :url, class: 'form-control', placeholder: 'http://example.jp/abc など。変換はされず、値が直接使用されます。' %></div>
    </div>
    <% if @people_setting.key1_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key1, @people_setting.key1_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key1, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key2_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key2, @people_setting.key2_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key2, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key3_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key3, @people_setting.key3_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key3, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key4_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key4, @people_setting.key4_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key4, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key5_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key5, @people_setting.key5_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key5, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key6_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key6, @people_setting.key6_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key6, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key7_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key7, @people_setting.key7_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key7, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key8_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key8, @people_setting.key8_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key8, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key9_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key9, @people_setting.key9_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key9, class: 'form-control' %></div>
        </div>
    <% end %>
    <% if @people_setting.key10_name_ja.present? %>
        <div class="form-group">
            <%= f.label :key10, @people_setting.key10_name_ja, class: "col-md-5 control-label" %>
            <div class="col-md-5"><%= f.text_field :key10, class: 'form-control' %></div>
        </div>
    <% end %>

    <p class="text-right">別名は検索で使用されます</p>
    <p class="text-right">カナは並び順で使用されます</p>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
