<div class="panel panel-default">
    <% if people.size == 0 %>
        <div class="panel-body">
            ありません
        </div>
    <% else %>
        <table class="table table-bordered">
            <colgroup>
                <col class="col-xs-3">
                <col class="col-xs-6">
                <col class="col-xs-6">
                <col class="col-xs-6">
                <col class="col-xs-3">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名前 (日本語)</th>
                    <th>名前 (英語)</th>
                    <th>名前 (読み)</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <% people.each do |person| %>
                    <tr class="person">
                        <td><span class='search-result-id'><%= person.id %></span></td>
                        <td><span class='search-result-family-name-ja'><%= person.family_name_ja %></span> <span class='search-result-given-name-ja'><%= person.given_name_ja %></span></td>
                        <td><span class='search-result-family-name-en'><%= person.family_name_en %></span> <span class='search-result-given-name-en'><%= person.given_name_en %></span></td>
                        <td><span class='search-result-family-name-tra'><%= person.family_name_tra %></span> <span class='search-result-given-name-tra'><%= person.given_name_tra %></span></td>
                        <td>
                            <div class="hidden_container">
                                <span class='search-result-family-name-alt1'><%= person.family_name_alt1 %></span> <span class='search-result-given-name-alt1'><%= person.given_name_alt1 %></span>
                                <span class='search-result-family-name-alt2'><%= person.family_name_alt2 %></span> <span class='search-result-given-name-alt2'><%= person.given_name_alt2 %></span>
                                <span class='search-result-family-name-alt3'><%= person.family_name_alt3 %></span> <span class='search-result-given-name-alt3'><%= person.given_name_alt3 %></span>
                                <span class='search-result-affiliation-ja'><%= person.affiliation_ja %></span> <span class='search-result-affiliation-en'><%= person.affiliation_en %></span>
                            </div>
                            <%= button_tag '使う', type: 'button', class: "btn btn-default btn-xs pick-search-person-result" %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= button_tag '閉じる', type: 'button', class: "btn btn-default btn-xs close-search-result" %>
        </div>
    </div>
</div>
