<ol class="breadcrumb">
    <li><%= link_to '人物管理', staff_people_path %></li>
    <li><%= link_to @person.family_name_ja.to_s + @person.given_name_ja.to_s + ' 詳細', staff_person_path(@person) %></li>
    <li class="active"><%= @person.family_name_ja.to_s + @person.given_name_ja.to_s %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= @person.family_name_ja.to_s + @person.given_name_ja.to_s %> 修正</h1>
</div>

<div class="alert alert-info">
    「ID」〜「英語所属」までの項目を修正した場合、関連する検索、リストの再構築(未公開)が必要になります
</div>

<%= render 'form' %>





