<div class="page-header">
  <h1>人物管理</h1>
</div>

<%= render partial: 'people_settings/index' %>

<div class="page-header">
  <h1>人物一覧</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">データのダウンロード</div>
    <div class="panel-body earmas-right-side">
        <%= link_to 'ダウンロード (UTF-8)', download_staff_people_path(encoding: 'u'), class: ['btn', 'btn-primary'] %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">CSV一括登録テスト</div>
    <div class="panel-body">
        <%= form_tag test_staff_people_path, method: :post, :multipart => true do |f| %>

            <div class="form-group">
                <%= label_tag :csv_file, 'CSVファイル (UTF-8)' %>
                <%= file_field_tag :csv_file %>
            </div>

            <div class="earmas-right-side">
                <%= submit_tag '更新のテスト', class: ['btn', 'btn-primary'] %>
            </div>
        <% end %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">CSV一括登録</div>
    <div class="panel-body">
        <%= form_tag upload_staff_people_path, method: :post, :multipart => true do |f| %>

            <div class="form-group">
                <%= label_tag :csv_file, 'CSVファイル (UTF-8)' %>
                <%= file_field_tag :csv_file %>
            </div>

            <div class="earmas-right-side">
                <%= submit_tag '更新 ( 確認はありません )', class: ['btn', 'btn-primary'] %>
            </div>
        <% end %>
    </div>
</div>

<div class="paginate-holder">
    <%= paginate @people %>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-6">
            <col class="col-xs-6">
            <col class="col-xs-6">
            <col class="col-xs-2">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前 (日本語)</th>
                <th>名前 (英語)</th>
                <th>名前 (読み)</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% @people.each do |person| %>
                <tr>
                    <td><%= person.id %></td>
                    <td><%= person.family_name_ja %> <%= person.given_name_ja %></td>
                    <td><%= person.family_name_en %> <%= person.given_name_en %></td>
                    <td><%= person.family_name_tra %> <%= person.given_name_tra %></td>
                    <td><%= link_to '詳細', staff_person_path(person) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_person_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<div class="paginate-holder">
    <%= paginate @people %>
</div>

