<ol class="breadcrumb">
    <li><%= link_to '人物管理', staff_people_path %></li>
    <li class="active"><%= @person.family_name_ja.to_s + @person.given_name_ja.to_s %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= @person.family_name_ja.to_s + @person.given_name_ja.to_s %> 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ID</th>
                <td><%= @person.id %></td>
            </tr>
            <tr>
                <th>名前 (日本語)</th>
                <td><%= @person.family_name_ja %> <%= @person.given_name_ja %></td>
            </tr>
            <tr>
                <th>名前 (英語)</th>
                <td><%= @person.family_name_en %> <%= @person.given_name_en %></td>
            </tr>
            <tr>
                <th>名前 (読み)</th>
                <td><%= @person.family_name_tra %> <%= @person.given_name_tra %></td>
            </tr>
            <tr>
                <th>名前 (別名1)</th>
                <td><%= @person.family_name_alt1 %> <%= @person.given_name_alt1 %></td>
            </tr>
            <tr>
                <th>名前 (別名2)</th>
                <td><%= @person.family_name_alt2 %> <%= @person.given_name_alt2 %></td>
            </tr>
            <tr>
                <th>名前 (別名3)</th>
                <td><%= @person.family_name_alt3 %> <%= @person.given_name_alt3 %></td>
            </tr>
            <tr>
                <th>所属 (日本語)</th>
                <td><%= @person.affiliation_ja %></td>
            </tr>
            <tr>
                <th>所属 (英語)</th>
                <td><%= @person.affiliation_en %></td>
            </tr>
            <tr>
                <th>URL生成</th>
                <td><%= @person.enable_gen_url ? '生成する' : '生成しない' %></td>
            </tr>
            <tr>
                <th>URL</th>
                <td><%= @person.url %></td>
            </tr>
            <tr>
                <th>使用されるURL</th>
                <td>
                    <% if @person.enable_default_url?(@people_setting.url) %>
                        <%= link_to @person.gen_default_url(html_variable(@people_setting.url)), @person.gen_default_url(html_variable(@people_setting.url)), target: '_blank' %>
                    <% end %>
                </td>
            </tr>
            <% if @people_setting.key1_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key1_name') %></th>
                    <td><%= @person.key1 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key2_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key2_name') %></th>
                    <td><%= @person.key2 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key3_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key3_name') %></th>
                    <td><%= @person.key3 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key4_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key4_name') %></th>
                    <td><%= @person.key4 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key5_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key5_name') %></th>
                    <td><%= @person.key5 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key6_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key6_name') %></th>
                    <td><%= @person.key6 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key7_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key7_name') %></th>
                    <td><%= @person.key7 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key8_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key8_name') %></th>
                    <td><%= @person.key8 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key9_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key9_name') %></th>
                    <td><%= @person.key9 %></td>
                </tr>
            <% end %>
            <% if @people_setting.key10_name_ja.present? %>
                <tr>
                    <th><%= send_local_name(@people_setting, 'key10_name') %></th>
                    <td><%= @person.key10 %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_person_path(@person), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_person_path(@person), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>
