<ol class="breadcrumb">
    <li><%= link_to '人物管理', staff_people_path %></li>
    <li class="active">CSV一括登録テスト</li>
</ol>

<div class="page-header">
    <h1>CSV一括登録テスト 結果</h1>
</div>

<div class="panel panel-default over-flow touch-overflow-panel">
    <table class="table table-bordered table-striped no-wrap-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>名前 (日本語)</th>
                <th>名前 (英語)</th>
                <th>名前 (読み)</th>
                <th>名前 (別名1)</th>
                <th>名前 (別名2)</th>
                <th>名前 (別名3)</th>
                <th>所属 (日本語)</th>
                <th>所属 (英語)</th>
                <th>URL生成</th>
                <th>URL</th>
                <th>使用されるURL</th>
                <th><%= @people_setting.key1_name_ja.present? ? @people_setting.key1_name_ja : 'key1' %></th>
                <th><%= @people_setting.key2_name_ja.present? ? @people_setting.key2_name_ja : 'key2' %></th>
                <th><%= @people_setting.key3_name_ja.present? ? @people_setting.key3_name_ja : 'key3' %></th>
                <th><%= @people_setting.key4_name_ja.present? ? @people_setting.key4_name_ja : 'key4' %></th>
                <th><%= @people_setting.key5_name_ja.present? ? @people_setting.key5_name_ja : 'key5' %></th>
                <th><%= @people_setting.key6_name_ja.present? ? @people_setting.key6_name_ja : 'key6' %></th>
                <th><%= @people_setting.key7_name_ja.present? ? @people_setting.key7_name_ja : 'key7' %></th>
                <th><%= @people_setting.key8_name_ja.present? ? @people_setting.key8_name_ja : 'key8' %></th>
                <th><%= @people_setting.key9_name_ja.present? ? @people_setting.key9_name_ja : 'key9' %></th>
                <th><%= @people_setting.key10_name_ja.present? ? @people_setting.key10_name_ja : 'key10' %></th>
            </tr>
        </thead>
        <tbody>
            <% @people.each do |person| %>
                <tr>
                    <td><%= person.id %></td>
                    <td><%= person.family_name_ja %> <%= person.given_name_ja %></td>
                    <td><%= person.family_name_en %> <%= person.given_name_en %></td>
                    <td><%= person.family_name_tra %> <%= person.given_name_tra %></td>
                    <td><%= person.family_name_alt1 %> <%= person.given_name_alt1 %></td>
                    <td><%= person.family_name_alt2 %> <%= person.given_name_alt2 %></td>
                    <td><%= person.family_name_alt3 %> <%= person.given_name_alt3 %></td>
                    <td><%= person.affiliation_ja %></td>
                    <td><%= person.affiliation_en %></td>
                    <td><%= person.enable_gen_url ? '生成する' : '生成しない' %></td>
                    <td><%= person.url %></td>
                    <td>
                        <% if person.enable_default_url?(@people_setting.url) %>
                            <%= link_to person.gen_default_url(@people_setting.url), person.gen_default_url(html_variable(@people_setting.url)) %>
                        <% end %>
                    </td>
                    <td><%= person.key1 %></td>
                    <td><%= person.key2 %></td>
                    <td><%= person.key3 %></td>
                    <td><%= person.key4 %></td>
                    <td><%= person.key5 %></td>
                    <td><%= person.key6 %></td>
                    <td><%= person.key7 %></td>
                    <td><%= person.key8 %></td>
                    <td><%= person.key9 %></td>
                    <td><%= person.key10 %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
