<div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %></div>


<div class="journal-center">
    <% if @ej_word_first %>
        <%= html_format @page_obj.try(:journal_top_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="journal-list-menu">
            <% @ej_words.each do |word| %>
                <li class="<%= show_ej_active(word) %>"><%= link_to gen_voliss_path(word) do %>
                    <%= [word.try(set_locale_suffix(:volume_caption)), word.try(set_locale_suffix(:issue_caption))].delete_if{|a|a.blank?}.join(' - ') %>
                    ( <%= word.try(set_locale_suffix(:publish_date_caption)) %> )
                <% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>

        <%= html_format @page_obj.try(:journal_top_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    <% else %>

        <%= html_format @page_obj.try(:journal_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

            <% section = nil %>
            <div class="journal-section-container">
                <% if @json.present? %>
                    <% @json.each do |article| %>
                        <% if article['type'] == 1 %>
                            <% ej_data = @document_map[article['id'].to_i] %>
                            <% if ej_data.present? %>
                                <% document = ej_data[:datum].document %>
                                <% ej_data[:used] = true %>

                                <% if section != document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                                    </div>
                                    <div class="journal-section">
                                        <i class="fa fa-chevron-right" style="margin-right: -4px;"></i>
                                        <i class="fa fa-chevron-right"></i> <%= document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                                    </div>
                                    <% section = document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                                    <div class="journal-section-container">
                                <% end %>

                                <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
                                <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                                <div class="view-journal-item">
                                    <div class="img-thumbnail-container">
                                        <% if document.has_thumnail? %>
                                            <%= image_tag view_state_document_thumnail_path_gen(document), class: "img-thumbnail" %>
                                            <div class="with-thumbnail-content">
                                        <% else %>
                                            <div class="without-thumbnail-content">
                                        <% end %>
                                            <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(@ej_word, document) %></div>
                                            <div class="article-body">
                                                <% document.ej_result_field_defs.drop(1).each do |field_def| %>
                                                    <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                                </div>
                                <% end %>
                            <% end %>
                        <% else %>
                            <% if section != show_locale_hash(article['section']) %>
                                </div>
                                <div class="journal-section">
                                    <i class="fa fa-chevron-right" style="margin-right: -4px;"></i>
                                    <i class="fa fa-chevron-right"></i> <%= show_locale_hash(article['section']) %>
                                </div>
                                <% section = show_locale_hash(article['section']) %>
                                <div class="journal-section-container">
                            <% end %>

                            <div class="view-journal-item">
                                <div class="img-thumbnail-container">
                                    <div class="without-thumbnail-content">
                                        <div class="title"><%= show_locale_hash(article['fields'][0]) %></div>
                                        <div class="article-body">
                                            <% article['fields'].drop(1).each do |field| %>
                                                <div><%= show_locale_hash(field) %></div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="page">PP. <%= show_locale_hash(article['start_page']) %> - <%= show_locale_hash(article['end_page']) %></div>
                            </div>
                        <% end %>
                    <% end %>
                    <% @document_map.reject{|k,v| v[:used] == true }.values.each do |datum| %>
                        <% document = datum[:datum].document %>
                        <% if section != document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            </div>
                            <div class="journal-section">
                                <i class="fa fa-chevron-right" style="margin-right: -4px;"></i>
                                <i class="fa fa-chevron-right"></i> <%= document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            </div>
                            <% section = document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            <div class="journal-section-container">
                        <% end %>

                        <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
                        <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                        <div class="view-journal-item">
                            <div class="img-thumbnail-container">
                                <% if document.has_thumnail? %>
                                    <%= image_tag view_state_document_thumnail_path_gen(document), class: "img-thumbnail" %>
                                    <div class="with-thumbnail-content">
                                <% else %>
                                    <div class="without-thumbnail-content">
                                <% end %>
                                    <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(@ej_word, document) %></div>
                                    <div class="article-body">
                                        <% document.ej_result_field_defs.drop(1).each do |field_def| %>
                                            <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                        </div>
                        <% end %>
                    <% end %>
                <% elsif @ej_word != nil %>
                    <% @ej_word.get_data_relation.order(set_locale_suffix('sort_value') => :asc).includes(:document).each do |ej_datum| %>
                        <% document = ej_datum.document %>
                        <% if section != document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            </div>
                            <div class="journal-section">
                                <i class="fa fa-chevron-right" style="margin-right: -4px;"></i>
                                <i class="fa fa-chevron-right"></i> <%= document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            </div>
                            <% section = document.get_fields(@ej_def.section_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)) %>
                            <div class="journal-section-container">
                        <% end %>

                        <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
                        <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                        <div class="view-journal-item">
                            <div class="img-thumbnail-container">
                                <% if document.has_thumnail? %>
                                    <%= image_tag view_state_document_thumnail_path_gen(document), class: "img-thumbnail" %>
                                    <div class="with-thumbnail-content">
                                <% else %>
                                    <div class="without-thumbnail-content">
                                <% end %>
                                    <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(@ej_word, document) %></div>
                                    <div class="article-body">
                                        <% document.ej_result_field_defs.drop(1).each do |field_def| %>
                                            <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                        </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <%= html_format @page_obj.try(:journal_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    <% end %>

</div>

