<div class="page-header">
  <h1>項目値修正 - 値の確認</h1>
</div>

<%= form_for @document, url: staff_field_value_update_start_batch_path do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="hidden_container">
        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if field_def.field_type_class.no_batch? %>
            <% next if @search_field_map[field_def.id].blank_value? %>
            <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
        <% end %>
    </div>

    <div class="hidden_container">
        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if @new_field.field_def_id != field_def.id %>
            <%= fields_for 'new_field[' + field_def.id.to_s + ']', @new_field do |f| %>
                <%= render_pri_form_field(f, field_def, @new_field) %>
            <% end %>
        <% end %>
    </div>

    <table class="table">
        <tr>
            <th>項目</th>
            <th>値</th>
            <th>出現回数</th>
        </tr>

        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if @new_field.field_def_id != field_def.id %>
             <div class="field_def fields_container">
                <div class="fields">
                    <div class="field">
                        <%= render_value_count_field_def(field_def, @exist_values_field_def_map) %>
                    </div>
                </div>
            </div>
        <% end %>

    </table>


    <div class="form_button_container bottom">
        <%= submit_tag '処理開始', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>

