<div class="page-header">
  <h1>項目値修正</h1>
</div>

<div class="alert alert-info">
    <p>
        <strong>作業終了後に未公開データ再構築をおこなってください。</strong><br />
        未公開データ再構築を行うまで以下の状態になります。
    </p>
    <p>
        <ul>
            <li>未公開データの検索、一覧、詳細画面でのデータと表記が異なる状態になっている可能性があります。</li>
        </ul>
    </p>

    <% if @system_setting.data_lock %>
        <div class="text-right">
            <%= button_to "処理中", staff_batch_pri_reindex_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'], disabled: "disabled" %>
        </div>
    <% else %>
        <div class="text-right">
            <%= button_to "未公開データ再構築", staff_batch_pri_reindex_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'] %>
        </div>
    <% end %>
</div>

<div class="well">
    値を更新する項目の現在の値を入力してください。対象となる項目は1つのみです。<br />
    項目に値がないデータに値を追加することはできません。
</div>

<%= form_for @document, url: staff_field_value_update_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
        <% next if field_def.field_type_class.no_batch? %>
         <div class="field_def fields_container">
            <div class="fields">
                <div class="field form-group">
                    <%= label_tag 'search_field[' + field_def.id.to_s + ']', show_caption(field_def), class: "col-md-5 col-lg-4 control-label" %>
                    <div class="col-md-19 col-lg-20">
                        <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <div class="form_button_container top bottom">
        <%= submit_tag '検索', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>


<div class="panel panel-default">
    <div class="panel-heading">対象データは全部で <%= @count %> 件 ( 表示は 100件 まで )</div>

    <%= render partial: 'pri_documents/list', locals: { documents: @result } %>

</div>

<% if @result.size > 0 %>
    <%= form_for @document, url: staff_field_value_update_new_value_path do |f| %>
        <% if @document.errors.any? == false %>

            <div class="hidden_container">
                <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
                    <% next if field_def.field_type_class.no_batch? %>
                    <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
                <% end %>
            </div>

            <div class="form_button_container bottom">
                <%= submit_tag '次へ ( 新しい値の入力 )', class: ['btn', 'btn-primary'] %>
            </div>

        <% end %>

    <% end %>
<% end %>

