<div class="page-header">
  <h1>項目値修正 - 新しい値の入力</h1>
</div>

<%= form_for @document, url: staff_field_value_update_confirm_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="hidden_container">
        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if field_def.field_type_class.no_batch? %>
            <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
        <% end %>
    </div>

    <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
        <% next if field_def.field_type_class.no_batch? %>
        <% next if @search_field_map[field_def.id].blank_value? %>
         <div class="field_def fields_container">
            <div class="fields">
                <%= fields_for 'new_field[' + field_def.id.to_s + ']', field_def.empty_pri_field do |f| %>
                    <div class="field form-group">
                        <%= f.label :base, show_caption(field_def), class: "col-md-5 col-lg-4 control-label" %>
                        <div class="col-md-19 col-lg-20">
                            <%= render_pri_form_field(f, field_def, field_def.empty_pri_field) %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>

    <div class="form_button_container bottom">
        <%= submit_tag '次へ ( 値の確認 )', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>

