<%= form_for [:staff, @document_template], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @document_template.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @document_template.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @document_template.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name, "名前", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :name, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :description, "説明", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :description, class: 'form-control' %></div>
    </div>

    <div class="page-header">
        <h2>初期値</h2>
    </div>


    <ul id="input-group-tab" class="nav nav-tabs">
        <li class="<%= active?(@document_template.input_group_id, 0) %>"><a href="#main" data-toggle="tab" data-input-group-id="all"><%= show_locale_value InputGroup::ALL_CAPTION %></a></li>
        <% FieldDefLoader.input_groups.each do |input_group| %>
            <li class="<%= active?(@document_template.input_group_id, input_group.id) %>"><a href="#main" data-toggle="tab" data-input-group-id="<%= input_group.id %>"><%= input_group.name %></a></li>
        <% end %>
    </ul>

    <%= f.hidden_field :input_group_id, class: 'input_group_id' %>

    <div class="field form-group">
        <%= f.label :publish_to, '公開', class: "col-md-4 col-lg-3 control-label" %>
        <div class="col-md-20 col-lg-21">
            <label class="radio-inline">
                <%= f.radio_button :publish_to, PriDocument::PRIVATE_TYPE %> 非公開データ
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_to, PriDocument::LIMITED_TYPE %> 限定公開データ
            </label>
            <label class="radio-inline">
                <%= f.radio_button :publish_to, PriDocument::PUBLIC_TYPE %> 公開データ
            </label>
        </div>
    </div>

    <div class="field_defs">
        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <div class="field_def fields_container<%= show_input_group_class(field_def) %><%= show_input_field_def_class(field_def) %>"
                data-input-group-all-sort-index="<%= field_def.sort_index %>" <%= show_input_group_order_attr(field_def) %>
                data-input-group-all-field-caption="<%= show_caption(field_def) %>" <%= show_input_group_field_caption(field_def) %>
                data-input-group-all-placeholder="<%= field_def.description %>" <%= show_input_group_placeholder(field_def) %>
                data-input-group-all-must="<%= field_def.must %>" <%= show_input_group_must(field_def) %>
                data-field-def-id="<%= field_def.id %>">

                <div class="fields">
                    <% field = @field_form_value_by_field_def_id_map[field_def.id] %>
                    <%= fields_for 'field[' + field_def.id.to_s + ']', field.get_document_field do |f| %>
                        <div class="field form-group" data-id="<%= field.id || 0 %>">
                            <%= f.label :base, show_caption(field_def), class: "col-md-4 col-lg-3 control-label" %>
                            <div class="col-md-20 col-lg-21 field-input-block">
                                <% if field.errors.any? %>
                                    <% field.errors.messages.each do |k,msg| %>
                                        <span class="field-error-message"><%= msg.join(' ') %></span>
                                    <% end %>
                                <% end %>
                                <%= render_pri_form_field(f, field_def, field.get_document_field) %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="form_button_container bottom">
        <% if @document_template.new_record? == false %>
            <%= link_to '削除', [:staff, @document_template], class: ['left', 'btn', 'btn-xs', 'btn-danger'], method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
