<ol class="breadcrumb">
    <li><%= link_to 'テンプレート', staff_document_templates_path %></li>
    <li class="active">テンプレート 修正</li>
</ol>

<div class="page-header">
    <h1>テンプレート 修正</h1>
</div>

<%= render 'form' %>

