<div class="page-header">
  <h1>自分のテンプレート</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>説明</th>
                <th>修正</th>
            </tr>
        </thead>
        <tbody>
            <% DocumentTemplate.where(staff_id: current_staff.id).each do |document_template| %>
                <tr>
                    <td><%= link_to document_template.name, new_staff_pri_document_path(template_id: document_template.id) %></td>
                    <td><%= document_template.description %></td>
                    <td><%= link_to '修正', edit_staff_document_template_path(document_template) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_document_template_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<div class="page-header">
  <h1>他のユーザのテンプレート</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>説明</th>
                <th>ユーザ</th>
            </tr>
        </thead>
        <tbody>
            <% DocumentTemplate.where.not(staff_id: current_staff.id).each do |document_template| %>
                <tr>
                    <td><%= link_to document_template.name, new_staff_pri_document_path(template_id: document_template.id) %></td>
                    <td><%= document_template.description %></td>
                    <td><%= document_template.staff.try(:id) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
