<ol class="breadcrumb">
    <li><%= link_to 'テンプレート', staff_document_templates_path %></li>
    <li class="active">テンプレート 新規作成</li>
</ol>


<div class="page-header">
    <h1>テンプレート 新規作成</h1>
</div>


<%= render 'form' %>

