<div class="page-header">
    <h2>データグループの初期値</h2>
</div>

<ul id="input-group-tab" class="nav nav-tabs">
    <li class="active"><a href="#all" data-toggle="tab">全て</a></li>
    <% InputGroup.all.each do |input_group| %>
        <li><a href="#<%= input_group.id %>" data-toggle="tab"><%= input_group.name %></a></li>
    <% end %>
</ul>


<div class="tab-content">
    <div class="tab-pane active" id="all">

        <%= form_for staff_document_templates_path, :html => { :multipart => true, class: "form-horizontal", role: "form" } do |f| %>
            <% if current_staff.errors.any? %>
                <div id="error_explanation">
                    <div><%= t("errors.messages.not_saved", :count => current_staff.errors.count, :resource => 'データ') %></div>
                    <ul>
                        <% current_staff.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>


            <div class="field_defs">
                <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
                    <% field = @input_group_fields[0][field_def.id] %>
                    <%= fields_for 'field[0][' + field_def.id.to_s + ']', field do |f| %>
                        <div class="field form-group" data-id="<%= field.id || 0 %>">
                            <%= f.label :base, show_caption(field_def), class: "col-md-4 col-lg-3 control-label" %>
                            <div class="col-md-16 col-lg-17">
                                <%= f.text_field :default_value, class: 'form-control' %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <div class="form_button_container bottom">
                <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
            </div>

        <% end %>

    </div>
    <% InputGroup.all.each do |input_group| %>
        <div class="tab-pane" id="<%= input_group.id %>">

            <%= form_for staff_document_templates_path, :html => { :multipart => true, class: "form-horizontal", role: "form" } do |f| %>
                <% if current_staff.errors.any? %>
                    <div id="error_explanation">
                        <div><%= t("errors.messages.not_saved", :count => current_staff.errors.count, :resource => 'データ') %></div>
                        <ul>
                            <% current_staff.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="field_defs">
                    <% FieldDefLoaderForInput.input_group_fields(input_group.id).each do |input_group_field| %>
                        <% field = @input_group_fields[input_group.id][input_group_field.field_def_id] %>

                        <%= fields_for 'field[' + input_group.id.to_s + '][' + input_group_field.field_def_id.to_s + ']', field do |f| %>
                            <div class="field form-group">
                                <%= f.label :base, show_caption(input_group_field.field_def), class: "col-md-4 col-lg-3 control-label" %>
                                <div class="col-md-16 col-lg-17">
                                    <%= f.text_field :default_value, class: 'form-control' %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <div class="form_button_container bottom">
                    <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
                </div>

            <% end %>
        </div>
    <% end %>
</div>

