<%= form_for @ej_journal_def, url: staff_view_setting_ej_journal_update_path(@ej_journal_def), html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @ej_journal_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @ej_journal_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @ej_journal_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
        <li><a href="#voliss_list_view" data-toggle="tab">巻号部分</a></li>
        <li><a href="#article_list_view" data-toggle="tab">論文一覧部分</a></li>
        <li><a href="#static_list_view" data-toggle="tab">雑誌情報部分</a></li>
        <li><a href="#journal_view" data-toggle="tab">雑誌画面</a></li>
        <li><a href="#journal_top_view" data-toggle="tab">雑誌画面(雑誌トップ時)</a></li>
        <li><a href="#article_view" data-toggle="tab">各論文画面</a></li>
        <li><a href="#journal_all_index_view" data-toggle="tab">総目次画面</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="main">
            <div class="form-group">
                <%= f.label :css_string, "スタイルシート", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_area :css_string, rows: 10, class: 'form-control' %></div>
            </div>
            <div class="form-group">
                <%= f.label :upload_thumnail_file, 'サムネイル', class: "col-md-5 control-label" %>
                <div class="col-md-19">
                    <%= f.file_field :upload_thumnail_file %>(雑誌一覧で使用されます。※常に公開されます)
                </div>
            </div>
        </div>

        <div class="tab-pane" id="journal_top_view">
            <%= f.fields_for :journal_top_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/no_parts_form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="voliss_list_view">
            <%= f.fields_for :voliss_list_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/no_parts_form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="article_list_view">
            <%= f.fields_for :article_list_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/no_parts_form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="static_list_view">
            <%= f.fields_for :static_list_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/no_parts_form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="journal_view">
            <div class="form-group">
                <%= f.label :journal_view_type_id, "雑誌表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_view_type_id, show_journal_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :journal_sub_header_view_type_id, "雑誌サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_sub_header_view_type_id, show_journal_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :journal_sub_footer_view_type_id, "雑誌サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_sub_footer_view_type_id, show_journal_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :journal_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="article_view">
            <div class="form-group">
                <%= f.label :article_view_type_id, "各論文表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :article_view_type_id, show_article_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :article_sub_header_view_type_id, "各論文サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :article_sub_header_view_type_id, show_article_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :article_sub_footer_view_type_id, "各論文サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :article_sub_footer_view_type_id, show_article_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :article_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>

        <div class="tab-pane" id="journal_all_index_view">
            <div class="form-group">
                <%= f.label :journal_all_index_view_type_id, "総目次表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_all_index_view_type_id, show_journal_all_index_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :journal_all_index_sub_header_view_type_id, "総目次サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_all_index_sub_header_view_type_id, show_journal_all_index_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :journal_all_index_sub_footer_view_type_id, "総目次サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :journal_all_index_sub_footer_view_type_id, show_journal_all_index_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :journal_all_index_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
