<ul class="list-group attach-files">
    <% Dir::glob(File.join(@current_dir, '*')).select{|a|File.file?(a)}.each do |static_file| %>
        <li class="list-group-item attach-file">
            <div><i class="fa fa-file-o"></i> <%= File.basename static_file %></div>
            <div>サイズ : <%= File.size(static_file)/1000 %>KB</div>
            <div class='long-link'>URL : ${journal.attach}/<%= URI::escape(File.basename(static_file)) %></div>
            <div class="form_button_container">
                <%= link_to '#', 'data-url' => staff_view_setting_ej_journal_destroy_attach_file_path(@ej_journal_def, name: File.basename(static_file)), data: { confirm: 'Are you sure?' }, class: ['text-danger', 'delete-document-attach-file-button'] do %><i class="fa fa-trash-o"></i><% end %>
            </div>
        </li>
    <% end %>
</ul>
