<ol class="breadcrumb">
    <li><%= link_to '表示設定 - 雑誌', staff_view_setting_ej_path %></li>
    <li><%= link_to '雑誌 詳細', staff_view_setting_ej_show_path(@ej_def) %></li>
    <li><%= link_to @ej_journal_def.code + ' 詳細', staff_view_setting_ej_journal_show_path(@ej_journal_def) %></li>
    <li class="active"><%= @ej_journal_def.code %> 総目次</li>
</ol>

<div class="page-header">
    <h1><%= @ej_journal_def.code %> 総目次</h1>
</div>

<p>
    <%= form_tag staff_view_setting_ej_journal_all_journal_index_path(@ej_journal_def), method: :put, class: ['update-all-journal-index'] do |f| %>
        <%= hidden_field_tag :json_string, nil, class: 'json-string-field-value' %>
        <%= submit_tag '総目次を保存', class: ['btn', 'btn-primary', 'btn-block'] %>
    <% end %>
</p>

<ul id="all-journal-index">
<% view_state_word_relation(:EjWord).where(ej_def_id: @ej_def.id, journal: @ej_journal_def.value).order(set_locale_suffix('publish_date_sort_value') => :desc, volume: :desc, issue: :desc).each do |ej_word| %>
    <li class="voliss selectable-container" data-voliss-index="<%= ej_word.toc_index %>">
        <div class="voliss-title">
            <%= [ej_word.try(set_locale_suffix(:volume_caption)), ej_word.try(set_locale_suffix(:issue_caption))].delete_if{|a|a.blank?}.join(' - ') %> ( <%= ej_word.try(set_locale_suffix(:publish_date_caption)) %> )
            <%= button_tag 'articleを追加',
                type: 'button',
                class: ['btn', 'btn-link', 'btn-sm', 'show-btn']
            %>
        </div>

        <div class="panel panel-default form-panel selected-only-block">
            <div class="panel-body">
                <form class="form-horizontal article-form">
                    <% @ej_def.result_field_defs.each_with_index do |field_def, index| %>
                        <div class="form-group misc-field">
                            <%= label_tag 'field_' + index.to_s, show_caption(field_def[:ja]), class: "col-md-4 control-label" %>
                            <div class="col-md-10"><%= text_field_tag 'field_' + index.to_s + '_ja', nil, id: nil, placeholder: '日本語', class: 'form-control misc-field-ja' %></div>
                            <div class="col-md-10"><%= text_field_tag 'field_' + index.to_s + '_en', nil, id: nil, placeholder: '英語', class: 'form-control misc-field-en' %></div>
                        </div>
                    <% end %>
                    <div class="form-group">
                        <%= label_tag :section, '論文種類項目', class: "col-md-4 control-label" %>
                        <div class="col-md-10"><%= text_field_tag :section_ja, nil, id: nil, placeholder: '日本語', class: 'form-control section-field-ja' %></div>
                        <div class="col-md-10"><%= text_field_tag :section_en, nil, id: nil, placeholder: '英語', class: 'form-control section-field-en' %></div>
                    </div>
                    <div class="form-group">
                        <%= label_tag :start_page, '開始ページ', class: "col-md-4 control-label" %>
                        <div class="col-md-10"><%= text_field_tag :start_page_ja, nil, id: nil, placeholder: '日本語', class: 'form-control start-page-field-ja' %></div>
                        <div class="col-md-10"><%= text_field_tag :start_page_en, nil, id: nil, placeholder: '英語', class: 'form-control start-page-field-en' %></div>
                    </div>
                    <div class="form-group">
                        <%= label_tag :end_page, '終了ページ', class: "col-md-4 control-label" %>
                        <div class="col-md-10"><%= text_field_tag :end_page_ja, nil, id: nil, placeholder: '日本語', class: 'form-control end-page-field-ja' %></div>
                        <div class="col-md-10"><%= text_field_tag :end_page_en, nil, id: nil, placeholder: '英語', class: 'form-control end-page-field-en' %></div>
                    </div>
                    <div class="text-right">
                        <%= button_tag '追加',
                            type: 'button',
                            class: ['btn', 'btn-primary', 'btn-sm', 'add-article']
                        %>
                        <%= button_tag 'キャンセル',
                            type: 'button',
                            class: ['btn', 'btn-default', 'btn-sm', 'cancel-btn']
                        %>
                    </div>
                </form>
            </div>
        </div>

        <ul>
            <% (@json.try('[]', ej_word.toc_index) || []).each do |article| %>
                <% if article['type'] == 1 %>
                    <% ej_data = @document_map[ej_word.toc_index][article['id'].to_i] %>
                    <% if ej_data.present? %>
                        <% document = ej_data[:datum].document %>
                        <% ej_data[:used] = true %>
                        <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                        <li class="article" data-type="1" data-id="<%= document.id %>">
                            <% document.ej_result_field_defs.each do |field_def| %>
                                <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                            <% end %>
                            <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                        </li>
                    <% end %>
                <% else %>
                    <li class="article" data-type="2">
                        <% article['fields'].each do |field| %>
                            <div class="field"><span class="ja"><%= field['ja'] %></span> / <span class="en"><%= field['en'] %></span></div>
                        <% end %>
                        <div class="section"><span class="ja"><%= article['section']['ja'] %></span> / <span class="en"><%= article['section']['ja'] %></span></div>
                        <div class="start-page"><span class="ja"><%= article['start_page']['ja'] %></span> / <span class="en"><%= article['start_page']['ja'] %></span></div>
                        <div class="end-page"><span class="ja"><%= article['end_page']['ja'] %></span> / <span class="en"><%= article['end_page']['ja'] %></span></div>
                        <div class="btn-container">
                            <%= button_tag '修正',
                                type: 'button',
                                class: ['btn', 'btn-default', 'btn-xs', 'edit-article-btn']
                            %>
                            <%= button_tag '削除',
                                type: 'button',
                                class: ['btn', 'btn-default', 'btn-xs', 'delete-article-btn']
                            %>
                        </div>
                    </li>
                <% end %>
            <% end %>
            <% @document_map[ej_word.toc_index].reject{|k,v| v[:used] == true }.values.each do |datum| %>
                <% document = datum[:datum].document %>
                <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                <li class="article" data-type="1" data-id="<%= document.id %>">
                    <% document.ej_result_field_defs.each do |field_def| %>
                        <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                    <% end %>
                    <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                </li>
            <% end %>
        </ul>
    </li>
<% end %>
</ul>

<p>
    <%= form_tag staff_view_setting_ej_journal_all_journal_index_path(@ej_journal_def), method: :put, class: ['update-all-journal-index'] do |f| %>
        <%= hidden_field_tag :json_string, nil, class: 'json-string-field-value' %>
        <%= submit_tag '総目次を保存', class: ['btn', 'btn-primary', 'btn-block'] %>
    <% end %>
</p>

<div class="tmpl-container">
    <li class="article" data-type="2">
        <div class="btn-container">
            <%= button_tag '修正',
                type: 'button',
                class: ['btn', 'btn-default', 'btn-xs', 'edit-article-btn']
            %>
            <%= button_tag '削除',
                type: 'button',
                class: ['btn', 'btn-default', 'btn-xs', 'delete-article-btn']
            %>
        </div>
    </li>
</div>
