<ol class="breadcrumb">
    <li><%= link_to '表示設定 - 雑誌', staff_view_setting_ej_path %></li>
    <li><%= link_to '雑誌 詳細', staff_view_setting_ej_show_path(@ej_def) %></li>
    <li><%= link_to @ej_journal_def.code + ' 詳細', staff_view_setting_ej_journal_show_path(@ej_journal_def) %></li>
    <li class="active"><%= @ej_journal_def.code %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= @ej_journal_def.code %> 修正</h1>
</div>


<%= render 'form' %>





