<%= form_for [:staff, @static_page_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @static_page_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @static_page_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @static_page_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :code, "URLのパス", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :code, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :visible, '公開', class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :visible, PriDocument::PRIVATE_TYPE %> 非公開データ
            </label>
            <label class="radio-inline">
                <%= f.radio_button :visible, PriDocument::LIMITED_TYPE %> 限定公開データ
            </label>
            <label class="radio-inline">
                <%= f.radio_button :visible, PriDocument::PUBLIC_TYPE %> 公開データ
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :body_main_html_string_ja, 'メイン (日本語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :body_main_html_string_ja, rows: 10, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :body_main_html_string_en, 'メイン (英語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :body_main_html_string_en, rows: 10, class: 'form-control' %></div>
    </div>

    <%= f.fields_for :html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
