<ol class="breadcrumb">
    <li><%= link_to '静的ページ管理', staff_static_page_defs_path %></li>
    <li><%= link_to show_caption(@static_page_def) + ' 詳細', staff_static_page_def_path(@static_page_def) %></li>
    <li class="active"><%= show_caption(@static_page_def) %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@static_page_def) %> 修正</h1>
</div>

<%= render 'form' %>

