<div class="page-header">
  <h1>静的ページ管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-3">
            <col class="col-xs-2">
            <col class="col-xs-8">
            <col class="col-xs-8">
            <col class="col-xs-2">
        </colgroup>
        <thead>
            <tr>
                <th>URLのパス</th>
                <th>公開</th>
                <th>日本語名</th>
                <th>英語名</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% @static_page_defs.each do |static_page_def| %>
                <tr>
                    <td><%= link_to static_page_def.code, pri_static_page_path(static_page_def.code) %></td>
                    <td><%= show_visible(static_page_def) %></td>
                    <td><%= static_page_def.caption_ja %></td>
                    <td><%= static_page_def.caption_en %></td>
                    <td><%= link_to '詳細', staff_static_page_def_path(static_page_def) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_static_page_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

