<ol class="breadcrumb">
    <li><%= link_to '静的ページ管理', staff_static_page_defs_path %></li>
    <li class="active">静的ページ 新規作成</li>
</ol>

<div class="page-header">
    <h1>静的ページ 新規作成</h1>
</div>

<%= render 'form' %>

