<ol class="breadcrumb">
    <li><%= link_to '静的ページ管理', staff_static_page_defs_path %></li>
    <li class="active"><%= show_caption(@static_page_def) %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@static_page_def) %> 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>URLのパス</th>
                <td><%= @static_page_def.code %></td>
            </tr>
            <tr>
                <th>公開</th>
                <td><%= show_visible(@static_page_def) %></td>
            </tr>
            <tr>
                <th>日本語名</th>
                <td><%= @static_page_def.caption_ja %></td>
            </tr>
            <tr>
                <th>英語名</th>
                <td><%= @static_page_def.caption_en %></td>
            </tr>
            <tr>
                <th>メイン (日本語)</th>
                <td><div class="html-css-container"><%= @static_page_def.body_main_html_string_ja %></div></td>
            </tr>
            <tr>
                <th>メイン (英語)</th>
                <td><div class="html-css-container"><%= @static_page_def.body_main_html_string_en %></div></td>
            </tr>
            <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @static_page_def.html_set_def } %>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_static_page_def_path(@static_page_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_static_page_def_path(@static_page_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>

