<% fields.each do |field| %>
    <div class="field-nav"><%= field_def.set_unit_by_locale([get_custom_select_caption(field), field.value1, field.value2, field.value3, field.value4, field.value5].reject{|a|a.blank?}.reject{|a| a == 0 }.join(' - ')) %></div>
<% end %>
