<div class="form-group">
    <div class="col-md-9">
        <%= f.label :some_id, "名前", class: "control-label" %>
        <%= f.select :some_id,
            options_for_select(CustomSelectValue.where(custom_select_id: field_def.field_param_id1).map{|t| [show_caption(t), t.id] }, field.some_id),
            {:include_blank => "選択してください"},{class: 'form-control'}
        %>
    </div>
    <div class="col-md-3">
        <%= f.label :value1, "1層目", class: "control-label" %>
        <%= f.number_field :value1, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= f.label :value2, "2層目", class: "control-label" %>
        <%= f.number_field :value2, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= f.label :value3, "3層目", class: "control-label" %>
        <%= f.number_field :value3, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= f.label :value4, "4層目", class: "control-label" %>
        <%= f.number_field :value4, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= f.label :value5, "5層目", class: "control-label" %>
        <%= f.number_field :value5, min: 0, class: 'form-control' %>
    </div>
</div>
