<% fields.each do |field| %>
    <span class="line-field field-nav"><%= field_def.set_unit_by_locale([get_custom_select_caption(field), field.value1, field.value2, field.value3, field.value4, field.value5].reject{|a|a.blank?}.reject{|a| a == 0 }.join(' - ')) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
