<div class="form-group">
    <div class="col-md-9">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][some_id]', "名前", class: "control-label" %>
        <%= select_tag 'search_field[' + field_def.id.to_s + '][some_id]',
            options_for_select(CustomSelectValue.where(custom_select_id: field_def.field_param_id1).map{|t| [show_caption(t), t.id] }, field.some_id),
            prompt: "選択してください", class: 'form-control'
        %>
    </div>
    <div class="col-md-3">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][value1]', "1層目", class: "control-label" %>
        <%= number_field_tag 'search_field[' + field_def.id.to_s + '][value1]', field.value1, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][value2]', "2層目", class: "control-label" %>
        <%= number_field_tag 'search_field[' + field_def.id.to_s + '][value2]', field.value2, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][value3]', "3層目", class: "control-label" %>
        <%= number_field_tag 'search_field[' + field_def.id.to_s + '][value3]', field.value3, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][value4]', "4層目", class: "control-label" %>
        <%= number_field_tag 'search_field[' + field_def.id.to_s + '][value4]', field.value4, min: 0, class: 'form-control' %>
    </div>
    <div class="col-md-3">
        <%= label_tag 'search_field[' + field_def.id.to_s + '][value5]', "5層目", class: "control-label" %>
        <%= number_field_tag 'search_field[' + field_def.id.to_s + '][value5]', field.value5, min: 0, class: 'form-control' %>
    </div>
</div>
