<div class="field-simple-file pdf">
    <% if field.has_thumnail? %>
        <%= link_to view_state_path_gen(:file_path).call(field.document_id, field.field_def_id, field.id), class: 'link-thumbnail' do %>
            <%= image_tag view_state_path_gen(:file_thumnail_path).call(field.document_id, field.field_def_id, field.id), class: 'img-thumbnail thumbnail-left' %>
        <% end %>
    <% end %>
    <%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), view_state_path_gen(:file_path).call(field.document_id, field.field_def_id, field.id), class: 'link-file-title' %>
    <span class="file-size"><%= number_to_human_size(field.size) %></span>
    <%= field.publish_type_caption %>
    <% if field.embargo.present? %>( 公開日 <%= field.embargo.try(:strftime, "%Y-%m-%d") %> )<% end %>

    <% if field.has_thumnail? && ViewState.pri? %>
        <%= link_to 'サムネイルにする', change_thumnail_staff_pri_document_path(field.document_id, field_def_id: field.field_def_id, field_id: field.id), method: :put, class: ['btn', 'btn-primary', 'btn-xs'] %>
    <% end %>
    <% if @system_setting.enable_coverpage && ViewState.pri? %>
        <% if field.has_coverpage? %>
            <%= link_to 'カバーページ削除', destroy_coverpage_staff_pri_document_path(field.document_id, field_def_id: field.field_def_id, field_id: field.id), method: :put, class: ['btn', 'btn-primary', 'btn-xs'] %>
        <% else %>
            <%= link_to 'カバーページ生成', create_coverpage_staff_pri_document_path(field.document_id, field_def_id: field.field_def_id, field_id: field.id), method: :put, class: ['btn', 'btn-primary', 'btn-xs'] %>
        <% end %>
    <% end %>
</div>

