<% cache [view_state_cache_name, locale_name, cache_key_obj, cache_key_obj_value, @document] do %>
<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<%= render partial: 'view_types/shared/parmlink' %>

<div class="row view-detail-contents-row">
</div>

<div class="view-detail-item default-view">
    <table class="table">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <tbody>
            <% @document.detail_field_defs.drop(1).each do |field_def| %>
                <% next if @document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, @document) == false %>
                <tr class="field-<%= field_def.code %>">
                    <td class="field-<%= field_def.code %>-label"><%= show_field_def_caption(@document, field_def) %></td>
                    <td class="field-<%= field_def.code %>-value"><%= render_view_state_block_field(field_def, @document) %></td>
                </tr>
            <% end %>

            <%
                result = get_document_contains_links(@document)
                if result.present?
            %>
                <tr>
                    <td>他の一覧</td>
                    <td><%= result %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
<% end %>
