<% cache [view_state_cache_name, locale_name, cache_key_obj, cache_key_obj_value, @document] do %>
<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<div class="page-main view-detail-item nav-view">

    <div class="nav-field-main"><%= render_document_field_block_by_num(@document, @document.detail_field_defs, 1, '') %></div>

    <% @document.detail_field_defs.drop(2).each do |field_def| %>
        <% next if @document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, @document) == false %>
        <div style="text-align: right;">
            <%= render_view_state_block_field(field_def, @document) %>
        </div>
    <% end %>

</div>

<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
<% end %>
