<% cache [view_state_cache_name, locale_name, cache_key_obj, cache_key_obj_value, @document] do %>
<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<div class="page-main view-detail-item one-block-view">

    <%= render_document_field_block_by_num(@document, @document.detail_field_defs, 1, '') %>

</div>

<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
<% end %>
