<% cache [view_state_cache_name, locale_name, cache_key_obj, cache_key_obj_value, @document] do %>
<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<%= render partial: 'view_types/shared/parmlink' %>

<div class="view-detail-item table-view">
    <div class="panel panel-default">
        <table class="table th-nowrap">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-10">
            </colgroup>
            <thead>
                <tr>
                    <th>項目名</th>
                    <th>値</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td><%= @document.id %></td>
                </tr>
                <% @document.detail_field_defs.drop(1).each do |field_def| %>
                    <% next if @document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, @document) == false %>
                    <tr>
                        <td><%= show_field_def_caption(@document, field_def) %></td>
                        <td><%= render_view_state_block_field(field_def, @document) %></td>
                    </tr>
                <% end %>
                <%
                    result = get_document_contains_links(@document)
                    if result.present?
                %>
                    <tr>
                        <td>他の一覧</td>
                        <td><%= get_document_contains_links(@document) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= html_format @page_obj.try(:detail_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
<% end %>
