<div class="row">
    <div class="col-lg-5 col-md-4 journal-left-side">

        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="jounal-static-page-list">
            <li><%= link_to view_state_path_gen(:journal_path).call(@ej_journal_def.code) do %>Journal Home<% end %></li>

            <% @ej_journal_def.static_page_defs.each do |static_page_def| %>
                <li><%= link_to view_state_path_gen(:journal_static_page_path).call(@ej_journal_def.code, static_page_def.code) do %><%= show_caption(static_page_def) %><% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <form method="get" id="browse" class="journal-list-menu">
        <div><span class="border"><select name="url" id="url">

            <% @ej_words.each do |word| %>
                <option value="<%= gen_voliss_path(word) %>">Vol. <%= word.try(set_locale_suffix(:volume_caption)) %>, Iss. <%= word.try(set_locale_suffix(:issue_caption)) %></option>
            <% end %>


        </select>
        <input type="button" value="Browse" class="browse-btn" style="font-size:11px;"></span></div>
        </form>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

    <div class="col-lg-19 col-md-20 journal-not-left-side">
        <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %> &gt; <%= link_to [@ej_word.try(set_locale_suffix(:volume_caption)).to_s, @ej_word.try(set_locale_suffix(:issue_caption)).to_s].delete_if{|a|a.blank?}.join(' - '), gen_voliss_path(@ej_word) %></div>

        <div class="row">
            <div class="col-lg-18 col-md-17 journal-center">

            <% @document.set_ej_detail_field_defs(@ej_def.detail_field_defs) %>
                <% cache [view_state_cache_name, locale_name, cache_key_obj, @document] do %>

                <div class="article-journal-info">
                    <div><%= @ej_word.try(set_locale_suffix(:journal_caption)).to_s %> <%= @ej_word.try(set_locale_suffix(:volume_caption)) %> <%= @ej_word.try(set_locale_suffix(:issue_caption)) %></div>
                    <div><%= @ej_word.try(set_locale_suffix(:publish_date_caption)) %> 発行 </div>
                </div>

                <h1 class="article-title">
                    <%= render_document_ej_field_line_by_num(@document, @document.ej_detail_field_defs, 1, 'No Title') %>
                </h1>


                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 2) %>
                    <div class="article-editor"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 2, '著者なし') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 3) %>
                    <div class="article-field-label">Publication Date</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 3, '') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 4) %>
                    <div class="article-field-label">Abstract</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 4, '') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 5) %>
                    <div class="article-field-label">Document Type</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 5, '') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 6) %>
                    <div class="article-field-label">Keywords</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 6, '') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 7) %>
                    <div class="article-field-label">Comments</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 7, '') %></div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 8) %>
                    <div class="article-field-label">Link to PubMed</div>
                    <div class="article-field-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 8, '') %></div>
                <% end %>

                <% end %>
            </div>

            <div class="col-lg-6 col-md-7 journal-right-side">
                <div class="download-container">
                    <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 0) %>
                        <div class="article-download">
                            <div class="article-download-field">
                                <div class="article-download-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 0, 'ファイルなし') %></div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

</div>





