<div class="row">
    <div class="col-lg-5 col-md-4 journal-left-side">
        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="journal-list-menu">
            <li class="<%= show_ej_active %>"><%= link_to view_state_path_gen(:journal_path).call(@ej_journal_def.code) do %><i class="fa fa-chevron-right"></i> <%= t 'view.journal.top' %><% end %></li>
            <% @ej_words.each do |word| %>
                <li class="<%= show_ej_active(word) %>"><%= link_to gen_voliss_path(word) do %>
                    <i class="fa fa-chevron-right"></i> <%= [word.try(set_locale_suffix(:volume_caption)), word.try(set_locale_suffix(:issue_caption))].delete_if{|a|a.blank?}.join(' - ') %>
                    <% if word.try(set_locale_suffix(:publish_date_caption)).present? %>
                        <span class="publish-date" >( <%= word.try(set_locale_suffix(:publish_date_caption)) %> )</span>
                    <% end %>
                <% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

    <div class="col-lg-19 col-md-20 journal-not-left-side">
        <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
        <%= render partial: 'view_types/shared/parmlink' %>
        <div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %> &gt; <%= link_to [@ej_word.try(set_locale_suffix(:volume_caption)).to_s, @ej_word.try(set_locale_suffix(:issue_caption)).to_s].delete_if{|a|a.blank?}.join(' - '), gen_voliss_path(@ej_word) %></div>

        <div class="row">
            <div class="col-lg-18 col-md-17 journal-center">

            <% @document.set_ej_detail_field_defs(@ej_def.detail_field_defs) %>
                <% cache [view_state_cache_name, locale_name, cache_key_obj, @document] do %>

                <div class="article-journal-info">
                    <div><%= @ej_word.try(set_locale_suffix(:journal_caption)).to_s %> <%= @ej_word.try(set_locale_suffix(:volume_caption)) %> <%= @ej_word.try(set_locale_suffix(:issue_caption)) %></div>
                    <% if @ej_word.try(set_locale_suffix(:publish_date_caption)).present? %>
                        <div><%= @ej_word.try(set_locale_suffix(:publish_date_caption)) %> 発行 </div>
                    <% end %>
                </div>

                <h1 class="article-title">
                    <%= render_document_ej_field_line_by_num(@document, @document.ej_detail_field_defs, 1, 'タイトルなし') %>
                </h1>


                <div class="article-sub-title"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 2, '') %></div>

                <div class="article-editor"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 3, '著者なし') %></div>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 0) %>
                    <div class="article-download">
                        <div class="article-download-field">
                            <div class="article-download-label"><%= render_document_ej_field_caption_by_num(@document, @document.ej_detail_field_defs, 0, '本文ファイル') %></div>
                            <div class="article-download-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 0, 'ファイルなし') %></div>
                        </div>
                        <i class="fa fa-file-text article-download-icon"></i>
                    </div>
                <% end %>

                <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 4) %>
                    <div class="article-abstract">
                        <div class="article-abstract-label"><%= render_document_ej_field_caption_by_num(@document, @document.ej_detail_field_defs, 4, '抄録なし') %></div>
                        <div class="article-abstract-value"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 4, '') %></div>
                    </div>
                <% end %>

                <div class="journal-articles-info-container">
                    <div class="article-info">
                        <div class="article-info-value">About This Article</div>
                        <div class="article-info-bottom"></div>
                    </div>

                    <% @document.ej_detail_field_defs.drop(5).each do |field_def| %>
                        <% next if (field_def[:ja].blank? || (@document.field_empty?(field_def[:ja].id) && field_def[:ja].field_type_class.must_show_field?(field_def[:ja], @document) == false)) && (field_def[:en].blank? || (@document.field_empty?(field_def[:en].id) && field_def[:en].field_type_class.must_show_field?(field_def[:en], @document) == false)) %>
                        <div class="article-field-label"><%= show_ej_field_def_caption(@document, field_def) %></div>
                        <div class="article-field-value"><%= render_ej_view_state_block_field(field_def, @document) %></div>
                    <% end %>
                </div>

                <% end %>
            </div>

            <div class="col-lg-6 col-md-7 journal-right-side">
                <div class="download-container">
                    <%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 0, 'ファイルなし') %>
                </div>

                <div class="journal-static-page-container">
                    <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
                    <ul class="jounal-static-page-list">
                        <% @ej_journal_def.static_page_defs.each do |static_page_def| %>
                            <li><%= link_to view_state_path_gen(:journal_static_page_path).call(@ej_journal_def.code, static_page_def.code) do %><i class="fa fa-angle-double-right"></i> <%= show_caption(static_page_def) %><% end %></li>
                        <% end %>
                    </ul>
                    <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
                </div>

                <div class="journal-other-articles-container">
                    <div class="other-articles">
                        <div class="other-articles-value">Other Article</div>
                        <div class="other-articles-bottom"></div>
                    </div>

                    <%= html_format @ej_journal_def.try(:article_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

                    <% cache [view_state_cache_name, locale_name, cache_key_obj, @ej_word] do %>
                    <% @ej_word.get_data_relation.order(set_locale_suffix('sort_value') => :asc).includes(:document).each do |ej_datum| %>
                        <% document = ej_datum.document %>
                        <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                        <div class="view-article-item">
                            <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(@ej_word, document) %></div>
                            <% if @ej_def.start_page_field_def.present? && @ej_def.end_page_field_def.present? %>
                                <hr class="page-line" />
                                <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                            <% end %>
                        </div>
                    <% end %>
                    <% end %>

                    <%= html_format @ej_journal_def.try(:article_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
                </div>
            </div>
        </div>

        <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

</div>





