<div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %> &gt; <%= link_to [@ej_word.try(set_locale_suffix(:volume_caption)).to_s, @ej_word.try(set_locale_suffix(:issue_caption)).to_s].delete_if{|a|a.blank?}.join(' - '), gen_voliss_path(@ej_word) %></div>


<div class="journal-center">

    <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
    <%= render partial: 'view_types/shared/parmlink' %>

    <div class="journal-article">

        <% @document.set_ej_detail_field_defs(@ej_def.detail_field_defs) %>
        <% cache [view_state_cache_name, locale_name, cache_key_obj, @document] do %>

        <h1 class="article-title">
            <%= render_document_ej_field_line_by_num(@document, @document.ej_detail_field_defs, 1, 'タイトルなし') %>
        </h1>

        <div class="article-editor"><%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 2, '著者なし') %></div>


        <% if document_ej_field_exists?(@document, @document.ej_detail_field_defs, 0) %>
            <div class="article-download">
                <div class="article-download-field">
                    <div class="article-download-value"><i class="fa fa-file-text article-download-icon"></i> <%= render_document_ej_field_block_by_num(@document, @document.ej_detail_field_defs, 0, 'ファイルなし') %></div>
                </div>
            </div>
        <% end %>

        <div class="journal-articles-info-container">
            <% @document.ej_detail_field_defs.drop(3).each do |field_def| %>
                <% next if (field_def[:ja].blank? || (@document.field_empty?(field_def[:ja].id) && field_def[:ja].field_type_class.must_show_field?(field_def[:ja], @document) == false)) && (field_def[:en].blank? || (@document.field_empty?(field_def[:en].id) && field_def[:en].field_type_class.must_show_field?(field_def[:en], @document) == false)) %>
                <div class="article-field-label"><%= show_ej_field_def_caption(@document, field_def) %></div>
                <div class="article-field-value"><%= render_ej_view_state_block_field(field_def, @document) %></div>
            <% end %>
        </div>

        <% end %>
    </div>

    <%= html_format @page_obj.try(:article_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
</div>






