<%
hit_field_url = nil
hit_permalink_field = nil

PermalinkField.all.each do |permalink_field|
    permalink_field_def = FieldDefLoader.get_field_def(permalink_field.field_def_id)
    if permalink_field_def.field_type_class.must_show_field?(permalink_field_def, @document)
        hit_permalink_field = permalink_field
        hit_field_url = permalink_field_def.field_type_class.get_url(@document, permalink_field_def, nil)
        break
    else
        next if @document.field_contains_input_group?(permalink_field.field_def_id) == false
        fields = @document.get_fields(permalink_field.field_def_id)
        next if fields.blank?
        hit_permalink_field = permalink_field
        hit_field_url = permalink_field_def.field_type_class.get_url(@document, permalink_field_def, fields.first)
        break
    end
end
%>

<% if hit_field_url.present? %>
    <div class="alert alert-info earmas-right-side parmalink">
        <%= show_caption(hit_permalink_field) %> : <%= link_to hit_field_url, hit_field_url, class: 'alert-link' %>
    </div>
<% else %>
    <div class="alert alert-info earmas-right-side parmalink">
        <%= show_locale_value({ja:(@system_setting.permalink_caption_ja.present? ? @system_setting.permalink_caption_ja : 'Permalink'), en: (@system_setting.permalink_caption_en.present? ? @system_setting.permalink_caption_en :  'Permalink')}) %> : <%= link_to get_public_document_url(@document), get_public_document_url(@document), class: 'alert-link' %>
    </div>
<% end %>
