<div class="page-header">
    <h2>詳細画面での表示項目</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-4">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>日本語データ項目</th>
                <th>英語データ項目</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @ej_detail_fields.each do |ej_detail_field| %>
            <tr>
                <td><%= show_caption(ej_detail_field.ja_field_def) %></td>
                <td><%= show_caption(ej_detail_field.en_field_def) %></td>
                <td>
                    <%= link_to up_staff_ej_def_ej_detail_field_path(@ej_def, ej_detail_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_ej_def_ej_detail_field_path(@ej_def, ej_detail_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_ej_def_ej_detail_field_path(@ej_def, ej_detail_field) %></td>
                <td><%= link_to '削除', staff_ej_def_ej_detail_field_path(@ej_def, ej_detail_field), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_ej_def_ej_detail_field_path(@ej_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


