<div class="page-header">
  <h1>ファイル管理</h1>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>ファイル一覧 : <%= @static_file_url %></h4>
        <div class="row">
            <div class="col-md-12">
                <% if @sub_dir_param.present? %>
                    <%= form_tag staff_static_private_files_directory_path(dir: @sub_dir_param), method: :put do |f| %>
                        <div class="input-group">
                            <span class="input-group-btn"><%= submit_tag '名前変更', class: ['btn', 'btn-default'] %></span>
                            <%= text_field_tag :name, @current_dir_name, class: 'form-control' %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="col-md-12">
                <%= form_tag staff_static_private_files_directory_path(dir: @sub_dir_param) do |f| %>
                    <div class="input-group">
                        <%= text_field_tag :name, '', class: 'form-control' %>
                        <span class="input-group-btn"><%= submit_tag 'ディレクトリ追加', class: ['btn', 'btn-default'] %></span>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <%= form_tag url_for(dir: @sub_dir_param), :multipart => true do |f| %>

            <div class="form-group">
                <%= file_field_tag 'upload_file[]', :multiple => true %>
            </div>

            <div class="form_button_container">
                <%= submit_tag 'アップロード', class: ['btn', 'btn-primary'] %>
            </div>
        <% end %>
    </div>

    <ul class="list-group">
        <% if @sub_dirs.size >= 1 %>
            <li class="list-group-item list-group-item-warning">
                <div><i class="fa fa-reply"></i> <%= link_to '上のディレクトリへ', url_for(dir: @upper_sub_dir_param) %></div>
            </li>
        <% end %>
        <% Dir::glob(File.join(@current_dir, '*/')).each do |static_file| %>
            <li class="list-group-item list-group-item-warning">
                <div><i class="fa fa-folder-o"></i> <%= link_to File.basename(static_file), url_for(dir: (@sub_dirs + [File.basename(static_file)]).join(',')) %></div>
                <div class="form_button_container">
                    <%= link_to staff_static_private_files_directory_path(dir: (@sub_dirs + [File.basename(static_file)]).join(',')), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] do %><i class="fa fa-trash-o"></i><% end %>
                </div>
            </li>
        <% end %>
        <% Dir::glob(File.join(@current_dir, '*')).select{|a|File.file?(a)}.each do |static_file| %>
            <li class="list-group-item">
                <% if @sub_dir_param.blank? %>
                    <div><i class="fa fa-file-o"></i> <%= link_to File.basename(static_file), staff_static_private_files_donwload_current_path(dir: @sub_dir_param, file: File.basename(static_file).unpack('H*')[0]) %></div>
                <% else %>
                    <div><i class="fa fa-file-o"></i> <%= link_to File.basename(static_file), staff_static_private_files_donwload_path(dir: @sub_dir_param, file: File.basename(static_file).unpack('H*')[0]) %></div>
                <% end %>
                <div>サイズ : <%= File.size(static_file)/1000 %>KB</div>
                <div class="form_button_container">
                    <%= link_to url_for(name: File.basename(static_file), dir: @sub_dir_param), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] do %><i class="fa fa-trash-o"></i><% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>

