<% fields.each do |field| %>
    <div class="field-repository-person">
        <% person = field_def.field_type_class.get_person(field) %>
        <% if person != nil %>
            <% if person.enable_default_url?(@people_setting.url) %>
                <% if (I18n.locale == :ja && field.family_name_ja.present?) || field.family_name_en.blank? %>
                    <%= link_to field_def.set_unit_ja(field.get_field_type.format_name_ja(field, field.family_name_ja, field.given_name_ja)), person.gen_default_url(html_variable(@people_setting.url)) %>
                <% else %>
                    <%= link_to field_def.set_unit_en(field.get_field_type.format_name_en(field, field.family_name_en, field.given_name_en)), person.gen_default_url(html_variable(@people_setting.url)) %>
                <% end %>
            <% else %>
                <% if (I18n.locale == :ja && field.family_name_ja.present?) || field.family_name_en.blank? %>
                    <%= field_def.set_unit_ja(field.get_field_type.format_name_ja(field, field.family_name_ja, field.given_name_ja)) %>
                <% else %>
                    <%= field_def.set_unit_en(field.get_field_type.format_name_en(field, field.family_name_en, field.given_name_en)) %>
                <% end %>
            <% end %>
            <% if I18n.locale == :ja && field.affiliation_ja.present? %>
                <span class="affiliation"><%= field_def.set_unit_ja(field.affiliation_ja) %></span>
            <% elsif field.affiliation_en.present? %>
                <span class="affiliation"><%= field_def.set_unit_en(field.affiliation_en) %></span>
            <% end %>
            <% 1.upto(10) do |index| %>
                <% if @people_setting.locale_key_param(index).present? && person.send("key#{index}").present? %>
                    <%= link_to person.gen_url(html_variable(@people_setting.locale_key_param(index)), person.send("key#{index}")), class: "external" do %><%= send_local_name(@people_setting, "key#{index}_name") %> <span class="fa fa-external-link"></span><% end %>
                <% end %>
            <% end %>
        <% else %>
            <% if (I18n.locale == :ja && field.family_name_ja.present?) || field.family_name_en.blank? %>
                <%= field_def.set_unit_ja(field.get_field_type.format_name_ja(field, field.family_name_ja, field.given_name_ja)) %>
            <% else %>
                <%= field_def.set_unit_en(field.get_field_type.format_name_en(field, field.family_name_en, field.given_name_en)) %>
            <% end %>
            <% if I18n.locale == :ja && field.affiliation_ja.present? %>
                <span class="affiliation"><%= field_def.set_unit_ja(field.affiliation_ja) %></span>
            <% elsif field.affiliation_en.present? %>
                <span class="affiliation"><%= field_def.set_unit_en(field.affiliation_en) %></span>
            <% end %>
        <% end %>
    </div>
<% end %>
