<%= fields_for 'field_def', field_def do |f| %>
    <div class="form-group">
        <%= f.label :default_value, 'CSVでの初期値', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :default_value, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :in_field_delim, 'CSVでの項目区切り文字', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :in_field_delim, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :field_param_text1, '※ 日本語の名前表記', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :field_param_text1, class: 'form-control', placeholder: 'デフォルトでは {family} {given}' %></div>
    </div>
    <div class="form-group">
        <%= f.label :field_param_text2, '※ 英語の名前表記', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :field_param_text2, class: 'form-control', placeholder: 'デフォルトでは {given} {family}' %></div>
    </div>
<% end %>

