<div class="form-group">
    <%= f.label :person_id, "ID", class: "col-md-4 control-label" %>
    <div class="col-md-6"><%= f.text_field :person_id, class: 'form-control id' %></div>
    <div class="col-md-14 earmas-right-side"><%= button_tag '入力内容で人物を検索', type: 'button', url: search_staff_people_path, class: "btn btn-default search-person" %></div>
</div>

<div class="search-result"></div>

<div class="form-group">
    <%= f.label :family_name_ja, "日本語姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_ja, class: 'form-control family-name-ja' %></div>
    <%= f.label :given_name_ja, "日本語名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_ja, class: 'form-control given-name-ja' %></div>
</div>
<div class="form-group">
    <%= f.label :family_name_en, "英語姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_en, class: 'form-control family-name-en' %></div>
    <%= f.label :given_name_en, "英語名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_en, class: 'form-control given-name-en' %></div>
</div>
<div class="form-group">
    <%= f.label :family_name_tra, "読み姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_tra, class: 'form-control family-name-tra' %></div>
    <%= f.label :given_name_tra, "読み名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_tra, class: 'form-control given-name-tra' %></div>
</div>

<div class="form-group">
    <%= f.label :family_name_alt1, "別名1 姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_alt1, class: 'form-control' %></div>
    <%= f.label :given_name_alt1, "別名1 名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_alt1, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :family_name_alt2, "別名2 姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_alt2, class: 'form-control' %></div>
    <%= f.label :given_name_alt2, "別名2 名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_alt2, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :family_name_alt3, "別名3 姓", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :family_name_alt3, class: 'form-control' %></div>
    <%= f.label :given_name_alt3, "別名3 名", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :given_name_alt3, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= f.label :affiliation_ja, "日本語 所属", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :affiliation_ja, class: 'form-control affiliation-ja' %></div>
    <%= f.label :affiliation_en, "英語 所属", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :affiliation_en, class: 'form-control affiliation-en' %></div>
</div>

<div class="form-group">
    <%= f.label :optional_key1, "連携キー 1", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :optional_key1, class: 'form-control affiliation-ja' %></div>
    <%= f.label :optional_key2, "連携キー 2", class: "col-md-4 control-label" %>
    <div class="col-md-8"><%= f.text_field :optional_key2, class: 'form-control affiliation-en' %></div>
</div>
