<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][person_id]', "ID", class: "col-md-3 control-label" %>
    <div class="col-md-6"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][person_id]', field.person_id, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_ja]', "日本語姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_ja]', field.family_name_ja, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_ja]', "日本語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_ja]', field.given_name_ja, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_en]', "英語姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_en]', field.family_name_en, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_en]', "英語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_en]', field.given_name_en, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_tra]', "読み姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_tra]', field.family_name_tra, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_tra]', "読み名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_tra]', field.given_name_tra, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_alt1]', "別名1 姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_alt1]', field.family_name_alt1, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_alt1]', "別名1 名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_alt1]', field.given_name_alt1, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_alt2]', "別名2 姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_alt2]', field.family_name_alt2, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_alt2]', "別名2 名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_alt2]', field.given_name_alt2, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][family_name_alt3]', "別名3 姓", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][family_name_alt3]', field.family_name_alt3, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][given_name_alt3]', "別名3 名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][given_name_alt3]', field.given_name_alt3, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][affiliation_ja]', "日本語 所属", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][affiliation_ja]', field.affiliation_ja, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][affiliation_en]', "英語 所属", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][affiliation_en]', field.affiliation_en, class: 'form-control' %></div>
</div>


