<% count_values.each do |count_value| %>
    <% field = field_def.get_pri_type_class.new_count_field(count_value[0]) %>
    <tr>
        <td><%= show_caption(field_def) %></td>
        <td>
            <div><%= field.person_id %></div>
            <div><%= field.family_name_ja.to_s + ' ' + field.given_name_ja.to_s %></div>
            <div><%= field.family_name_en.to_s + ' ' + field.given_name_en.to_s %></div>
            <div><%= field.family_name_tra.to_s + ' ' + field.given_name_tra.to_s %></div>
            <div><%= field.family_name_alt1.to_s + ' ' + field.given_name_alt1.to_s %></div>
            <div><%= field.family_name_alt2.to_s + ' ' + field.given_name_alt2.to_s %></div>
            <div><%= field.family_name_alt3.to_s + ' ' + field.given_name_alt3.to_s %></div>
            <div><%= field.affiliation_ja %></div>
            <div><%= field.affiliation_en %></div>
        </td>
        <td><%= count_value[1] %></td>
    </tr>
<% end %>
