<div class="page-header">
  <h1>一括処理 - 値の確認</h1>
</div>

<%= form_for @document, url: staff_batch_start_batch_path do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="hidden_container">
        <%= text_field_tag 'search_document[input_group_id]', @search_input_group_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[publish_to]', @search_publish_to, class: 'form-control' %>
        <%= text_field_tag 'search_document[self_doi_type]', @search_self_doi_type, class: 'form-control' %>
        <%= text_field_tag 'search_document[creator_staff_id]', @search_creator_staff_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[updater_staff_id]', @search_updater_staff_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[created_at_start]', @search_created_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[created_at_end]', @search_created_at_end, class: 'form-control' %>
        <%= text_field_tag 'search_document[updated_at_start]', @search_updated_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[updated_at_end]', @search_updated_at_end, class: 'form-control' %>
        <%= text_field_tag 'search_document[published_at_start]', @search_published_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[published_at_end]', @search_published_at_end, class: 'form-control' %>

        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if field_def.field_type_class.no_batch? %>
            <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
        <% end %>
    </div>

    <div class="hidden_container">
        <%= text_field_tag 'new_document[input_group_id]', @new_input_group_id, class: 'form-control' %>
        <%= text_field_tag 'new_document[publish_to]', @new_publish_to, class: 'form-control' %>
        <%= text_field_tag 'new_document[self_doi_type]', @new_self_doi_type, class: 'form-control' %>
        <%= text_field_tag 'new_document[creator_staff_id]', @new_creator_staff_id, class: 'form-control' %>
        <%= text_field_tag 'new_document[updater_staff_id]', @new_updater_staff_id, class: 'form-control' %>

        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if field_def.field_type_class.no_batch? %>
            <%= fields_for 'new_field[' + field_def.id.to_s + ']', @new_field_map[field_def.id] do |f| %>
                    <%= render_pri_form_field(f, field_def, @new_field_map[field_def.id]) %>
            <% end %>
        <% end %>
    </div>

    <table class="table">
        <tr>
            <th>項目</th>
            <th>値</th>
            <th>出現回数</th>
        </tr>

        <% if @exist_values_field_def_map[:input_group_id].present? %>
            <% @exist_values_field_def_map[:input_group_id].each do |count_value| %>
                <tr>
                    <td>データグループ</td>
                    <td><%= show_input_group(count_value[0]) %></td>
                    <td><%= count_value[1] %></td>
                </tr>
            <% end %>
        <% end %>
        <% if @exist_values_field_def_map[:publish_to].present? %>
            <% @exist_values_field_def_map[:publish_to].each do |count_value| %>
                <tr>
                    <td>公開</td>
                    <td><%= show_publish_to(count_value[0]) %></td>
                    <td><%= count_value[1] %></td>
                </tr>
            <% end %>
        <% end %>
        <% if @exist_values_field_def_map[:self_doi_type].present? %>
            <% @exist_values_field_def_map[:self_doi_type].each do |count_value| %>
                <tr>
                    <td>SelfDOIの種類</td>
                    <td><%= show_self_doi_type(count_value[0]) %></td>
                    <td><%= count_value[1] %></td>
                </tr>
            <% end %>
        <% end %>
        <% if @exist_values_field_def_map[:updater_staff_id].present? %>
            <% @exist_values_field_def_map[:updater_staff_id].each do |count_value| %>
                <tr>
                    <td>更新者</td>
                    <td><%= show_staff_email(count_value[0]) %></td>
                    <td><%= count_value[1] %></td>
                </tr>
            <% end %>
        <% end %>
        <% if @exist_values_field_def_map[:creator_staff_id].present? %>
            <% @exist_values_field_def_map[:creator_staff_id].each do |count_value| %>
                <tr>
                    <td>作成者</td>
                    <td><%= show_staff_email(count_value[0]) %></td>
                    <td><%= count_value[1] %></td>
                </tr>
            <% end %>
        <% end %>

        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if @exist_values_field_def_map[field_def.id].blank? %>
             <div class="field_def fields_container">
                <div class="fields">
                    <div class="field">
                        <%= render_value_count_field_def(field_def, @exist_values_field_def_map[field_def.id]) %>
                    </div>
                </div>
            </div>
        <% end %>

    </table>


    <div class="form_button_container bottom">
        <%= submit_tag '処理開始', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>

