<div class="page-header">
  <h1>一括処理</h1>
</div>

<div class="alert alert-info">
    <p>
        <strong>作業終了後に未公開データ再構築をおこなってください。</strong><br />
        未公開データ再構築を行うまで以下の状態になります。
    </p>
    <p>
        <ul>
            <li>未公開データの検索、一覧、詳細画面でのデータと表記が異なる状態になっている可能性があります。</li>
        </ul>
    </p>

    <% if @system_setting.data_lock %>
        <div class="text-right">
            <%= button_to "処理中", staff_batch_pri_reindex_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'], disabled: "disabled" %>
        </div>
    <% else %>
        <div class="text-right">
            <%= button_to "未公開データ再構築", staff_batch_pri_reindex_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'] %>
        </div>
    <% end %>
</div>

<div class="well">
    一括修正の対象となるのは値があるデータです。データが無い場合は対象となりません。<br />
    項目に値がないデータに値を追加することはできません。<br />
    複数入力が可能な項目の場合、全ての値が更新されますので、期待した動きにはなりません。
</div>

<%= form_for @document, url: staff_batch_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= label_tag 'search_document[input_group_id]', 'データグループ', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[input_group_id]', '', @search_input_group_id.blank? %> 全て
            </label>
            <% InputGroup.all.each do |input_group| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'search_document[input_group_id]', input_group.id, (@search_input_group_id == input_group.id.to_s) %> <%= input_group.name %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document[publish_to]', '公開', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[publish_to]', '', @search_publish_to.blank? %> 全て
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[publish_to]', PriDocument::PRIVATE_TYPE, (@search_publish_to == PriDocument::PRIVATE_TYPE.to_s) %> 非公開データ
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[publish_to]', PriDocument::LIMITED_TYPE, (@search_publish_to == PriDocument::LIMITED_TYPE.to_s) %> 限定公開データ
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[publish_to]', PriDocument::PUBLIC_TYPE, (@search_publish_to == PriDocument::PUBLIC_TYPE.to_s) %> 公開データ
            </label>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document[self_doi_type]', 'SelfDOIの種類', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[self_doi_type]', '', @search_self_doi_type.blank? %> 全て
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_UNUSED, (@search_self_doi_type == SelfDoiDocument::SELF_DOI_TYPE_UNUSED.to_s) %> なし
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_JALC_AUTO, (@search_self_doi_type == SelfDoiDocument::SELF_DOI_TYPE_JALC_AUTO.to_s) %> Jalc自動採番
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_JALC_MANU, (@search_self_doi_type == SelfDoiDocument::SELF_DOI_TYPE_JALC_MANU.to_s) %> Jalc直接入力
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_CROS_AUTO, (@search_self_doi_type == SelfDoiDocument::SELF_DOI_TYPE_CROS_AUTO.to_s) %> CrossRef自動採番
            </label>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document[creator_staff_id]', '作成者', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[creator_staff_id]', '', @search_creator_staff_id.blank? %> 全て
            </label>
            <% Staff.all.each do |staff| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'search_document[creator_staff_id]', staff.id, (@search_creator_staff_id == staff.id.to_s) %> <%= staff.email %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag  'search_document[updater_staff_id]', '更新者', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'search_document[updater_staff_id]', '', @search_updater_staff_id.blank? %> 全て
            </label>
            <% Staff.all.each do |staff| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'search_document[updater_staff_id]', staff.id, (@search_updater_staff_id == staff.id.to_s) %> <%= staff.email %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document', '作成日', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <%= label_tag 'search_document[created_at_start]', '開始', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[created_at_start]', @search_created_at_start, class: 'form-control' %></div>
            <%= label_tag 'search_document[created_at_end]', '終了', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[created_at_end]', @search_created_at_end, class: 'form-control' %></div>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document', '更新日', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <%= label_tag 'search_document[updated_at_start]', '開始', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[updated_at_start]', @search_updated_at_start, class: 'form-control' %></div>
            <%= label_tag 'search_document[updated_at_end]', '終了', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[updated_at_end]', @search_updated_at_end, class: 'form-control' %></div>
        </div>
    </div>

    <div class="field form-group">
        <%= label_tag 'search_document', '公開日', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <%= label_tag 'search_document[published_at_start]', '開始', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[published_at_start]', @search_published_at_start, class: 'form-control' %></div>
            <%= label_tag 'search_document[published_at_end]', '終了', class: "col-md-2 control-label" %>
            <div class="col-md-10"><%= date_field_tag 'search_document[published_at_end]', @search_published_at_end, class: 'form-control' %></div>
        </div>
    </div>

    <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
        <% next if field_def.field_type_class.no_batch? %>
         <div class="field_def fields_container">
            <div class="fields">
                <div class="field form-group">
                    <%= label_tag 'search_field[' + field_def.id.to_s + ']', show_caption(field_def), class: "col-md-5 col-lg-4 control-label" %>
                    <div class="col-md-19 col-lg-20">
                        <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <div class="form_button_container top bottom">
        <%= submit_tag '検索', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>


<div class="panel panel-default">
    <div class="panel-heading">対象データは全部で <%= @count %> 件 ( 表示は 100件 まで )</div>

    <%= render partial: 'pri_documents/list', locals: { documents: @result } %>

</div>

<% if @result.size > 0 %>
    <%= form_for @document, url: staff_batch_new_value_path do |f| %>
        <% if @document.errors.any? == false %>

            <div class="hidden_container">
                <%= text_field_tag 'search_document[input_group_id]', @search_input_group_id, class: 'form-control' %>
                <%= text_field_tag 'search_document[publish_to]', @search_publish_to, class: 'form-control' %>
                <%= text_field_tag 'search_document[self_doi_type]', @search_self_doi_type, class: 'form-control' %>
                <%= text_field_tag 'search_document[creator_staff_id]', @search_creator_staff_id, class: 'form-control' %>
                <%= text_field_tag 'search_document[updater_staff_id]', @search_updater_staff_id, class: 'form-control' %>
                <%= text_field_tag 'search_document[created_at_start]', @search_created_at_start, class: 'form-control' %>
                <%= text_field_tag 'search_document[created_at_end]', @search_created_at_end, class: 'form-control' %>
                <%= text_field_tag 'search_document[updated_at_start]', @search_updated_at_start, class: 'form-control' %>
                <%= text_field_tag 'search_document[updated_at_end]', @search_updated_at_end, class: 'form-control' %>
                <%= text_field_tag 'search_document[published_at_start]', @search_published_at_start, class: 'form-control' %>
                <%= text_field_tag 'search_document[published_at_end]', @search_published_at_end, class: 'form-control' %>

                <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
                    <% next if field_def.field_type_class.no_batch? %>
                    <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
                <% end %>
            </div>

            <div class="form_button_container bottom">
                <%= submit_tag '次へ ( 新しい値の入力 )', class: ['btn', 'btn-primary'] %>
            </div>

        <% end %>

    <% end %>
<% end %>

