<div class="page-header">
  <h1>一括処理 - 新しい値の入力</h1>
</div>

<%= form_for @document, url: staff_batch_confirm_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @document.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="hidden_container">
        <%= text_field_tag 'search_document[input_group_id]', @search_input_group_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[publish_to]', @search_publish_to, class: 'form-control' %>
        <%= text_field_tag 'search_document[self_doi_type]', @search_self_doi_type, class: 'form-control' %>
        <%= text_field_tag 'search_document[creator_staff_id]', @search_creator_staff_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[updater_staff_id]', @search_updater_staff_id, class: 'form-control' %>
        <%= text_field_tag 'search_document[created_at_start]', @search_created_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[created_at_end]', @search_created_at_end, class: 'form-control' %>
        <%= text_field_tag 'search_document[updated_at_start]', @search_updated_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[updated_at_end]', @search_updated_at_end, class: 'form-control' %>
        <%= text_field_tag 'search_document[published_at_start]', @search_published_at_start, class: 'form-control' %>
        <%= text_field_tag 'search_document[published_at_end]', @search_published_at_end, class: 'form-control' %>

        <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
            <% next if field_def.field_type_class.no_batch? %>
            <%= render_search_field_def(field_def, @search_field_map[field_def.id]) %>
        <% end %>
    </div>

    <div class="form-group">
        <%= label_tag 'new_document[input_group_id]', 'データグループ', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[input_group_id]', '', true %> 変更しない
            </label>
            <% InputGroup.all.each do |input_group| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'new_document[input_group_id]', input_group.id %> <%= input_group.name %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag 'new_document[publish_to]', '公開', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[publish_to]', '', true %> 変更しない
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[publish_to]', PriDocument::PRIVATE_TYPE %> 非公開データ
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[publish_to]', PriDocument::LIMITED_TYPE %> 限定公開データ
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[publish_to]', PriDocument::PUBLIC_TYPE %> 公開データ
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag 'new_document[self_doi_type]', 'SelfDOIの種類', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[self_doi_type]', '', true %> 変更しない
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_UNUSED %> なし
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_JALC_AUTO %> Jalc自動採番
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_JALC_MANU %> Jalc直接入力
            </label>
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[self_doi_type]', SelfDoiDocument::SELF_DOI_TYPE_CROS_AUTO %> CrossRef自動採番
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag 'new_document[creator_staff_id]', '作成者', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[creator_staff_id]', '', true %> 変更しない
            </label>
            <% Staff.all.each do |staff| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'new_document[creator_staff_id]', staff.id %> <%= staff.email %>
                </label>
            <% end %>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag  'new_document[updater_staff_id]', '更新者', class: "col-md-5 col-lg-4 control-label" %>
        <div class="col-md-19 col-lg-20">
            <label class="radio-inline">
                <%= radio_button_tag 'new_document[updater_staff_id]', '', true %> 変更しない
            </label>
            <% Staff.all.each do |staff| %>
                <label class="radio-inline">
                    <%= radio_button_tag 'new_document[updater_staff_id]', staff.id %> <%= staff.email %>
                </label>
            <% end %>
        </div>
    </div>


    <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
        <% next if field_def.field_type_class.no_batch? %>
         <div class="field_def fields_container">
            <div class="fields">
                <%= fields_for 'new_field[' + field_def.id.to_s + ']', field_def.empty_pri_field do |f| %>
                    <div class="field form-group">
                        <%= f.label :base, show_caption(field_def), class: "col-md-5 col-lg-4 control-label" %>
                        <div class="col-md-19 col-lg-20">
                            <%= render_pri_form_field(f, field_def, field_def.empty_pri_field) %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>

    <div class="form_button_container bottom">
        <%= submit_tag '次へ ( 値の確認 )', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>

