<%= fields_for 'field_def', field_def do |f| %>
    <div class="form-group">
        <%= f.label :default_value, 'CSVでの初期値', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :default_value, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :field_param_text1, '機関コード', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :field_param_text1, placeholder: '1234 等', class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :sort_conv_pattern, '※ 並び順の対象抽出', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :sort_conv_pattern, placeholder: '数値を対象にする場合は (\d+)', class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :sort_conv_format, '※ 並び順のフォーマット', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :sort_conv_format, placeholder: '10桁埋めの場合 %010s', class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :check_format, '入力時チェックパターン', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :check_format, placeholder: '数値の場合は \d+', class: 'form-control' %></div>
    </div>
<% end %>

