<ul id="input-group-tab" class="nav nav-tabs">
    <li class="<%= active?(@document.input_group_id, 0) %>"><a href="#main" data-toggle="tab" data-input-group-id="all"><%= show_locale_value InputGroup::ALL_CAPTION %></a></li>
    <% FieldDefLoader.input_groups.each do |input_group| %>
        <li class="<%= active?(@document.input_group_id, input_group.id) %>"><a href="#main" data-toggle="tab" data-input-group-id="<%= input_group.id %>"><%= input_group.name %></a></li>
    <% end %>
    <li><a href="#attach_files_view" data-toggle="tab">埋め込み用ファイル</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">

        <%= form_for [:staff, @document], :html => { :multipart => true, class: "form-horizontal", role: "form" } do |f| %>
            <% if @document.errors.any? %>
                <div id="error_explanation">
                    <div><%= t("errors.messages.not_saved", :count => @document.errors.count, :resource => 'データ') %></div>
                    <ul>
                        <% @document.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= f.hidden_field :input_group_id, class: 'input_group_id' %>

            <div class="field form-group">
                <%= f.label :publish_to, '公開', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <label class="radio-inline">
                        <%= f.radio_button :publish_to, PriDocument::PRIVATE_TYPE %> 非公開データ
                    </label>
                    <label class="radio-inline">
                        <%= f.radio_button :publish_to, PriDocument::LIMITED_TYPE %> 限定公開データ
                    </label>
                    <label class="radio-inline">
                        <%= f.radio_button :publish_to, PriDocument::PUBLIC_TYPE %> 公開データ
                    </label>
                </div>
            </div>

            <% if @oaipmh_setting.present? && @oaipmh_setting.enable_self_doi %>
                <% if self_doi_type_selectable(@document) %>
                    <div class="field form-group">
                        <%= f.label :self_doi_type, 'SelfDOIの種類', class: "col-md-4 col-lg-3 control-label" %>
                        <div class="col-md-16 col-lg-17">
                            <table>
                                <tr>
                                    <td>
                                        <label class="radio-inline">
                                            <%= f.radio_button :self_doi_type, SelfDoiDocument::SELF_DOI_TYPE_UNUSED, class: 'self-doi-type-select' %> なし
                                        </label>
                                    </td>
                                    <td></td>
                                </tr>
                                <% if @oaipmh_setting.enable_self_jalc_doi %>
                                    <tr>
                                        <td>
                                            <label class="radio-inline">
                                                <%= f.radio_button :self_doi_type, SelfDoiDocument::SELF_DOI_TYPE_JALC_AUTO, class: 'self-doi-type-select need-prefix-input need-prefix-jalc' %> Jalc自動採番
                                            </label>
                                        </td>
                                        <td class="self-doi-input-td">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span>http://doi.org/<%= @oaipmh_setting.self_doi_jalc_prefix %></span>
                                                </span>
                                                <%= f.text_field :self_doi_jalc_auto_input, class: 'col-md-20 col-lg-21 form-control', placeholder: '任意で雑誌名など' %>
                                                <span class="input-group-addon"><%= @document.id.present? ? @document.id.to_s : 'このデータのID' %></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="radio-inline">
                                                <%= f.radio_button :self_doi_type, SelfDoiDocument::SELF_DOI_TYPE_JALC_MANU, class: 'self-doi-type-select need-input' %> Jalc直接入力
                                            </label>
                                        </td>
                                        <td class="self-doi-input-td">
                                            <div class="input-group">
                                                <span class="input-group-addon">http://doi.org/</span>
                                                <%= f.text_field :self_doi_jalc_manu_input, class: 'col-md-20 col-lg-21 form-control', placeholder: 'NDLのDOIのみ' %>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                                <% if @oaipmh_setting.enable_self_crossref_doi %>
                                    <tr>
                                        <td>
                                            <label class="radio-inline">
                                                <%= f.radio_button :self_doi_type, SelfDoiDocument::SELF_DOI_TYPE_CROS_AUTO, class: 'self-doi-type-select need-prefix-input need-prefix-crossref' %> CrossRef自動採番
                                            </label>
                                        </td>
                                        <td class="self-doi-input-td">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span>http://doi.org/<%= @oaipmh_setting.self_doi_crossref_prefix %></span>
                                                </span>
                                                <%= f.text_field :self_doi_crossref_auto_input, class: 'col-md-20 col-lg-21 form-control', placeholder: '任意で雑誌名など' %>
                                                <span class="input-group-addon"><%= @document.id.present? ? @document.id.to_s : 'このデータのID' %></span>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    </div>
                <% elsif self_doi_status_selectable(@document) %>
                    <div class="field form-group">
                        <%= f.label :self_doi_type, 'SelfDOIの削除', class: "col-md-4 col-lg-3 control-label" %>
                        <div class="col-md-16 col-lg-17">
                            <label class="radio-inline">
                                <%= f.radio_button :self_doi_type, get_self_doi_delete_type(@document), class: '' %> 削除する
                            </label>
                            <label class="radio-inline">
                                <%= f.radio_button :self_doi_type, @document.get_pub_document.self_doi_type, :checked => (@document.self_doi_type != get_self_doi_delete_type(@document)), class: '' %> <%= show_self_doi_type(@document.get_pub_document.self_doi_type) %> <%= @document.self_doi_url %> 
                            </label>
                        </div>
                    </div>
                <% else %>
                    <fieldset disabled>
                    <div class="field form-group">
                        <%= f.label :self_doi_type, 'SelfDOI', class: "col-md-4 col-lg-3 control-label" %>
                        <div class="col-md-16 col-lg-17">
                            <label class="radio-inline">
                                <%= f.radio_button :self_doi_type, get_self_doi_delete_type(@document), class: '' %> 削除済
                            </label>
                        </div>
                    </div>
                    </fieldset>
                <% end %>
            <% end %>

            <div class="field form-group">
                <%= f.label :upload_thumnail_file, 'サムネイル', class: "col-md-4 col-lg-3 control-label" %>
                <div class="col-md-20 col-lg-21">
                    <% if @document.new_record? == false && @document.has_thumnail? %>
                        <%= image_tag view_state_document_thumnail_path_gen(@document), class: 'img-thumbnail thumbnail-left' %>
                        <%= f.check_box :upload_thumnail_file_delete %> <%= f.label :upload_thumnail_file_delete, 'サムネイル削除' %>
                    <% end %>

                    <%= f.file_field :upload_thumnail_file %>
                </div>
            </div>

            <div class="field_defs">
                <% FieldDefLoaderForInput.field_defs.each do |field_def| %>
                    <% fields_index_start %>
                    <div class="field_def fields_container<%= show_input_group_class(field_def) %><%= show_input_field_def_class(field_def) %>"
                        data-input-group-all-sort-index="<%= field_def.sort_index %>" <%= show_input_group_order_attr(field_def) %>
                        data-input-group-all-field-caption="<%= show_caption(field_def) %>" <%= show_input_group_field_caption(field_def) %>
                        data-input-group-all-placeholder="<%= field_def.description %>" <%= show_input_group_placeholder(field_def) %>
                        data-input-group-all-must="<%= field_def.must %>" <%= show_input_group_must(field_def) %>
                        data-field-def-id="<%= field_def.id %>">

                        <div class="fields">
                            <% @field_form_value_by_field_def_id_map[field_def.id][:values].each do |field| %>
                                <%= fields_for 'field[' + field_def.id.to_s + '][' + field_index(field.id) + ']', field do |f| %>
                                    <div class="field form-group <%= show_delete_flg_in_form(field) %>" data-id="<%= field.id || 0 %>">

                                        <%= f.label :base, show_caption(field_def), class: "col-md-4 col-lg-3 control-label" %>
                                        <%= f.hidden_field :deleted, class: 'deleted_flg' %>
                                        <div class="col-md-16 col-lg-17 field-input-block">
                                            <% if field.errors.any? %>
                                                <% field.errors.messages.each do |k,msg| %>
                                                    <span class="field-error-message"><%= msg.join(' ') %></span>
                                                <% end %>
                                            <% end %>
                                            <%= render_pri_form_field(f, field_def, field) %>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <%= button_tag '削除', type: 'button',  class: ['btn', 'btn-xs', 'btn-danger', 'field_del_button'] %>
                                            <%= button_tag 'クリア', type: 'button',  class: ['btn', 'btn-xs', 'btn-danger', 'field_clear_button'] %>
                                            <% if field_def.multi %>
                                                <%= button_tag '下に追加', type: 'button',  class: ['btn', 'btn-xs', 'btn-primary', 'field_add_button'] %>
                                            <% end %>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>

                        <div class="tmpl" next-field-index="<%= next_field_index %>">
                            <%= fields_for 'field[' + field_def.id.to_s + '][0]', @field_form_value_by_field_def_id_map[field_def.id][:tmpl] do |f| %>
                                <div class="field form-group" data-id="0">
                                    <%= f.label :base, show_caption(field_def), class: "col-md-4 col-lg-3 control-label" %>
                                    <div class="col-md-16 col-lg-17 field-input-block">
                                        <%= render_pri_form_tmpl_field_def(f, field_def, @field_form_value_by_field_def_id_map[field_def.id][:tmpl]) %>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <%= button_tag '削除', type: 'button',  class: ['btn', 'btn-xs', 'btn-danger', 'field_del_button'] %>
                                        <%= button_tag 'クリア', type: 'button',  class: ['btn', 'btn-xs', 'btn-danger', 'field_clear_button'] %>
                                        <% if field_def.multi %>
                                            <%= button_tag '下に追加', type: 'button',  class: ['btn', 'btn-xs', 'btn-primary', 'field_add_button'] %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="form_button_container bottom">
                <% if @document.new_record? == false %>
                    <%= link_to '削除', [:staff, @document], class: ['left', 'btn', 'btn-xs', 'btn-danger'], method: :delete, data: { confirm: 'データを削除します。よろしいですか？' } %>
                <% end %>
                <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
            </div>

        <% end %>
    </div>

    <div class="tab-pane" id="attach_files_view">

        <% if @document.new_record? == false %>
            <div class="document-attach-files">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>ファイル一覧</h4>

                        <p>ファイルのURLをコピーして埋め込みたい場所に貼り付けて下さい。<br />
                        埋め込みが可能なのは「テキストHTML」、「テキストMarkDown」のみです。</p>

                    </div>
                    <div class="panel-body">
                        <%= form_tag create_attach_file_staff_pri_document_path(@document), :multipart => true, target: 'file-upload-frame' do |f| %>
                            <div class="form-group">
                                <%= file_field_tag :upload_file %>
                            </div>

                            <div class="form_button_container">
                                <%= submit_tag 'アップロード', class: ['btn', 'btn-primary', 'append-document-attach-file-button'] %>
                            </div>
                        <% end %>
                    </div>

                    <%= render partial: 'pri_documents/static_files' %>
                    <iframe id="file-upload-frame" name="file-upload-frame" class="post-target-frame" style="width:0;height:0;border:0;"></iframe>
                </div>

            </div>
        <% else %>
            <p>埋め込み用ファイルの処理は、修正時にしか行えません。
            一旦登録を行って下さい。</p>
        <% end %>
    </div>

</div>
