<table class="table th-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>公開</th>
            <th>入力</th>
            <% FieldDefLoader.result_field_defs.each do |field_def| %>
                <th><%= show_caption(field_def) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
    <% documents.each do |document| %>
        <tr class="<%= (document.deleted ? 'bg-danger' : '') %>">
            <% if document.deleted == true %>
                <td><%= document.id %>(削除データ)</td>
            <% else %>
                <td><%= link_to document.id, staff_pri_document_path(document.id) %></td>
            <% end %>
            <td><%= show_document_publish_to(document) %></td>
            <td><%= FieldDefLoader.get_input_group(document.input_group_id).try(:name) %></td>
            <% FieldDefLoader.result_field_defs.each do |field_def| %>
                <% if document.field_empty?(field_def.id) && field_def.field_type_class.no_value? == false %>
                    <td></td>
                <% else %>
                    <td><%= render_view_state_line_field(field_def, document) %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
