<div class="page-header">
    <h1>登録したデータ</h1>
</div>

<%= form_tag staff_path, class: "form-horizontal" do |f| %>
    <%= hidden_field_tag 'creator', params['creator'] %>
    <%= hidden_field_tag 'updater', params['updater'] %>
    <%= hidden_field_tag 'publish_to', params['publish_to'] %>

    <div class="panel panel-default">
        <div class="panel-heading">検索条件</div>
        <div class="panel-body">
            <div class="form-group">
                <%= label_tag 'all', 'すべて', class: "col-md-6 col-lg-5 control-label" %>
                <div class="col-md-18 col-lg-19">
                    <%= text_field_tag 'all', params['all'], class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag 'include_file', "ファイル本文を含む", class: "col-md-6 col-lg-5  control-label" %>
                <div class="col-md-18 col-lg-19">
                    <label class="radio-inline">
                        <%= radio_button_tag 'include_file', 'exclude', (params['include_file'] != 'include') %> 含まない
                    </label>
                    <label class="radio-inline">
                        <%= radio_button_tag 'include_file', 'include', (params['include_file'] == 'include') %> 含む
                    </label>
                </div>
            </div>
            <div class="toggle-container <%= show_search_term %>">
                <div class="toggle-show-container">
                    <div class="text-right"><a href="#" class="toggle-show-button">詳細検索</a></div>
                </div>
                <div class="toggle-hide-container">
                    <p class="text-right"><a href="#" class="toggle-hide-button">閉じる</a></p>
                    <% SearchDef.all.each do |search| %>
                        <div class="form-group">
                            <%= label_tag search.id, show_caption(search), class: "col-md-6 col-lg-5 control-label" %>
                            <div class="col-md-18 col-lg-19">
                                <%= text_field_tag search.id, params[search.id.to_s], class: 'form-control' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel-footer earmas-right-side">
            <%= submit_tag '検索', class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<p class="well well-sm text-right">検索結果 <%= @count %> 件</p>

<div class="result-header-items">
    <%= render partial: 'shared/download_form'%>
    <%= render partial: 'shared/sort_form'%>
</div>

<div class="paginate-holder">
    <%= paginate @result %>
</div>

<%= render partial: 'pri_documents/list', locals: { documents: @documents } %>

<div class="paginate-holder">
    <%= paginate @result %>
</div>

