<div class="detail-view-block">

    <div class="page-header">
        <% if @document.self_doi_checked == false %>
            <% @document.check_self_doi(@oaipmh_setting) %>
            <% if @document.errors.any? %>
                <div id="error_explanation">
                    <div>SelfDOIの値に誤りがあります。修正を行わない限り公開対象にはなりません。</div>
                    <ul>
                        <% @document.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <% end %>

        <h1>
            <% if @document.has_thumnail? %>
                <div class="thumbnail-left">
                <%= image_tag view_state_document_thumnail_path_gen(@document), class: 'img-thumbnail' %>
                <div><%= link_to 'サムネイル削除', destroy_thumnail_staff_pri_document_path(@document.id), method: :put, class: ['left', 'btn', 'btn-xs', 'btn-danger'] %></div>
                </div>
            <% end %>
            <%= render_document_title(@document, '詳細') %>
            <small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small>
        </h1>

        <% if @document.deleted %>
            <div class="alert alert-danger">
                このデータは削除されています。公開処理を行っていない場合は復活可能です。
                <% if @document.get_pub_document.deleted == false %>
                    <%= link_to '復活', undelete_staff_pri_document_path(@document.id), class: ['left', 'btn', 'btn-xs', 'btn-danger'], method: :put, data: { confirm: '削除データを復活させます。よろしいですか？' } %>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="panel panel-default">
        <table class="table">
            <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-10">
            </colgroup>
            <thead>
                <tr>
                    <th>項目名</th>
                    <th>値</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td><%= @document.id %></td>
                </tr>
                <tr>
                    <td>公開</td>
                    <td><%= show_document_publish_to(@document) %></td>
                </tr>

                <% if @oaipmh_setting.present? && @oaipmh_setting.enable_self_doi %>
                    <tr>
                        <td>SelfDOI</td>
                        <td><%= show_self_doi(@document) %></td>
                    </tr>
                <% end %>

                <% @document.detail_field_defs.drop(1).each do |field_def| %>
                    <% next if @document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, @document) == false %>
                    <tr>
                        <td><%= show_field_def_caption(@document, field_def) %></td>
                        <td><%= render_view_state_block_field(field_def, @document) %></td>
                    </tr>
                <% end %>
                <tr>
                    <td>作成者</td>
                    <td><%= @document.creator_staff.try(:email) || '削除されたユーザ' %></td>
                </tr>
                <tr>
                    <td>最終更新者</td>
                    <td><%= @document.updater_staff.try(:email) || '削除されたユーザ' %></td>
                </tr>
                <tr>
                    <td>公開日時</td>
                    <td>
                        <% if @document.pub_document != nil && @document.pub_document.publish_at_history.present? %>
                            <% @document.pub_document.publish_at_history.reverse.each do |publish_at| %>
                                <div><%= publish_at.in_time_zone.strftime('%F %T') %></div>
                            <% end %>
                        <% else %>
                            未公開
                        <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
