<h2>検索対象項目</h2>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-10">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>データ項目</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @search_field_defs.each do |search_field_def| %>
            <tr>
                <td><%= show_caption search_field_def.field_def %></td>
                <td><%= link_to '修正', edit_staff_search_def_search_field_def_path(@search_def, search_field_def) %></td>
                <td><%= link_to '削除', staff_search_def_search_field_def_path(@search_def, search_field_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_search_def_search_field_def_path(@search_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>



