<ol class="breadcrumb">
    <li><%= link_to '検索管理', staff_search_defs_path %></li>
    <li><%= link_to show_caption(@search_def) + " 詳細", staff_search_def_path(@search_def) %></li>
    <li class="active">検索対象項目 修正</li>
</ol>

<div class="page-header">
    <h1>検索対象項目 修正</h1>
</div>

<%= render 'form' %>

