<ol class="breadcrumb">
    <li><%= link_to '検索管理', staff_search_defs_path %></li>
    <li class="active">結果画面での表示項目 新規作成</li>
</ol>

<div class="page-header">
    <h1>結果画面での表示項目 新規作成</h1>
</div>

<%= render 'form' %>

