<%= form_for [:staff, @permalink_field], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @permalink_field.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @permalink_field.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @permalink_field.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :field_def_id, "データ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :field_def_id, FieldDefLoader.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "日本語", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "英語", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
