<ol class="breadcrumb">
    <li><%= link_to 'Permalink 設定', staff_permalink_fields_path %></li>
    <li class="active">Permalinkのデータ項目 修正</li>
</ol>

<div class="page-header">
    <h1>Permalinkのデータ項目 修正</h1>
</div>

<%= render 'form' %>

