<ol class="breadcrumb">
    <li><%= link_to 'Permalink 設定', staff_permalink_fields_path %></li>
    <li class="active">基本設定 修正</li>
</ol>

<div class="page-header">
    <h1>基本設定 修正</h1>
</div>

<%= form_for @system_setting, url: update_default_setting_staff_permalink_fields_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @system_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @system_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @system_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :permalink_caption_ja, "日本語", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :permalink_caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :permalink_caption_en, "英語", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :permalink_caption_en, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
