<div class="page-header">
    <h1>Permalink 設定</h1>
</div>

<p>
    詳細画面でPermalinkとして表示される項目についての設定です。<br />
</p>

<p>
    基本設定では、Permalinkの表記。Permalink 項目ではPermalinkとして使用される項目を指定します。<br />
    指定しない場合は、「Parmalink」と表示されます。
</p>

<p>
    Permalink 項目は複数の項目を指定でき、上から順にチェックされ値がある物が使用されます。
</p>

<div class="page-header">
    <h2>基本設定</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-5">
        </colgroup>
        <thead>
            <tr>
                <th>項目</th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>日本語名</th>
                <td><%= @system_setting.permalink_caption_ja %></td>
            </tr>
            <tr>
                <th>英語名</th>
                <td><%= @system_setting.permalink_caption_en %></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_default_setting_staff_permalink_fields_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


<div class="page-header">
    <h2>Permalink 項目</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-5">
            <col class="col-xs-5">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>データ項目</th>
                <th>名前</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% PermalinkField.all.each do |permalink_field| %>
            <tr>
                <td><%= show_caption(permalink_field.field_def) %></td>
                <td><%= show_caption(permalink_field) %></td>
                <td>
                    <%= link_to up_staff_permalink_field_path(permalink_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_permalink_field_path(permalink_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_permalink_field_path(permalink_field) %></td>
                <td><%= link_to '削除', staff_permalink_fields_path(permalink_field), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_permalink_field_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


