<div class="page-header">
  <h1>SelfDOIデータチェック</h1>
</div>

<div class="alert alert-info">
    <p>
        <strong>SelfDOIチェックにパスしていないデータの一覧です。</strong><br />
        未チェックのデータ、またはチェックに失敗しているデータは公開対象になりません。<br />
        エラーの内容は詳細画面で確認出来ます。
    </p>

    <div class="form_button_container bottom">
        <% if @system_setting.data_lock %>
            <%= link_to "処理中", staff_self_doi_check_path, method: :post, class: ['btn', 'btn-primary'], disabled: 'disabled' %>
        <% else %>
            <%= link_to "チェック開始", staff_self_doi_check_path, method: :post, class: ['btn', 'btn-primary'] %>
        <% end %>
    </div>
</div>

<div class="paginate-holder">
    <%= paginate @documents %>
</div>

<%= render partial: 'pri_documents/list', locals: { documents: @documents } %>

<div class="paginate-holder">
    <%= paginate @documents %>
</div>

