<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<div class="view-result-items box-view">
    <% index = 0 %>
    <div class="row">
        <% @documents.each do |document| %>
        <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
            <% document.set_result_field_defs(@page_obj.result_field_defs) %>
            <% if index != 0 && index % 4 == 0 %>
                </div>
                <div class="row">
            <% end %>
            <div class="view-result-item col-xs-6" document-id="<%= document.id %>">
                <div class="img-thumbnail-container">
                    <% if document.has_thumnail? %>
                        <%= image_tag view_state_document_thumnail_path_gen(document), class: "img-thumbnail" %>
                    <% end %>
                    <div class="title"><%= link_to render_document_field_line_by_num(document, document.result_field_defs, 0, 'タイトルなし'), gen_document_path(@level_params, document) %></div>
                </div>
                <% document.result_field_defs.drop(1).each do |field_def| %>
                    <% next if document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, document) == false %>
                    <div class="field"><%= render_view_state_line_field(field_def, document) %></div>
                <% end %>
            </div>
            <% index += 1 %>
        <% end %>
        <% end %>
    </div>
</div>

<% if @volume.present? %>
    <div class="earmas-right-side">
        <%= link_to "一覧", gen_current_list_path(@level_params) %>
    </div>
<% else %>
    <div class="paginate-holder">
        <%= paginate @result %>
    </div>
<% end %>

<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
