<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<% 
    data = []
    @documents.each do |document|
        document.set_result_field_defs(@page_obj.result_field_defs)
        field_defs = FieldDefLoader.field_defs_by_field_type_id_by_input_group_id(document.input_group_id, FieldTypes::Nav::TYPE_ID)
        next if field_defs.blank?
        field_def = field_defs.first
        nav_field = document.get_fields(field_def.id).first
        next if nav_field.blank?

        data << {field: nav_field, document: document}
    end

    data = data.sort{|a,b| a[:field].send(set_locale_suffix('get_sort_value')) <=> b[:field].send(set_locale_suffix('get_sort_value')) }
%>

<div class="view-result-items nav-view">
    <ul class="nav-tree">
        <% prev_nav = nil %>
        <% data.each do |datum| %>
            <% document = datum[:document] %>
            <% prev_nav = datum[:field].nav_level if prev_nav == nil %>

            <% if prev_nav.size == datum[:field].nav_level.size %>
                <li>
                    <%= link_to gen_document_path(@level_params, datum[:document]) do %>
                        <%= datum[:field].nav_level.drop(1).reject{|a|a.blank?}.join(' - ') %>
                        <%= render_document_field_line_by_num(document, document.result_field_defs, 0, 'タイトルなし') %>
                    <% end %>
                </li>
            <% end %>

            <% if prev_nav.size < datum[:field].nav_level.size %>
                <% (datum[:field].nav_level.size - prev_nav.size).times do %>
                    <li>
                        <ul class="nav-tree">
                <% end %>
                <li>
                    <%= link_to gen_document_path(@level_params, datum[:document]) do %>
                        <%= datum[:field].nav_level.drop(1).reject{|a|a.blank?}.join(' - ') %>
                        <%= render_document_field_line_by_num(document, document.result_field_defs, 0, 'タイトルなし') %>
                    <% end %>
                </li>
            <% end %>

            <% if prev_nav.size > datum[:field].nav_level.size %>
                <% (prev_nav.size - datum[:field].nav_level.size).times do %>
                        </li>
                    </ul>
                <% end %>
                <li>
                    <%= link_to gen_document_path(@level_params, datum[:document]) do %>
                        <%= datum[:field].nav_level.drop(1).reject{|a|a.blank?}.join(' - ') %>
                        <%= render_document_field_line_by_num(document, document.result_field_defs, 0, 'タイトルなし') %>
                    <% end %>
                </li>
            <% end %>
            <% prev_nav = datum[:field].nav_level %>
        <% end %>
    </ul>
</div>

<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
