<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<div class="view-result-items news-view">
    <ul class="list-group">
        <% @documents.each do |document| %>
        <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
            <% document.set_result_field_defs(@page_obj.result_field_defs) %>
            <li class="news-group-item earmas-left-right-container">
                <div class="earmas-left-side">
                    <%= link_to render_document_field_line_by_num(document, document.result_field_defs, 0, 'タイトルなし'), gen_document_path(@level_params, document) %>
                </div>
                <div class="earmas-right-side">
                    <%= render_document_field_line_by_num(document, document.result_field_defs, 1, '') %>
                </div>
            </li>
        <% end %>
        <% end %>
    </ul>
</div>

<% if @volume.present? %>
    <div class="earmas-right-side">
        <%= link_to t('view.read_more'), gen_current_list_path(@level_params) %>
    </div>
<% else %>
    <div class="paginate-holder">
        <%= paginate @result %>
    </div>
<% end %>


<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
