<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<div class="view-result-items table-view">
    <table class="table th-nowrap">
        <thead>
            <tr>
                <% @page_obj.default_result_field_defs.each do |field_def| %>
                    <th><%= show_caption(field_def) %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
        <% @documents.each do |document| %>
        <% cache [view_state_cache_name, locale_name, cache_key_obj, document] do %>
            </tr>
                <td>
                    <%= link_to render_document_field_line_by_num(document, @page_obj.default_result_field_defs, 0, show_caption( @page_obj.default_result_field_defs[0]) + 'なし'), gen_document_path(@level_params, document) %>
                </td>
                <% @page_obj.default_result_field_defs.drop(1).each do |field_def| %>
                    <% if document.field_empty?(field_def.id) && field_def.field_type_class.must_show_field?(field_def, document) == false %>
                        <td></td>
                    <% else %>
                        <td><%= render_view_state_line_field(field_def, document) %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        <% end %>
        </tbody>
    </table>
</div>

<% if @volume.present? %>
    <div class="earmas-right-side">
        <%= link_to t('view.read_more'), gen_current_list_path(@level_params) %>
    </div>
<% else %>
    <div class="paginate-holder">
        <%= paginate @result %>
    </div>
<% end %>

<%= html_format @page_obj.try(:result_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
