<%= form_for @list_field_def, url: staff_view_setting_list_list_field_update_path(@list_def, @list_field_def), html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @list_field_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @list_field_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @list_field_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :list_param_view_type_id, "値一覧形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_view_type_id, show_list_param_view_type_option, {}, { class: 'form-control' } %></div>
    </div>
    <div class="form-group">
        <%= f.label :list_param_sub_header_view_type_id, "値一覧サブヘッダ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_sub_header_view_type_id, show_list_param_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
    </div>
    <div class="form-group">
        <%= f.label :list_param_sub_footer_view_type_id, "値一覧サブフッタ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_sub_footer_view_type_id, show_list_param_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <%= f.fields_for :list_param_html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>


    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
