<ol class="breadcrumb">
    <li><%= link_to '表示設定 - リスト', staff_view_setting_list_path %></li>
    <li><%= link_to show_caption(@list_def) + ' 詳細', staff_view_setting_list_show_path(@list_def) %></li>
    <li><%= link_to 'リスト階層 詳細', staff_view_setting_list_list_field_show_path(@list_def, @list_field_def) %></li>
    <li class="active">リスト階層 修正</li>
</ol>

<div class="page-header">
    <h1>リスト階層 修正</h1>
</div>

<%= render 'form' %>

