<ol class="breadcrumb">
    <li><%= link_to '表示設定 - リスト', staff_view_setting_list_path %></li>
    <li><%= link_to show_caption(@list_def) + ' 詳細', staff_view_setting_list_show_path(@list_def) %></li>
    <li class="active">リスト階層 詳細</li>
</ol>

<div class="page-header">
    <h1>リスト階層 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-8">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>フィールド</th>
                <td><%= show_caption @list_field_def.field_def %></td>
            </tr>
            <tr>
                <th>一覧タイプ</th>
                <td><%= show_list_field_type @list_field_def %></td>
            </tr>
            <tr>
                <th>並び順</th>
                <td><%= show_list_field_sort_type @list_field_def %></td>
            </tr>
            <tr>
                <th>昇順/降順</th>
                <td><%= show_bool_value(ListDef::REVERSE_BOOL_VALUE, @list_field_def.sort_reverse) %></td>
            </tr>
            <tr>
                <th>表示形式</th>
                <td><%= show_list_param_view_type @list_field_def.list_param_view_type_id %></td>
            </tr>
            <tr>
                <th>サブヘッダ表示形式</th>
                <td><%= show_list_param_sub_header_view_type @list_field_def.list_param_sub_header_view_type_id %></td>
            </tr>
            <tr>
                <th>サブフッタ表示形式</th>
                <td><%= show_list_param_sub_footer_view_type @list_field_def.list_param_sub_footer_view_type_id %></td>
            </tr>
            <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @list_field_def.list_param_html_set_def } %>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_view_setting_list_list_field_edit_path(@list_def, @list_field_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
