<% fields.each do |field| %>
	<span class="line-field field-simple-person"><%= field_def.set_unit_by_locale(field.get_field_type.format_name(field, field.value1, field.value2)) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
