<div class="page-header">
    <h1>Change your password</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: "form-horizontal", role: "form" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
        <%= f.label :password, "新しいパスワード", class: "col-md-4 control-label" %>
        <div class="col-md-10"><%= f.password_field :password, :autofocus => true, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, "新しいパスワード（再入力）", class: "col-md-4 control-label" %>
        <div class="col-md-10"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-4 text-right">
            <%= f.submit "Change my password", class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10 col-md-offset-4 text-right">
        <%= render "devise/shared/links" %>
    </div>
</div>

