<div class="page-header">
    <h1><%= t('sessions.forgotpassword') %>?</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal", role: "form" }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :email, class: "col-md-4 control-label" %>
        <div class="col-md-10"><%= f.email_field :email, :autofocus => true, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-4">
            <%= f.submit "パスワードの再設定方法を送信する", class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10 col-md-offset-4 text-right">
        <%= render "devise/shared/links" %>
    </div>
</div>

