<div class="form-group">
    <%= f.label :value1, "値", class: "control-label col-md-2" %>
    <div class="col-md-12"><%= f.text_field :value1, class: 'form-control' %></div>
    <%= f.label :value2, "コード", class: "control-label col-md-3" %>
    <div class="col-md-7"><%= f.text_field :value2, class: 'form-control' %></div>
</div>
