<% fields.each do |field| %>
    <span class="line-field field-grant-id"><%= field_def.set_unit_by_locale(field.value1) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
