<%= fields_for 'field_def', field_def do |f| %>
    <div class="form-group">
        <%= f.label :default_value, 'CSVでの初期値', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :default_value, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :field_param_id1, '選択肢', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.select :field_param_id1, CustomSelect.all.map{|t| [t.name, t.id] }, {}, class: 'form-control' %></div>
    </div>
<% end %>
