<% fields.each do |field| %>
	<span class="line-field field-simple-select"><%= field_def.set_unit_by_locale(get_custom_select_caption(field)) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
