<%= select_tag 'search_field[' + field_def.id.to_s + '][some_id]',
    options_for_select(CustomSelectValue.where(custom_select_id: field_def.field_param_id1).map{|t| [show_caption(t), t.id] }, field.some_id),
    prompt: "選択してください",
    class: 'form-control'
%>

