<% count_values.each do |count_value| %>
    <% field = field_def.get_pri_type_class.new_count_field(count_value[0]) %>
    <% field.field_def_id = field_def.id %>
    <tr>
        <td><%= show_caption(field_def) %></td>
        <td><%= get_custom_select_caption(field) %></td>
        <td><%= count_value[1] %></td>
    </tr>
<% end %>
