<%= form_for [:staff, @list_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @list_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @list_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @list_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
        <li><a href="#result_view" data-toggle="tab">結果画面</a></li>
        <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="main">
            <div class="form-group">
                <%= f.label :code, "URLのパス", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_field :code, class: 'form-control' %></div>
            </div>

            <div class="form-group">
                <%= f.label :visible, '公開', class: "col-md-5 control-label" %>
                <div class="col-md-19">
                    <label class="radio-inline">
                        <%= f.radio_button :visible, PriDocument::PRIVATE_TYPE %> 非公開データ
                    </label>
                    <label class="radio-inline">
                        <%= f.radio_button :visible, PriDocument::LIMITED_TYPE %> 限定公開データ
                    </label>
                    <label class="radio-inline">
                        <%= f.radio_button :visible, PriDocument::PUBLIC_TYPE %> 公開データ
                    </label>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :show_others_link_type, 'その他の一覧', class: "col-md-5 control-label" %>
                <div class="col-md-19">
                    <label class="radio-inline">
                        <%= f.radio_button :show_others_link_type, ListDef::SHOW_OTHERS_LINK_HIDDEN %> 表示しない
                    </label>
                    <label class="radio-inline">
                        <%= f.radio_button :show_others_link_type, ListDef::SHOW_OTHERS_LINK_SHOW %> 表示する
                    </label>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
            </div>

            <div class="form-group">
                <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
            </div>
            <div class="form-group">
                <%= f.label :sortable_field_id, "一覧の並び順項目", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :sortable_field_id, show_sortable_field_select_option, {:include_blank => "指定しない"}, {class: 'form-control'} %></div>
            </div>
            <div class="form-group">
                <%= f.label :sort_reverse, "並びの昇順降順", class: "col-md-5 control-label" %>
                <%= show_bool_radio(f, :sort_reverse, ListDef::REVERSE_BOOL_VALUE) %>
            </div>
            <div class="form-group">
                <%= f.label :rss_xml_string, "RSSフォーマット", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_area :rss_xml_string, rows: 10, class: 'form-control' %></div>
            </div>
        </div>
        <div class="tab-pane" id="result_view">
            <div class="form-group">
                <%= f.label :result_view_type_id, "結果表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_view_type_id, show_result_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :result_sub_header_view_type_id, "結果サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_sub_header_view_type_id, show_result_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :result_sub_footer_view_type_id, "結果サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_sub_footer_view_type_id, show_result_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :result_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
        <div class="tab-pane" id="detail_view">
            <div class="form-group">
                <%= f.label :detail_view_type_id, "詳細表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_view_type_id, show_detail_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :detail_sub_header_view_type_id, "詳細サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_header_view_type_id, show_detail_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :detail_sub_footer_view_type_id, "詳細サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_footer_view_type_id, show_detail_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :detail_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
