<div class="page-header">
  <h1>リスト管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>URLのパス</th>
                <th>公開</th>
                <th>日本語名</th>
                <th>英語名</th>
                <th>結果表示形式</th>
                <th>詳細表示形式</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% ListDef.order(:id).each do |list_def| %>
                <tr>
                    <td><%= link_to list_def.code, pri_list_path(list_def.code) %></td>
                    <td><%= show_visible(list_def) %></td>
                    <td><%= list_def.caption_ja %></td>
                    <td><%= list_def.caption_en %></td>
                    <td><%= show_result_view_type list_def.result_view_type_id %></td>
                    <td><%= show_detail_view_type list_def.detail_view_type_id %></td>
                    <td><%= link_to '詳細', staff_list_def_path(list_def) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_list_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
