<ol class="breadcrumb">
    <li><%= link_to 'リスト管理', staff_list_defs_path %></li>
    <li class="active">リスト 新規作成</li>
</ol>

<div class="page-header">
    <h1>リスト 新規作成</h1>
</div>

<%= render 'form' %>

