<ol class="breadcrumb">
    <li><%= link_to 'リスト管理', staff_list_defs_path %></li>
    <li class="active"><%= show_caption(@list_def) %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@list_def) %> 詳細</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
    <li><a href="#result_view" data-toggle="tab">結果画面</a></li>
    <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>URLのパス</th>
                        <td><%= @list_def.code %></td>
                    </tr>
                    <tr>
                        <th>公開</th>
                        <td><%= show_visible(@list_def) %></td>
                    </tr>
                    <tr>
                        <th>その他の一覧</th>
                        <td><%= show_show_others_link_type(@list_def) %></td>
                    <tr>
                    <tr>
                        <th>名前 (日本語)</th>
                        <td><%= @list_def.caption_ja %></td>
                    </tr>
                    <tr>
                        <th>名前 (英語)</th>
                        <td><%= @list_def.caption_en %></td>
                    </tr>
                    <tr>
                        <th>初期並び順</th>
                        <td><%= show_sortable_field(@list_def.sortable_field_id) %></td>
                    </tr>
                    <tr>
                        <th>昇順/降順</th>
                        <td><%= show_bool_value(ListDef::REVERSE_BOOL_VALUE, @list_def.sort_reverse) %></td>
                    </tr>
                    <tr>
                        <th>RSSフォーマット</th>
                        <td><div class="html-css-container"><%= @list_def.rss_xml_string %></div></td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_list_def_path(@list_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_list_def_path(@list_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="result_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>結果表示形式</th>
                        <td><%= show_result_view_type @list_def.result_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>結果表示サブヘッダ形式</th>
                        <td><%= show_result_sub_header_view_type @list_def.result_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>結果表示サブフッタ形式</th>
                        <td><%= show_result_sub_footer_view_type @list_def.result_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @list_def.result_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_list_def_path(@list_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_list_def_path(@list_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="detail_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>詳細表示形式</th>
                        <td><%= show_detail_view_type @list_def.detail_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細表示サブヘッダ形式</th>
                        <td><%= show_detail_sub_header_view_type @list_def.detail_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細表示サブフッタ形式</th>
                        <td><%= show_detail_sub_footer_view_type @list_def.detail_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @list_def.detail_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_staff_list_def_path(@list_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
                    <%= link_to '削除', staff_list_def_path(@list_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
</div>


<hr />

<%= render partial: 'list_result_fields/index' %>

<hr />

<%= render partial: 'list_field_defs/index' %>

<hr />

<%= render partial: 'list_filter_defs/index' %>
