<div class="col-md-19">
    <label class="radio-inline">
        <%= f.radio_button name.to_sym, true %><%= options[0] %>
    </label>
    <label class="radio-inline">
        <%= f.radio_button name.to_sym, false %><%= options[1] %>
    </label>
</div>
