<% if DownloadFormat.all.size > 0 %>
<div class="download-field-select result-header-item">
    <div class="btn-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t('view.download') %> ( <%= Download::LIMIT %> <%=t 'view.item_limit' %> )<span class="caret"></span>
        </button>
         <ul class="dropdown-menu pull-right">
            <% DownloadFormat.all.each do |download_format| %>
                <% [['u','UTF-8'],['s','shift_jis']].each do |encoding| %>
                    <li><%= link_to show_caption(download_format) + '(' + encoding[1] + ')', url_for(params.merge(download_id: download_format.id.to_s + ':' + encoding[0])) %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
<% end %>