<div class="sort-field-select result-header-item">
    <div class="btn-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t('view.sort') %> <span class="caret"></span>
        </button>
         <ul class="dropdown-menu pull-right">
            <li><%= link_to 'ID (' + t('view.asc') + ')', url_for(params.merge(sort: 'id')) %></li>
            <li><%= link_to 'ID (' + t('view.desc') + ')', url_for(params.merge(sort: 'id:r')) %></li>
            <li><%= link_to t('view.updated_at') + ' (' + t('view.asc') + ')', url_for(params.merge(sort: 'updated_at')) %></li>
            <li><%= link_to t('view.updated_at') + ' (' + t('view.desc') + ')', url_for(params.merge(sort: 'updated_at:r')) %></li>
            <% if @page_obj %>
                <% SortableField.get_all.each do |sortable_field| %>
                    <li><%= link_to show_caption(sortable_field.field_def) + ' (' + t('view.asc') + ')', url_for(params.merge(sort: sortable_field.field_def.code)) %></li>
                    <li><%= link_to show_caption(sortable_field.field_def) + ' (' + t('view.desc') + ')', url_for(params.merge(sort: sortable_field.field_def.code + ':r')) %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <span class="current-sort-field"><%= show_sort_field %><span>
</div>
