<div class="page-header">
    <h2>結果画面での表示項目</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-8">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>フィールド</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @list_result_fields.each do |list_result_field| %>
            <tr>
                <td><%= show_caption(list_result_field.field_def) %></td>
                <td>
                    <%= link_to up_staff_list_def_list_result_field_path(@list_def, list_result_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_list_def_list_result_field_path(@list_def, list_result_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_list_def_list_result_field_path(@list_def, list_result_field) %></td>
                <td><%= link_to '削除', staff_list_def_list_result_field_path(@list_def, list_result_field), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_list_def_list_result_field_path(@list_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


