<ol class="breadcrumb">
    <li><%= link_to 'リスト管理', staff_list_defs_path %></li>
    <li><%= link_to show_caption(@list_def) + " 詳細", staff_list_def_path(@list_def) %></li>
    <li class="active">結果画面での表示項目 新規作成</li>
</ol>

<div class="page-header">
    <h1>結果画面での表示項目 新規作成</h1>
</div>

<%= render 'form' %>

