<% fields.each do |field| %>
    <% if field_def.field_type_class.enable_gen_url?(field_def) %>
        <div class="field-url-generate"><%= link_to field_def.set_unit_by_locale(field.value1), field_def.field_type_class.gen_url(field_def, field) %></div>
    <% else %>
        <div class="field-url-generate"><%= field_def.set_unit_by_locale(field.value1) %></div>
    <% end %>
<% end %>
