<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<ul class="nav nav-pills nav-stacked">
    <% @list_words.each do |list_word| %>
        <li><%= link_to gen_next_list_path(@level_params, list_word) do %> <%= show_caption(list_word) %> ( <%= list_word.document_count %> <%= t 'view.items' %> ) <% end %></li>
    <% end %>
</ul>

<% if @list_field_def.prefix_list? == false %>
    <div class="paginate-holder">
        <%= paginate @param_relation %>
    </div>
<% end %>

<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
