<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<table class="table no-border-table">
    <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
    </colgroup>
    <tbody>
        <tr>
            <% @list_words.select{|a| a.value.ascii_only? }.each_with_index do |list_word, index| %>
                <% if index % 7 == 0 %>
                </tr>
                <tr>
                <% end %>
                <td><%= link_to gen_next_list_path(@level_params, list_word) do %> <%= show_caption(list_word) %> ( <%= list_word.document_count %> <%= t 'view.items' %> ) <% end %></td>
            <% end %>
        </tr>
    </tbody>
</table>

<table class="table no-border-table">
    <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-1">
    </colgroup>
    <tbody>
        <tr>
            <% @list_words.select{|a| a.value.ascii_only? == false }.each_with_index do |list_word, index| %>
                <% if index % 7 == 0 %>
                </tr>
                <tr>
                <% end %>
                <td><%= link_to gen_next_list_path(@level_params, list_word) do %> <%= show_caption(list_word) %> ( <%= list_word.document_count %> <%= t 'view.items' %> ) <% end %></td>
            <% end %>
        </tr>
    </tbody>
</table>

<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
