<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<%= form_tag url_for(search_query: nil), method: :get, class: ["form list-search-form"], role: "search" do |f| %>
    <div class="input-group">
        <%= text_field_tag 'search_query', @search_query, class: 'form-control input-sm', placeholder: "検索" %>
        <span class="input-group-btn">
            <%= button_tag type: :button,  class: ['btn', 'btn-sm', 'btn-default'] do %><i class="fa fa-search"></i><% end %>
        </span>
    </div>
<% end %>


<ul class="nav nav-pills nav-stacked">
    <% @list_words.each do |list_word| %>
        <li><%= link_to gen_next_list_path(@level_params, list_word) do %> <%= show_caption(list_word) %> ( <%= list_word.document_count %> <%= t 'view.items' %> ) <% end %></li>
    <% end %>
</ul>

<% if @list_field_def.prefix_list? == false %>
    <div class="paginate-holder">
        <%= paginate @param_relation %>
    </div>
<% end %>

<%= html_format @page_obj.try(:list_param_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
