<div class="page-header">
  <h1>選択項目管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-11">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <% @custom_selects.each do |custom_select| %>
                <tr>
                    <td><%= custom_select.name %></td>
                    <td><%= link_to '詳細', [:staff, custom_select] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_custom_select_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
