<ol class="breadcrumb">
    <li><%= link_to '選択項目管理', staff_custom_selects_path %></li>
    <li class="active">選択項目 新規作成</li>
</ol>

<div class="page-header">
    <h1>選択項目 新規作成</h1>
</div>

<%= render 'form' %>

