<ol class="breadcrumb">
    <li><%= link_to '選択項目管理', staff_custom_selects_path %></li>
    <li class="active"><%= @custom_select.name %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= @custom_select.name %> 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>名前</th>
                <td><%= @custom_select.name %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_custom_select_path(@custom_select), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_custom_select_path(@custom_select), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>

<%= render partial: 'custom_select_values/index' %>

