<% fields.each do |field| %>
    <div class="field-repository-title">
        <% if (I18n.locale == :ja && field.caption_ja.present?) || field.caption_en.blank? %>
            <%= field_def.set_unit_ja(field.caption_ja) %>
        <% else %>
            <%= field_def.set_unit_en(field.caption_en) %>
        <% end %>
    </div>
<% end %>
