<div class="form-group">
    <%= f.label :value, "値", class: "col-md-3 control-label" %>
    <div class="col-md-7"><%= f.text_field :value, class: 'form-control value' %></div>
    <div class="col-md-14 earmas-right-side"><%= button_tag '入力内容で選択肢を検索', type: 'button', url: search_staff_custom_select_custom_select_values_path(field_def.field_param_id1), class: "btn btn-default search-select-value" %></div>
</div>

<div class="search-result"></div>

<div class="form-group">
    <%= f.label :caption_ja, "日本語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= f.text_field :caption_ja, class: 'form-control caption-ja' %></div>
    <%= f.label :caption_en, "英語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= f.text_field :caption_en, class: 'form-control caption-en' %></div>
</div>
