<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][value]', "ID", class: "col-md-3 control-label" %>
    <div class="col-md-6"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][value]', field.value, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][caption_ja]', "日本語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][caption_ja]', field.caption_ja, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][caption_en]', "英語名", class: "col-md-3 control-label" %>
    <div class="col-md-9"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][caption_en]', field.caption_en, class: 'form-control' %></div>
</div>

