<% count_values.each do |count_value| %>
    <% field = field_def.get_pri_type_class.new_count_field(count_value[0]) %>
    <tr>
        <td><%= show_caption(field_def) %></td>
        <td>
            <div><%= field.value %></div>
            <div><%= field.caption_ja %></div>
            <div><%= field.caption_en %></div>
        </td>
        <td><%= count_value[1] %></td>
    </tr>
<% end %>
