<div class="row">
    <div class="col-lg-5 col-md-4 journal-left-side">
        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="jounal-static-page-list">
            <li><%= link_to view_state_path_gen(:journal_path).call(@ej_journal_def.code) do %>Journal Home<% end %></li>

            <% @ej_journal_def.static_page_defs.each do |static_page_def| %>
                <li><%= link_to view_state_path_gen(:journal_static_page_path).call(@ej_journal_def.code, static_page_def.code) do %><%= show_caption(static_page_def) %><% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <form method="get" id="browse" class="journal-list-menu">
        <div><span class="border"><select name="url" id="url">

            <% @ej_words.each do |word| %>
                <option value="<%= gen_voliss_path(word) %>">Vol. <%= word.try(set_locale_suffix(:volume_caption)) %>, Iss. <%= word.try(set_locale_suffix(:issue_caption)) %></option>
            <% end %>


        </select>
        <input type="button" value="Browse" class="browse-btn" style="font-size:11px;"></span></div>
        </form>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

    <div class="col-lg-19 col-md-20 journal-not-left-side">
        <%= html_format @page_obj.try(:journal_all_index_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
        <div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %></div>

            <ul class="all-journal-index">
            <% @ej_words = view_state_word_relation(:EjWord).where(ej_def_id: @ej_def.id, journal: @ej_journal_def.value).order(set_locale_suffix('publish_date_sort_value') => :desc, volume: :desc, issue: :desc).each do |ej_word| %>
                <li class="voliss">
                    <div class="voliss-title"><%= link_to gen_voliss_path(ej_word) do %>
                        <%= [ej_word.try(set_locale_suffix(:volume_caption)), ej_word.try(set_locale_suffix(:issue_caption))].delete_if{|a|a.blank?}.join(' - ') %> ( <%= ej_word.try(set_locale_suffix(:publish_date_caption)) %> )
                    <% end %></div>

                    <ul>
                        <% (@json.try('[]', ej_word.toc_index) || []).each do |article| %>
                            <% if article['type'] == 1 %>
                                <% ej_data = @document_map[ej_word.toc_index][article['id'].to_i] %>
                                <% if ej_data.present? %>
                                    <% document = ej_data[:datum].document %>
                                    <% ej_data[:used] = true %>
                                    <% document.set_ej_result_field_defs(@ej_def.result_field_defs) %>
                                    <li class="article" data-type="1" data-id="<%= document.id %>">
                                        <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(ej_word, document) %></div>
                                        <div class="article-body">
                                            <% document.ej_result_field_defs.drop(1).take(2).each do |field_def| %>
                                                <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                                            <% end %>
                                        </div>
                                        <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                                    </li>
                                <% end %>
                            <% else %>
                                <li class="article" data-type="2">
                                    <div class="title"><%= show_locale_hash(article['fields'][0]) %></div>
                                    <div class="article-body">
                                        <% article['fields'].drop(1).take(2).each do |field| %>
                                            <div><%= show_locale_hash(field) %></div>
                                        <% end %>
                                    </div>
                                    <div class="page">PP. <%= show_locale_hash(article['start_page']) %> - <%= show_locale_hash(article['end_page']) %></div>
                                </li>
                            <% end %>
                        <% end %>
                        <% @document_map[ej_word.toc_index].reject{|k,v| v[:used] == true }.values.each do |datum| %>
                            <% document = datum[:datum].document %>
                            <% document.set_ej_result_field_defs(@ej_def.ej_result_field_defs) %>
                            <li class="article" data-type="1" data-id="<%= document.id %>">
                                <div class="title"><%= link_to render_document_ej_field_line_by_num(document, document.ej_result_field_defs, 0, 'タイトルなし'), gen_article_path_path(ej_word, document) %></div>
                                <div class="article-body">
                                    <% document.ej_result_field_defs.drop(1).take(2).each do |field_def| %>
                                        <div><%= render_ej_view_state_line_field(field_def, document) %></div>
                                    <% end %>
                                </div>
                                <div class="page">PP. <%= [document.get_fields(@ej_def.start_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit)), document.get_fields(@ej_def.end_page_field_def_id).try(:first).try(set_locale_suffix(:get_list_caption_with_unit))].delete_if{|a|a.blank?}.join(' - ') %></div>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            </ul>

        </div>

        <%= html_format @page_obj.try(:journal_all_index_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

</div>
