<%= form_for @list_def, url: staff_view_setting_list_update_path, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @list_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @list_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @list_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">基本</a></li>
        <li><a href="#result_view" data-toggle="tab">結果画面</a></li>
        <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="main">
            <div class="form-group">
                <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
            </div>

            <div class="form-group">
                <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
            </div>
        </div>
        <div class="tab-pane" id="result_view">
            <div class="form-group">
                <%= f.label :result_view_type_id, "結果表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_view_type_id, show_result_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :result_sub_header_view_type_id, "結果サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_sub_header_view_type_id, show_result_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :result_sub_footer_view_type_id, "結果サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :result_sub_footer_view_type_id, show_result_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :result_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
        <div class="tab-pane" id="detail_view">
            <div class="form-group">
                <%= f.label :detail_view_type_id, "詳細表示形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_view_type_id, show_detail_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :detail_sub_header_view_type_id, "詳細サブヘッダ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_header_view_type_id, show_detail_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <div class="form-group">
                <%= f.label :detail_sub_footer_view_type_id, "詳細サブフッタ形式", class: "col-md-5 control-label" %>
                <div class="col-md-19"><%= f.select :detail_sub_footer_view_type_id, show_detail_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
            </div>

            <%= f.fields_for :detail_html_set_def do |f| %>
                <%= render partial: 'html_set_defs/form', locals: { f: f } %>
            <% end %>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
