<%= form_for [:staff, @people_setting], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @people_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @people_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @people_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :url, '基本URL', class: "col-md-3 control-label" %>
        <div class="col-md-21"><%= f.text_field :url, class: 'form-control', placeholder: 'http://earmas-u.ac.jp/profile/{replace} 空の場合は個別のURLが使用される' %></div>
    </div>
    <div class="form-group">
        <%= f.label :cipher_type, '※ 暗号化種類', class: "col-md-3 control-label" %>
        <div class="col-md-5"><%= f.text_field :cipher_type, class: 'form-control', placeholder: 'AES-256-CBC' %></div>
    </div>
    <div class="form-group">
        <%= f.label :cipher_iv, '※ IV', class: "col-md-3 control-label" %>
        <div class="col-md-5"><%= f.text_field :cipher_iv, class: 'form-control', placeholder: '1234567890123456' %></div>
    </div>
    <div class="form-group">
        <%= f.label :cipher_key, '※ KEY', class: "col-md-3 control-label" %>
        <div class="col-md-10"><%= f.text_field :cipher_key, class: 'form-control', placeholder: '12345678901234567890123456789012' %></div>
    </div>

    <div class="form-group">
        <%= f.label :key1_name_ja, 'キー1 日本語', class: 'col-md-3 control-label' %>
        <div class="col-md-4"><%= f.text_field :key1_name_ja, class: 'form-control', placeholder: '科研費研究者' %></div>
        <%= f.label :key1_param_ja, 'URL1 日本語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key1_param_ja, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>
    <div class="form-group">
        <%= f.label :key1_name_en, 'キー1 英語', class: 'col-md-3 control-label' %>
        <div class="col-md-4"><%= f.text_field :key1_name_en, class: 'form-control', placeholder: '科研費研究者' %></div>
        <%= f.label :key1_param_en, 'URL1 英語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key1_param_en, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>

    <div class="form-group">
        <%= f.label :key2_name_ja, 'キー2 日本語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key2_name_ja, class: 'form-control', placeholder: 'J-GLOBAL' %></div>
        <%= f.label :key2_param_ja, 'URL2 日本語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key2_param_ja, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>
    <div class="form-group">
        <%= f.label :key2_name_en, 'キー2 英語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key2_name_en, class: 'form-control', placeholder: 'J-GLOBAL' %></div>
        <%= f.label :key2_param_en, 'URL2 英語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key2_param_en, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>

    <div class="form-group">
        <%= f.label :key3_name_ja, 'キー3 日本語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key3_name_ja, class: 'form-control', placeholder: 'ReaD' %></div>
        <%= f.label :key3_param_ja, 'URL3 日本語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key3_param_ja, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>
    <div class="form-group">
        <%= f.label :key3_name_en, 'キー3 英語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key3_name_en, class: 'form-control', placeholder: 'ReaD' %></div>
        <%= f.label :key3_param_en, 'URL3 英語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key3_param_en, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>

    <div class="form-group">
        <%= f.label :key4_name_ja, 'キー4 日本語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key4_name_ja, class: 'form-control', placeholder: 'ORCID' %></div>
        <%= f.label :key4_param_ja, 'URL4 日本語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key4_param_ja, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>
    <div class="form-group">
        <%= f.label :key4_name_en, 'キー4 英語', class: "col-md-3 control-label" %>
        <div class="col-md-4"><%= f.text_field :key4_name_en, class: 'form-control', placeholder: 'ORCID' %></div>
        <%= f.label :key4_param_en, 'URL4 英語', class: 'col-md-3 control-label' %>
        <div class="col-md-8"><%= f.text_field :key4_param_en, class: 'form-control', placeholder: 'http://kaken.nii.ac.jp/d/r/{replace}' %></div>
    </div>

    <% 5.upto(10) do |index| %>
        <div class="form-group">
            <%= f.label "key#{index}_name_ja", "キー#{index} 日本語", class: "col-md-3 control-label" %>
            <div class="col-md-4"><%= f.text_field "key#{index}_name_ja", class: 'form-control', placeholder: "その他#{index}" %></div>
            <%= f.label "key#{index}_param_ja", "URL#{index} 日本語", class: "col-md-3 control-label" %>
            <div class="col-md-8"><%= f.text_field "key#{index}_param_ja", class: 'form-control', placeholder: 'http://example.jp/{replace}' %></div>
        </div>
        <div class="form-group">
            <%= f.label "key#{index}_name_en", "キー#{index} 英語", class: "col-md-3 control-label" %>
            <div class="col-md-4"><%= f.text_field "key#{index}_name_en", class: 'form-control', placeholder: "その他#{index}" %></div>
            <%= f.label "key#{index}_param_en", "URL#{index} 英語", class: "col-md-3 control-label" %>
            <div class="col-md-8"><%= f.text_field "key#{index}_param_en", class: 'form-control', placeholder: 'http://example.jp/{replace}' %></div>
        </div>
    <% end %>

    <div class="col-md-21 col-md-offset-3">
        <p>キーの名称を指定しない場合、その項目は使用されません。</p>
        <p>名前は、入力画面では「{値} + 番号」、詳細画面ではそのままリンクとして表示されます。「J-GLOBAL」とした場合は、入力画面では「J-GLOBAL番号」、詳細画面では「J-GLOBAL」として表示されます。</p>
        <p>URLは{replace}の部分が各値に変換されます</p>
    </div>

    <div class="text-right">※ の項目を修正した場合は再構築が必要になります。</div>
    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
