<div class="panel panel-default">
    <div class="panel-heading">
        基本設定
    </div>
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>基本URL</th>
                <td><%= @people_setting.url %></td>
            </tr>
            <tr>
                <th>暗号化種類</th>
                <td><%= @people_setting.cipher_type %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key1_name_ja.present? ? @people_setting.key1_name_ja : "キー1" %></th>
                <td><%= @people_setting.key1_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key2_name_ja.present? ? @people_setting.key2_name_ja : "キー2" %></th>
                <td><%= @people_setting.key2_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key3_name_ja.present? ? @people_setting.key3_name_ja : "キー3" %></th>
                <td><%= @people_setting.key3_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key4_name_ja.present? ? @people_setting.key4_name_ja : "キー4" %></th>
                <td><%= @people_setting.key4_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key5_name_ja.present? ? @people_setting.key5_name_ja : "キー5" %></th>
                <td><%= @people_setting.key5_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key6_name_ja.present? ? @people_setting.key6_name_ja : "キー6" %></th>
                <td><%= @people_setting.key6_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key7_name_ja.present? ? @people_setting.key7_name_ja : "キー7" %></th>
                <td><%= @people_setting.key7_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key8_name_ja.present? ? @people_setting.key8_name_ja : "キー8" %></th>
                <td><%= @people_setting.key8_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key9_name_ja.present? ? @people_setting.key9_name_ja : "キー9" %></th>
                <td><%= @people_setting.key9_param_ja %></td>
            </tr>
            <tr>
                <th><%= @people_setting.key10_name_ja.present? ? @people_setting.key10_name_ja : "キー10" %></th>
                <td><%= @people_setting.key10_param_ja %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_people_setting_path(@people_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


