<div class="page-header">
    <h2>フィルタ</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>含む</th>
                <th>フィルタタイプ</th>
                <th>対象</th>
                <th>値</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
            <% @ej_filter_defs.each do |ej_filter_def| %>
                <tr>
                    <td><%= ej_filter_def.include_filter %></td>
                    <td><%= show_locale_value(ej_filter_def.show_filter_type_caption) %></td>
                    <td><%= show_filter_type_value(ej_filter_def) %></td>
                    <td><%= ej_filter_def.filter_value %></td>
                    <td><%= link_to '修正', edit_staff_ej_def_ej_filter_def_path(@ej_def, ej_filter_def) %></td>
                    <td><%= link_to '削除', staff_ej_def_ej_filter_def_path(@ej_def, ej_filter_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_ej_def_ej_filter_def_path(@ej_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

