<%= form_for [:staff, @download_format], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @download_format.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @download_format.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @download_format.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :xml_string, "XSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
