<div class="page-header">
  <h1>ダウンロードフォーマット管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-5">
            <col class="col-xs-5">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>日本語名</th>
                <th>英語名</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <% @download_formats.each do |download_format| %>
                <tr>
                    <td><%= download_format.caption_ja %></td>
                    <td><%= download_format.caption_en %></td>
                    <td><%= link_to '修正', edit_staff_download_format_path(download_format) %></td>
                    <td><%= link_to '削除', staff_download_format_path(download_format), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_download_format_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
