<ol class="breadcrumb">
    <li><%= link_to 'ダウンロードフォーマット管理', staff_download_formats_path %></li>
    <li class="active">ダウンロードフォーマット 新規作成</li>
</ol>

<div class="page-header">
    <h1>ダウンロードフォーマット 新規作成</h1>
</div>

<%= render 'form' %>

