<%= form_for [:staff, @ej_def, @ej_journal_def, @ej_static_page_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @ej_static_page_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @ej_static_page_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @ej_static_page_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :code, "URLのパス", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :code, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :journal_static_view_type_id, "表示形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :journal_static_view_type_id, show_journal_static_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :journal_static_sub_header_view_type_id, "サブヘッダ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :journal_static_sub_header_view_type_id, show_journal_static_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :journal_static_sub_footer_view_type_id, "サブフッタ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :journal_static_sub_footer_view_type_id, show_journal_static_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :body_main_html_string_ja, 'メイン (日本語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :body_main_html_string_ja, rows: 10, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :body_main_html_string_en, 'メイン (英語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :body_main_html_string_en, rows: 10, class: 'form-control' %></div>
    </div>

    <%= f.fields_for :journal_static_html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
