<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li><%= link_to '雑誌グループ 詳細', staff_ej_def_path(@ej_def) %></li>
    <li><%= link_to @ej_journal_def.code + '詳細', staff_ej_def_ej_journal_def_path(@ej_def, @ej_journal_def) %></li>
    <li class="active">静的ページ 新規作成</li>
</ol>

<div class="page-header">
    <h1>静的ページ 新規作成</h1>
</div>

<%= render 'form' %>

