<%= form_for [:staff, @ej_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @ej_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @ej_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @ej_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :journal_field_id, "雑誌項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :journal_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :volume_field_id, "巻項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :volume_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :issue_field_id, "号項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :issue_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :section_field_id, "論文種類項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :section_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :date_field_id, "発行日項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :publish_date_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :sort_field_id, "並び順項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :sort_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :sort_field_id, "開始ページ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :start_page_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :sort_field_id, "終了ページ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :end_page_field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :css_string, "スタイルシート", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :css_string, rows: 10, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :rss_xml_string, "RSSフォーマット", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :rss_xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
