<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li><%= link_to '雑誌グループ 詳細', staff_ej_def_path(@ej_def) %></li>
    <li class="active">雑誌グループ 修正</li>
</ol>

<div class="page-header">
    <h1>雑誌グループ 修正</h1>
</div>


<%= render 'form' %>





