<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li class="active">雑誌グループ 新規作成</li>
</ol>

<div class="page-header">
    <h1>雑誌グループ 新規作成</h1>
</div>

<%= render 'form' %>

