<ol class="breadcrumb">
    <li><%= link_to '雑誌 管理', staff_ej_defs_path %></li>
    <li class="active">雑誌グループ 詳細</li>
</ol>

<div class="page-header">
    <h1>雑誌グループ 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>雑誌項目</th>
                <td><%= show_caption @ej_def.journal_field_def %></td>
            </tr>
            <tr>
                <th>巻項目</th>
                <td><%= show_caption @ej_def.volume_field_def %></td>
            </tr>
            <tr>
                <th>号項目</th>
                <td><%= show_caption @ej_def.issue_field_def %></td>
            </tr>
            <tr>
                <th>論文種類項目</th>
                <td><%= show_caption @ej_def.section_field_def %></td>
            </tr>
            <tr>
                <th>発行日項目</th>
                <td><%= show_caption @ej_def.publish_date_field_def %></td>
            </tr>
            <tr>
                <th>並び順項目</th>
                <td><%= show_caption @ej_def.sort_field_def %></td>
            </tr>
            <tr>
                <th>開始ページ項目</th>
                <td><%= show_caption @ej_def.start_page_field_def %></td>
            </tr>
            <tr>
                <th>終了ページ項目</th>
                <td><%= show_caption @ej_def.end_page_field_def %></td>
            </tr>
            <tr>
                <th>スタイルシート</th>
                <td><div class="html-css-container"><%= @ej_def.css_string %></div></td>
            </tr>
            <tr>
                <th>RSSフォーマット</th>
                <td><div class="html-css-container"><%= @ej_def.rss_xml_string %></div></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_ej_def_path(@ej_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_ej_def_path(@ej_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>

<hr />

<%= render partial: 'ej_result_fields/index' %>

<hr />

<%= render partial: 'ej_detail_fields/index' %>

<hr />

<%= render partial: 'ej_filter_defs/index' %>

<hr />

<%= render partial: 'ej_journal_defs/index' %>
