<div class="form-group">
    <%= f.label :value1, "姓", class: "control-label col-md-2" %>
    <div class="col-md-10"><%= f.text_field :value1, class: 'form-control' %></div>
    <%= f.label :value2, "名", class: "control-label col-md-2" %>
    <div class="col-md-10"><%= f.text_field :value2, class: 'form-control' %></div>
</div>
