<div class="form-group">
    <%= label_tag 'search_field[' + field_def.id.to_s + '][value1]', "姓", class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][value1]', field.value1, class: 'form-control' %></div>
    <%= label_tag 'search_field[' + field_def.id.to_s + '][value2]', "名", class: "col-md-2 control-label" %>
    <div class="col-md-10"><%= text_field_tag 'search_field[' + field_def.id.to_s + '][value2]', field.value2, class: 'form-control' %></div>
</div>
