<%= form_for [:staff, @custom_select, @custom_select_value], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @custom_select_value.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @custom_select_value.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @custom_select_value.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :value, '値', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :value, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, '表示(日本語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, '表示(英語)', class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
