<h2>選択肢</h2>

<div class="alert alert-info">
    値を修正した場合、関連する検索、リスト、雑誌のインデックス再構築(未公開)が必要になります。
    並び順を変更した場合、関連するリスト、雑誌のインデックス再構築(公開、未公開)が必要になります。
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-3">
            <col class="col-xs-3">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>値</th>
                <th>表示(日本語)</th>
                <th>表示(英語)</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @custom_select_values.each do |custom_select_value| %>
            <tr>
                <td><%= custom_select_value.value %></td>
                <td><%= custom_select_value.caption_ja %></td>
                <td><%= custom_select_value.caption_en %></td>
                <td>
                    <%= link_to up_staff_custom_select_custom_select_value_path(@custom_select, custom_select_value), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_custom_select_custom_select_value_path(@custom_select, custom_select_value), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_custom_select_custom_select_value_path(@custom_select, custom_select_value) %></td>
                <td><%= link_to '削除', [:staff, @custom_select, custom_select_value], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_custom_select_custom_select_value_path(@custom_select), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
