<div class="panel panel-default">
    <% if custom_select_values.size == 0 %>
        <div class="panel-body">
            ありません
        </div>
    <% else %>
        <table class="table table-bordered">
            <colgroup>
                <col class="col-xs-3">
                <col class="col-xs-6">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>日本名</th>
                    <th>英語名</th>
                </tr>
            </thead>
            <tbody>
                <% custom_select_values.each do |custom_select_value| %>
                    <tr class="select-value">
                        <td><span class='search-result-value'><%= custom_select_value.value %></span></td>
                        <td><span class='search-result-caption-ja'><%= custom_select_value.caption_ja %></span></td>
                        <td><span class='search-result-caption-en'><%= custom_select_value.caption_en %></span></td>
                        <td><%= button_tag '使う', type: 'button', class: "btn btn-default btn-xs pick-search-select-value-result" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= button_tag '閉じる', type: 'button', class: "btn btn-default btn-xs close-search-result" %>
        </div>
    </div>
</div>
