<ol class="breadcrumb">
    <li><%= link_to '選択項目管理', staff_custom_selects_path %></li>
    <li><%= link_to @custom_select.name + ' 詳細', staff_custom_select_path(@custom_select) %></li>
    <li class="active"><%= show_caption(@custom_select_value) %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@custom_select_value) %> 修正</h1>
</div>

<%= render 'form' %>

