<ol class="breadcrumb">
    <li><%= link_to '選択項目管理', staff_custom_selects_path %></li>
    <li><%= link_to @custom_select.name + ' 詳細', staff_custom_select_path(@custom_select) %></li>
    <li class="active">選択肢 新規作成</li>
</ol>

<div class="page-header">
    <h1>選択肢 新規作成</h1>
</div>


<%= render 'form' %>

