<%= form_for [:staff, @field_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @field_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @field_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @field_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="form-group">
        <%= f.label :field_type_id, "項目種類", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <%= f.select :field_type_id, show_field_type_select_option, {}, {
                class: 'form-control', disabled: (@field_def.new_record? == false),
                data: { remote: true, url: param_form_staff_field_defs_path }
            } %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :code, "※ コード", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :code, class: 'form-control', placeholder: '英数のみ' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :description, "入力時注釈", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :description, class: 'form-control', placeholder: '「yy-mm-dd」や「選択してください」など。項目が複数ある場合はコンマ区切り' %></div>
    </div>

    <div class="param-fields">
        <%= render_field_def_param(@field_def) %>
    </div>

    <div class="form-group">
        <%= f.label :csv_column, "CSVでの順番", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.number_field :csv_column, min: 0, class: 'form-control', placeholder: '1からスタート' %></div>
    </div>

    <div class="form-group">
        <%= f.label :must, "必須", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :must, true %> 必須入力
            </label>
            <label class="radio-inline">
                <%= f.radio_button :must, false %> 任意入力
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :multi, "複数入力", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :multi, true %> 複数入力可能
            </label>
            <label class="radio-inline">
                <%= f.radio_button :multi, false %> 複数入力不可
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :multi_field_delim, '複数入力時の区切り文字', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :multi_field_delim, class: 'form-control', placeholder: '空白やセミコロン等' %></div>
    </div>

    <div class="form-group">
        <%= f.label :result, "結果形式での表示", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :result, true %> 結果形式で項目を表示する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :result, false %> 結果形式で項目を表示しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :detail, "詳細形式での表示", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :detail, true %> 詳細形式で項目を表示する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :detail, false %> 詳細形式で項目を表示しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :to_pub, "※ 公開", class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :to_pub, true %> 項目を公開する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :to_pub, false %> 項目を公開しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :unit_prefix_ja, "※ 前に付く単位(日本語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :unit_prefix_ja, class: 'form-control', placeholder: "第 など" %></div>
    </div>
    <div class="form-group">
        <%= f.label :unit_suffix_ja, "※ 前に付く単位(日本語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :unit_suffix_ja, class: 'form-control', placeholder: "号 など" %></div>
    </div>
    <div class="form-group">
        <%= f.label :unit_prefix_en, "※ 前に付く単位(英語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :unit_prefix_en, class: 'form-control', placeholder: "volume など" %></div>
    </div>
    <div class="form-group">
        <%= f.label :unit_suffix_en, "※ 前に付く単位(英語)", class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :unit_suffix_en, class: 'form-control', placeholder: "yard など" %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>


<% end %>
