<ol class="breadcrumb">
    <li><%= link_to 'データ項目管理', staff_field_defs_path %></li>
    <li class="active"><%= show_caption(@field_def) %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@field_def) %> 修正</h1>
</div>

<div class="alert alert-info">
    ※ の項目を修正した場合はインデックス再構築が必要になります。
</div>

<%= render 'form' %>


