<div class="page-header">
  <h1>データ項目管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped" style="word-break: break-all;">
        <colgroup>
            <col class="col-xs-3">
            <col class="col-xs-4">
            <col class="col-xs-3">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>コード</th>
                <th>名前</th>
                <th>種類</th>
                <th>必須</th>
                <th>複数</th>
                <th>結果</th>
                <th>詳細</th>
                <th>CSV</th>
                <th>公開</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
        <% @field_defs.each do |field_def| %>
            <tr data-id="<%= field_def.id %>">
                <td><%= field_def.code %></td>
                <td><%= show_caption(field_def) %></td>
                <td><%= show_caption(field_def.field_type_class) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, field_def.must) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, field_def.multi) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, field_def.result) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, field_def.detail) %></td>
                <td><%= field_def.csv_column %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, field_def.to_pub) %></td>
                <td>
                    <%= link_to up_staff_field_def_path(field_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_field_def_path(field_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_field_def_path(field_def.id) %></td>
                <td><%= link_to '削除', staff_field_def_path(field_def.id), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_field_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

<%= render partial: 'sortable_fields/index' %>
