<ol class="breadcrumb">
    <li><%= link_to 'データ項目管理', staff_field_defs_path %></li>
    <li class="active">フィールド 新規作成</li>
</ol>

<div class="page-header">
    <h1>フィールド 新規作成</h1>
</div>

<%= render 'form' %>

