<div class="page-header">
    <h1>パスワード変更</h1>
</div>

<%= form_for current_staff, url: staff_update_password_path, :html => { :method => :put, class: "form-horizontal", role: "form" } do |f| %>
    <% if current_staff.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => current_staff.errors.count, :resource => 'データ') %></div>
            <ul>
                <% current_staff.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :password, class: "control-label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, class: 'form-control', :autocomplete => "off" %>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
