<%= form_for [:staff, @ej_def, @ej_result_field], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @ej_result_field.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @ej_result_field.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @ej_result_field.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :ja_field_def_id, "日本語データ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :ja_field_def_id, FieldDef.all.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :en_field_def_id, "英語データ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :en_field_def_id, FieldDef.all.map{|t| [show_caption(t), t.id] }.unshift(['使用しない', 0]), {}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :en_instead_ja, '日本語表示で日本語データ項目が空の場合は英語データ項目を使用', class: "col-md-15 control-label" %>
        <div class="col-md-9">
            <label class="radio-inline">
                <%= f.radio_button :en_instead_ja, true %> する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :en_instead_ja, false %> しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :ja_instead_en, '英語表示で英語データ項目が空の場合は日本語データ項目を使用', class: "col-md-15 control-label" %>
        <div class="col-md-9">
            <label class="radio-inline">
                <%= f.radio_button :ja_instead_en, true %> する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :ja_instead_en, false %> しない
            </label>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
