<%= form_for [:staff, @oaipmh_format], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @oaipmh_format.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @oaipmh_format.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @oaipmh_format.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :metadata_prefix, "metadata prefix", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :metadata_prefix, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :schema, "schema", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :schema, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :metadata_namespace, "metadata namespace", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :metadata_namespace, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :xml_string, "XSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <strong>既存データへ修正を適用したい場合、ハーベスタへの全データの再収集の連絡を行ってください。</strong>
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
