<h2>フォーマット </h2>

<div class="alert alert-info">
    既にハーベストした内容は変更されません。既存のデータを再度ハーベスト対象にするには「全公開データ更新」を行って下さい。
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-10">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>metadata prefix</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
            <% OaipmhFormat.all.order(:id).each do |oaipmh_format| %>
                <tr>
                    <td><%= oaipmh_format.metadata_prefix %></td>
                    <td><%= link_to '修正', edit_staff_oaipmh_format_path(oaipmh_format) %></td>
                    <td><%= link_to '削除', staff_oaipmh_format_path(oaipmh_format), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_oaipmh_format_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

