<ol class="breadcrumb">
    <li><%= link_to 'OAI-PMH設定', staff_oaipmh_settings_path %></li>
    <li class="active">OAI-PMHフォーマット 修正</li>
</ol>

<div class="page-header">
    <h1>OAI-PMHフォーマット 修正</h1>
</div>

<%= render 'form' %>

