<div class="journal-article-view-block <%= show_journal_is_newest %>">
    <%= render_article_by_sub_header_view_type %>
    <%= render_article_by_view_type %>
    <%= render_article_by_sub_footer_view_type %>
</div>
