<div class="journal-view-block <%= show_journal_is_newest %>">
    <%= render_journal_by_sub_header_view_type %>
    <%= render_journal_by_view_type %>
    <%= render_journal_by_sub_footer_view_type %>
</div>
