<div class="journal-static-block">
    <%= render_journal_static_by_sub_header_view_type %>
    <%= render_journal_static_by_view_type %>
    <%= render_journal_static_by_sub_footer_view_type %>
</div>
