<% case list_filter_def.filter_type %>
<% when DocumentFilterDef::FILTER_TYPES[:field_value_filter][:id] %>
    <%= fields_for 'list_filter_def', list_filter_def do |f| %>
        <div class="form-group">
            <%= f.label :some_id, "データ項目", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :some_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
        </div>
        <div class="form-group">
            <%= f.label :filter_value, "値", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :filter_value, placeholder: '正規表現で入力してください。何か入力されている条件は .+', class: 'form-control' %></div>
        </div>
    <% end %>
<% when DocumentFilterDef::FILTER_TYPES[:field_key_filter][:id] %>
    <%= fields_for 'list_filter_def', list_filter_def do |f| %>
        <div class="form-group">
            <%= f.label :some_id, "データ項目", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :some_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
        </div>
        <div class="form-group">
            <%= f.label :filter_value, "値", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :filter_value, placeholder: '正規表現で入力してください。何か入力されている条件は .+', class: 'form-control' %></div>
        </div>
    <% end %>
<% when DocumentFilterDef::FILTER_TYPES[:input_group_filter][:id] %>
    <%= fields_for 'list_filter_def', list_filter_def do |f| %>
        <div class="form-group">
            <%= f.label :some_id, "データグループ", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :some_id, InputGroup.all.map{|t| [t.name, t.id] }, {}, {class: 'form-control'} %></div>
        </div>
    <% end %>
<% end %>
