<ol class="breadcrumb">
    <li><%= link_to 'リスト管理', staff_list_defs_path %></li>
    <li><%= link_to show_caption(@list_def) + " 詳細", staff_list_def_path(@list_def) %></li>
    <li><%= link_to 'フィルタ 詳細', staff_list_def_list_filter_def_path(@list_def, @list_filter_def) %></li>
    <li class="active">フィルタ 修正</li>
</ol>

<div class="page-header">
    <h1>フィルタ 修正</h1>
</div>

<%= render 'form' %>

