<%= form_for [:staff, @html_parts_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @html_parts_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @html_parts_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @html_parts_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name, "名前", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :name, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :html_string_ja, "内容(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :html_string_ja, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :html_string_en, "内容(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :html_string_en, rows: 10, class: 'form-control' %></div>
    </div>
    
    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
 