<ol class="breadcrumb">
    <li><%= link_to '画面部品管理', staff_html_parts_defs_path %></li>
    <li class="active"><%= @html_parts_def.name %> 修正</li>
</ol>

<div class="page-header">
    <h1><%= @html_parts_def.name %> 修正</h1>
</div>

<%= render 'form' %>

