<div class="page-header">
  <h1>画面部品管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-8">
            <col class="col-xs-8">
            <col class="col-xs-2">
            <col class="col-xs-2">
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>日本語</th>
                <th>英語</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <% @html_parts_defs.each do |html_parts_def| %>
                <tr>
                    <td><%= link_to html_parts_def.name, staff_html_parts_def_path(html_parts_def) %></td>
                    <td><div class="html-css-container"><%= html_parts_def.html_string_ja %></div></td>
                    <td><div class="html-css-container"><%= html_parts_def.html_string_en %></div></td>

                    <td><%= link_to '修正', edit_staff_html_parts_def_path(html_parts_def) %></td>
                    <td><%= link_to '削除', staff_html_parts_def_path(html_parts_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_html_parts_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

