<ol class="breadcrumb">
    <li><%= link_to '画面部品管理', staff_html_parts_defs_path %></li>
    <li class="active">画面部品 新規作成</li>
</ol>

<div class="page-header">
    <h1>画面部品 新規作成</h1>
</div>

<%= render 'form' %>

