<div class="form-group">
    <%= f.label :body_top_html_string_ja, 'メイン上 (日本語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_top_html_string_ja, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_top_html_string_en, 'メイン上 (英語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_top_html_string_en, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_bottom_html_string_ja, 'メイン下 (日本語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_bottom_html_string_ja, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_bottom_html_string_en, 'メイン下 (英語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_bottom_html_string_en, rows: 10, class: 'form-control' %></div>
</div>

<div class="form-group">
    <%= f.label :header_parts_id, 'ヘッダ', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.select :header_parts_id, show_html_parts_select_option, { include_blank: "指定しない" }, { class: 'form-control' } %></div>
</div>
<div class="form-group">
    <%= f.label :footer_parts_id, 'フッタ', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.select :footer_parts_id, show_html_parts_select_option, { include_blank: "指定しない" }, { class: 'form-control' } %></div>
</div>
<div class="form-group">
    <%= f.label :right_side_parts_id, '右側', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.select :right_side_parts_id, show_html_parts_select_option, { include_blank: "指定しない" }, { class: 'form-control' } %></div>
</div>

