<div class="form-group">
    <%= f.label :body_top_html_string_ja, 'メイン上 (日本語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_top_html_string_ja, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_top_html_string_en, 'メイン上 (英語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_top_html_string_en, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_bottom_html_string_ja, 'メイン下 (日本語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_bottom_html_string_ja, rows: 10, class: 'form-control' %></div>
</div>
<div class="form-group">
    <%= f.label :body_bottom_html_string_en, 'メイン下 (英語)', class: "col-md-5 control-label" %>
    <div class="col-md-19"><%= f.text_area :body_bottom_html_string_en, rows: 10, class: 'form-control' %></div>
</div>
