<tr>
    <th>メイン上 (日本語)</th>
    <td><div class="html-css-container"><%= html_set_defs.try(:body_top_html_string_ja) %></div></td>
</tr>
<tr>
    <th>メイン上 (英語)</th>
    <td><div class="html-css-container"><%= html_set_defs.try(:body_top_html_string_en) %></div></td>
</tr>
<tr>
    <th>メイン下 (日本語)</th>
    <td><div class="html-css-container"><%= html_set_defs.try(:body_bottom_html_string_ja) %></div></td>
</tr>
<tr>
    <th>メイン下 (英語)</th>
    <td><div class="html-css-container"><%= html_set_defs.try(:body_bottom_html_string_en) %></div></td>
</tr>
