<%= form_for [:staff, @input_group, @input_group_field], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @input_group_field.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @input_group_field.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @input_group_field.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :field_def_id, "データ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :field_def_id, FieldDefLoader.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名の別名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名の別名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :description, "入力時注釈", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :description, class: 'form-control', placeholder: '「yy-mm-dd」や「選択してください」など。項目が複数ある場合はコンマ区切り' %></div>
    </div>

    <div class="form-group">
        <%= f.label :result, "結果形式での表示", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :result, true %> 結果形式で項目を表示する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :result, false %> 結果形式で項目を表示しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :detail, "詳細形式での表示", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :detail, true %> 詳細形式で項目を表示する
            </label>
            <label class="radio-inline">
                <%= f.radio_button :detail, false %> 詳細形式で項目を表示しない
            </label>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :must, "必須", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :must, true %> 必須入力
            </label>
            <label class="radio-inline">
                <%= f.radio_button :must, false %> 任意入力
            </label>
        </div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
