<div class="page-header">
    <h2>データグループのデータ項目</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-xs-5">
            <col class="col-xs-5">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>データ項目</th>
                <th>別名</th>
                <th>必須</th>
                <th>結果</th>
                <th>詳細</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>

        <tbody>
        <% @input_group_fields.each do |input_group_field| %>
            <tr>
                <td><%= show_caption(input_group_field.field_def) %></td>
                <td><%= show_caption(input_group_field) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, input_group_field.must) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, input_group_field.result) %></td>
                <td><%= show_bool_value(FieldDef::YES_NO_BOOL_VALUE, input_group_field.detail) %></td>
                <td>
                    <%= link_to up_staff_input_group_input_group_field_path(@input_group, input_group_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_input_group_input_group_field_path(@input_group, input_group_field), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '修正', edit_staff_input_group_input_group_field_path(@input_group, input_group_field) %></td>
                <td><%= link_to '削除', staff_input_group_input_group_field_path(@input_group, input_group_field), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_input_group_input_group_field_path(@input_group), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


