<ol class="breadcrumb">
    <li><%= link_to 'データグループ 管理', staff_input_groups_path %></li>
    <li><%= link_to @input_group.name + " 詳細", staff_input_group_path(@input_group) %></li>
    <li class="active">データグループのデータ項目 新規作成</li>
</ol>


<div class="page-header">
    <h1>データグループのデータ項目 新規作成</h1>
</div>

<%= render 'form' %>

