<%= form_for [:staff, @input_group], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @input_group.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @input_group.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @input_group.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :name, "名前", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :name, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :detail_view_type_id, "詳細表示形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :detail_view_type_id, show_detail_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :detail_sub_header_view_type_id, "詳細表示サブヘッダ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :detail_sub_header_view_type_id, show_detail_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <div class="form-group">
        <%= f.label :detail_sub_footer_view_type_id, "詳細表示サブフッタ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :detail_sub_footer_view_type_id, show_detail_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <%= f.fields_for :detail_html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
