<div class="page-header">
  <h1>データグループ 管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-9">
            <col class="col-xs-2">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>名前</th>
                <th>移動</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
        <% @input_groups.each do |input_group| %>
            <tr>
                <td><%= input_group.name %></td>
                <td>
                    <%= link_to up_staff_input_group_path(input_group), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_input_group_path(input_group), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '詳細', staff_input_group_path(input_group) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_input_group_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>
