<ol class="breadcrumb">
    <li><%= link_to 'データグループ 管理', staff_input_groups_path %></li>
    <li class="active">データグループ 新規作成</li>
</ol>

<div class="page-header">
    <h1>データグループ 新規作成</h1>
</div>

<%= render 'form' %>

