<ol class="breadcrumb">
    <li><%= link_to 'データグループ 管理', staff_input_groups_path %></li>
    <li class="active"><%= @input_group.name + " 詳細" %></li>
</ol>

<div class="page-header">
    <h1><%= @input_group.name %> 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>名前</th>
                <td><%= @input_group.name %></td>
            </tr>
            <tr>
                <th>詳細表示形式</th>
                <td><%= show_detail_view_type @input_group.detail_view_type_id %></td>
            </tr>
            <tr>
                <th>詳細表示サブヘッダ形式</th>
                <td><%= show_detail_sub_header_view_type @input_group.detail_sub_header_view_type_id %></td>
            </tr>
            <tr>
                <th>詳細表示サブフッタ形式</th>
                <td><%= show_detail_sub_footer_view_type @input_group.detail_sub_footer_view_type_id %></td>
            </tr>
            <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @input_group.detail_html_set_def } %>
        </tbody>
    </table>


    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_input_group_path(@input_group), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_input_group_path(@input_group), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>

<%= render partial: 'input_group_fields/index' %>
