<div class="page-header">
    <h1><%= t('sessions.signin') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="form-group">
        <%= f.label :email, class: "col-md-4 control-label" %>
        <div class="col-md-10"><%= f.email_field :email, :autofocus => true, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :password, class: "col-md-4 control-label" %>
        <div class="col-md-10"><%= f.password_field :password, class: 'form-control' %></div>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-4"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        </div>
    <% end -%>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-4 text-right">
            <%= f.submit t('sessions.signin'), class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10 col-md-offset-4 text-right">
        <%= render "devise/shared/links" %>
    </div>
</div>






