<div class="page-header">
  <h1>著者へのメール送信</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">設定</div>
    <div class="panel-body">
        <h4>送信対象は、非公開ファイル管理の</h4>
        <p>/files/static/count_mail/authers.csv</p>
        <h4>送信内容は、非公開ファイル管理の</h4>
        <p>/files/static/count_mail/mail_text.txt</p>
        <p>を修正して下さい。</p>

        <p>mail_text.txtは1行目が送信元、２行目がタイトル、３行目以降が本文になります。</p>
        <p>統計を挿入する部分は、${ここに統計を表示} と記述して下さい。</p>
    </div>
</div>


<% if File.exists?(@mail_text_file) && File.exists?(@authers_file) %>
    <p><%= link_to '送信する', send_mail_staff_authers_mails_path, method: 'post', class: ['btn', 'btn-primary', 'btn-lg', 'btn-block'] %></p>
<% end %>

<% if File.exists?(@mail_text_file) %>
    <% mail_text = File.read(@mail_text_file) %>
    <% mail_text_array = mail_text.split("\n", 3) %>
    <div class="panel panel-default">
        <div class="panel-heading earmas-left-right-container"><div class="earmas-right-side">(from <%= mail_text_array[0] %>)</div><%= mail_text_array[1] %></div>
        <div class="panel-body">
            <%= simple_format mail_text_array[2] %>
        </div>
    </div>
<% end %>

<% if File.exists?(@authers_file) %>
    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <colgroup>
                <col class="col-xs-4">
                <col class="col-xs-6">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>メールアドレス</th>
                </tr>
            </thead>
            <tbody>
                <% CSV.foreach(@authers_file) do |line| %>
                    <% next if line.blank? %>
                    <tr>
                        <td><%= link_to line[0], staff_authers_mail_path(line[0]) %></td>
                        <td><%= line[1] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>

