<ol class="breadcrumb">
    <li><%= link_to '著者へのメール送信', staff_authers_mails_path %></li>
    <li class="active">送信メール内容確認</li>
</ol>

<div class="page-header">
    <h1>送信メール内容確認 <small><%= params[:id] %></small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading earmas-left-right-container"><div class="earmas-right-side">(from address <%= @mail_text_array[0] %>)</div><%= @mail_text_array[1] %></div>
    <div class="panel-body">
        <%= simple_format @download_count_text %>
    </div>
</div>
