<%= fields_for 'field_def', field_def do |f| %>
    <div class="form-group">
        <%= f.label :field_param_id1, '対象', class: "col-md-6 control-label" %>
        <div class="col-md-18">
            <label class="radio-inline">
                <%= f.radio_button :field_param_id1, FieldTypes::SystemValue::FIELD_SYSTEM_ID %> システムID
            </label>
            <label class="radio-inline">
                <%= f.radio_button :field_param_id1, FieldTypes::SystemValue::FIELD_CREATED_DATE %> 作成日
            </label>
            <label class="radio-inline">
                <%= f.radio_button :field_param_id1, FieldTypes::SystemValue::FIELD_CREATE_USER %> 作成者
            </label>
            <label class="radio-inline">
                <%= f.radio_button :field_param_id1, FieldTypes::SystemValue::FIELD_SELF_DOI %> SelfDOI
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :field_param_text1, '表示フォーマット', class: "col-md-6 control-label" %>
        <div class="col-md-18"><%= f.text_field :field_param_text1, placeholder: 'ABC%010dEFG 等', class: 'form-control' %></div>
    </div>
<% end %>

