<div class="field-simple-file other">
    <%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), view_state_path_gen(:file_path).call(field.document_id, field.field_def_id, field.id), class: 'link-file-title' %>
    <span class="file-size"><%= number_to_human_size(field.size) %></span>
    <%= field.publish_type_caption %>
    <% if field.embargo.present? %>( 公開日 <%= field.embargo.try(:strftime, "%Y-%m-%d") %> )<% end %>
</div>
