<div class="row">
    <div class="col-lg-5 col-md-4 journal-left-side">
        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="jounal-static-page-list">
            <li><%= link_to view_state_path_gen(:journal_path).call(@ej_journal_def.code) do %>Journal Home<% end %></li>
            <% @ej_journal_def.static_page_defs.each do |static_page_def| %>
                <li><%= link_to view_state_path_gen(:journal_static_page_path).call(@ej_journal_def.code, static_page_def.code) do %><%= show_caption(static_page_def) %><% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <form method="get" id="browse" class="journal-list-menu">
        <div><span class="border"><select name="url" id="url">

            <% @ej_words.each do |word| %>
                <option value="<%= gen_voliss_path(word) %>">Vol. <%= word.try(set_locale_suffix(:volume_caption)) %>, Iss. <%= word.try(set_locale_suffix(:issue_caption)) %></option>
            <% end %>


        </select>
        <input type="button" value="Browse" class="browse-btn" style="font-size:11px;"></span></div>
        </form>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

    <div class="col-lg-19 col-md-20 journal-not-left-side">
        <%= html_format @page_obj.try(:journal_static_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
        <div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %></div>

            <%= html_format @page_obj.try(set_locale_suffix(:body_main_html_string)) %>

        </div>

        <%= html_format @page_obj.try(:journal_static_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

</div>
