<div class="row">
    <div class="col-lg-5 col-md-4 journal-left-side">
        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

        <ul class="journal-list-menu">
            <li class="<%= show_ej_active %>"><%= link_to view_state_path_gen(:journal_path).call(@ej_journal_def.code) do %><i class="fa fa-chevron-right"></i> <%= t 'view.journal.top' %><% end %></li>
            <% @ej_words.each do |word| %>
                <li class="<%= show_ej_active(word) %>"><%= link_to gen_voliss_path(word) do %>
                    <i class="fa fa-chevron-right"></i> <%= [word.try(set_locale_suffix(:volume_caption)), word.try(set_locale_suffix(:issue_caption))].delete_if{|a|a.blank?}.join(' - ') %>
                    <% if word.try(set_locale_suffix(:publish_date_caption)).present? %>
                        <span class="publish-date" >( <%= word.try(set_locale_suffix(:publish_date_caption)) %> )</span>
                    <% end %>
                <% end %></li>
            <% end %>
        </ul>

        <%= html_format @ej_journal_def.try(:voliss_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

    <div class="col-lg-19 col-md-20 journal-not-left-side">
        <%= html_format @page_obj.try(:journal_static_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
        <div class="journal-breadcrumb"> <%= link_to 'Top', root_path %> &gt; <%= link_to @ej_word.try(set_locale_suffix(:journal_caption)), view_state_path_gen(:journal_path).call(@ej_journal_def.code) %></div>

        <div class="row">
            <div class="col-lg-18 col-md-17 journal-center">
                <%= html_format @page_obj.try(set_locale_suffix(:body_main_html_string)) %>
            </div>

            <div class="col-lg-6 col-md-7 journal-right-side">
                <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

                <ul class="jounal-static-page-list">
                    <% @ej_journal_def.static_page_defs.each do |static_page_def| %>
                        <li><%= link_to view_state_path_gen(:journal_static_page_path).call(@ej_journal_def.code, static_page_def.code) do %><i class="fa fa-angle-double-right"></i> <%= show_caption(static_page_def) %><% end %></li>
                    <% end %>
                </ul>

                <%= html_format @ej_journal_def.try(:static_list_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
            </div>

        </div>

        <%= html_format @page_obj.try(:journal_static_html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
    </div>

</div>
