<% fields.each do |field| %>
    <% if (I18n.locale == :ja && field.family_name_ja.present?) || field.family_name_en.blank? %>
        <span class="line-field field-repository-person">
            <%= field_def.set_unit_ja(field.get_field_type.format_name_ja(field, field.family_name_ja, field.given_name_ja)) %><span class='delim'><%= field_def.multi_field_delim %></span>
        </span>
    <% else %>
        <span class="line-field field-repository-person">
            <%= field_def.set_unit_en(field.get_field_type.format_name_en(field, field.family_name_en, field.given_name_en)) %><span class='delim'><%= field_def.multi_field_delim %></span>
        </span>
    <% end %>
<% end %>
