<% fields.each do |field| %>
    <% if (I18n.locale == :ja && field.caption_ja.present?) || field.caption_en.blank? %>
        <span class="line-field field-simple-select"><%= field_def.set_unit_ja(field.caption_ja) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% else %>
        <span class="line-field field-simple-select"><%= field_def.set_unit_en(field.caption_en) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% end %>
<% end %>
