<div class="page-header">
    <h1>
        <% if @document.has_thumnail? %>
            <%= image_tag view_state_document_thumnail_path_gen(@document), class: 'img-thumbnail thumbnail-left' %>
        <% end %>
        <%= render_document_field_line_by_num(@document, @document.detail_field_defs, 0, 'タイトルなし') %>
        <% if ViewState.pri? %><small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small><% end %>
    </h1>
</div>
