<% if @level_params.present? && @level_params.size >= 1 %>
    <% if File.exists?(static_file_path(get_level_params_file_name(@level_params) + ".jpg")) %>
        <div class="page-header list-image-header row">
            <div class="col-md-8 image-col"><%= image_tag "/files/static/" + get_level_params_file_name(@level_params) + ".jpg", class: "header-image" %></div>
            <div class="col-md-16 text-col">
                <h1><%= show_level_params(@level_params) %></h1>
                <% if File.exists?(static_file_path(get_level_params_file_name(@level_params) + ".txt")) %>
                    <%= raw File.read(static_file_path(get_level_params_file_name(@level_params) + ".txt")) %>
                <% end %>
            </div>
        </div>
    <% else %>
        <div class="page-header list-image-header row">
            <div class="col-md-16 image-col">
                <h1><%= show_level_params(@level_params) %></h1>
                <% if File.exists?(static_file_path(get_level_params_file_name(@level_params) + ".txt")) %>
                    <%= raw File.read(static_file_path(get_level_params_file_name(@level_params) + ".txt")) %>
                <% end %>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="page-header list-image-header">
        <h1><%= show_caption(@page_obj) %></h1>
    </div>
<% end %>

<div class="page-header">
    <h1><%= render_document_field_line_by_num(@document, @document.detail_field_defs, 0, 'タイトルなし') %>
        <% if ViewState.pri? %><small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small><% end %>
    </h1>
</div>
