<% 
    field_def = FieldDefLoader.field_defs_by_field_type_id_by_input_group_id(@document.input_group_id, FieldTypes::Nav::TYPE_ID).first
    if field_def.present?
        nav_field = @document.get_fields(field_def.id).first
    end

    if nav_field.present?
        prev_next_nav_field = field_def.get_type_class_by_view_state.get_prev_next_nav_field(nav_field)
        prev_nav_field = prev_next_nav_field[:prev_field]
        next_nav_field = prev_next_nav_field[:next_field]
        upper_nav_field = field_def.get_type_class_by_view_state.get_upper_nav_field(nav_field)
    end
%>
<div class="row">
    <div class="col-md-8 nav-field-left">
        <% if prev_nav_field.present? %>
            <%= link_to url_for(id: prev_nav_field.document.id) do %>
                <i class="fa fa-angle-double-left"></i><%= render_document_title(prev_nav_field.document, 'タイトルなし') %>
            <% end %>
        <% end %>
    </div>
    <div class="col-md-8 nav-field-center">
        <% if upper_nav_field.present? %>
            <%= link_to url_for(id: upper_nav_field.document.id) do %>
                <i class="fa fa-angle-up"></i><%= render_document_title(upper_nav_field.document, 'タイトルなし') %>
            <% end %>
        <% end %>
    </div>
    <div class="col-md-8 nav-field-righ">
        <% if next_nav_field.present? %>
            <%= link_to url_for(id: next_nav_field.document.id) do %>
                <%= render_document_title(next_nav_field.document, 'タイトルなし') %><i class="fa fa-angle-double-right"></i>
            <% end %>
        <% end %>
    </div>
</div>


<div class="page-header">
    <h1>
        <% if @document.has_thumnail? %>
            <%= image_tag view_state_document_thumnail_path_gen(@document), class: 'img-thumbnail thumbnail-left' %>
        <% end %>
        <%= render_document_field_line_by_num(@document, @document.detail_field_defs, 0, 'タイトルなし') %>
        <% if ViewState.pri? %><small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small><% end %>
    </h1>
</div>
