<div class="earmas-right-side"><%= render_document_field_block_by_num(@document, @document.detail_field_defs, 1, '') %></div>

<div class="page-header">
    <h2><%= render_document_field_line_by_num(@document, @document.detail_field_defs, 0, 'タイトルなし') %>
        <% if ViewState.pri? %><small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small><% end %>
    </h2>
</div>
