<div class="page-header">
    <h1><%= render_document_field_line_by_num(@document, @document.detail_field_defs, 0, 'タイトルなし') %>
        <% if ViewState.pri? %><small><%= link_to '修正', edit_staff_pri_document_path(@document.id) %></small><% end %>
    </h1>
</div>
