<%= form_for [:staff, @left_menu_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @left_menu_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @left_menu_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @left_menu_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :menu_type, "種類", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <%= f.select :menu_type, show_menu_type_select_option, {}, { 
                class: 'form-control',
                data: { remote: true, url: param_form_staff_left_menu_defs_path }, 
            } %>
        </div>
    </div>
    <div class="param-fields">
        <%= render_left_menu_def_param(@left_menu_def) %>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>
