<% case left_menu_def.menu_type %>
<% when LeftMenuDef::TYPE_LIST_DEF %>
    <%= fields_for 'left_menu_def', left_menu_def do |f| %>
        <div class="form-group">
            <%= f.label :menu_id, "リスト", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :menu_id, ListDef.order(:id).map{|t| [show_caption(t), t.id] }, {}, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% when LeftMenuDef::TYPE_STATIC_PAGE_DEF %>
    <%= fields_for 'left_menu_def', left_menu_def do |f| %>
        <div class="form-group">
            <%= f.label :menu_id, "静的ページ", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.select :menu_id, StaticPageDef.order(:id).map{|t| [show_caption(t), t.id] }, {}, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% when LeftMenuDef::TYPE_BLANK %>
<% when LeftMenuDef::TYPE_LABEL %>
    <%= fields_for 'left_menu_def', left_menu_def do |f| %>
        <div class="form-group">
            <%= f.label :caption_ja, "表示(日本語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :caption_ja, { class: 'form-control' } %></div>
        </div>
        <div class="form-group">
            <%= f.label :caption_en, "表示(英語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :caption_en, { class: 'form-control' } %></div>
        </div>
        <div class="form-group">
            <%= f.label :html_class_ja, "htmlクラス(日本語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :html_class_ja, { class: 'form-control' } %></div>
        </div>
        <div class="form-group">
            <%= f.label :html_class_en, "htmlクラス(英語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :html_class_en, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% when LeftMenuDef::TYPE_LINK %>
    <%= fields_for 'left_menu_def', left_menu_def do |f| %>
        <div class="form-group">
            <%= f.label :caption_ja, "表示(日本語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :caption_ja, { class: 'form-control' } %></div>
        </div>
        <div class="form-group">
            <%= f.label :caption_en, "表示(英語)", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :caption_en, { class: 'form-control' } %></div>
        </div>
        <div class="form-group">
            <%= f.label :value, "URL", class: "col-md-5 control-label" %>
            <div class="col-md-19"><%= f.text_field :value, { class: 'form-control' } %></div>
        </div>
    <% end %>
<% end %>
