<% @left_menu_def_map_by_parent[parent].each do |left_menu_def| %>
    <tr>
        <% level.times do %>
            <td class="offset-sell"></td>
        <% end %>
        <td colspan="<%= 6 - level %>"><%= level + 1 %></td>
        <td><%= show_menu_def_link(left_menu_def) %></td>
        <td><%= show_menu_type(left_menu_def.menu_type) %></td>
        <td>
            <%= link_to up_staff_left_menu_def_path(left_menu_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                <span class="glyphicon glyphicon-arrow-up"></span><% end %>
            <%= link_to down_staff_left_menu_def_path(left_menu_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                <span class="glyphicon glyphicon-arrow-down"></span><% end %>
            <%= link_to left_staff_left_menu_def_path(left_menu_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                <span class="glyphicon glyphicon-arrow-left"></span><% end %>
            <%= link_to right_staff_left_menu_def_path(left_menu_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                <span class="glyphicon glyphicon-arrow-right"></span><% end %>
        </td>
        <td><%= link_to '修正', edit_staff_left_menu_def_path(left_menu_def) %></td>
        <td><%= link_to '削除', staff_left_menu_def_path(left_menu_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['text-danger'] %></td>

        <% next if @left_menu_def_map_by_parent[left_menu_def.id].blank? %>
        <%= render partial: 'left_menu_defs/tree', locals: { level: level + 1, parent: left_menu_def.id } %>
    </tr>
<% end %>
