<ol class="breadcrumb">
    <li><%= link_to '左メニュー管理', staff_left_menu_defs_path %></li>
    <li class="active">左メニュー 修正</li>
</ol>

<div class="page-header">
    <h1>左メニュー 修正</h1>
</div>


<%= render 'form' %>





