<div class="page-header">
  <h1>左メニュー管理</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col class="col-xs-6">
            <col class="col-xs-6">
            <col class="col-xs-4">
            <col class="col-xs-2">
            <col class="col-xs-2">
        </colgroup>
        <thead>
            <tr>
                <th colspan="6">階層</th>
                <th>メニュー</th>
                <th>種類</th>
                <th>移動</th>
                <th>修正</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <% if @left_menu_def_map_by_parent[nil].present? %>
                <%= render partial: 'left_menu_defs/tree', locals: { level: 0, parent: nil } %>
            <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_left_menu_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

