<% fields.each do |field| %>
    <% if field_def.field_type_class.enable_gen_url?(field_def) %>
        <span class="line-field field-url-generate"><%= link_to field_def.set_unit_by_locale(field.value1), field_def.field_type_class.gen_url(field_def, field) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% else %>
        <span class="line-field field-url-generate"><%= field_def.set_unit_by_locale(field.value1) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
    <% end %>
<% end %>
