<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= content_tag :div, nil,
    class: "fb-comments",
    'data-href' => get_public_document_url(@document),
    'data-width'=>"100%",
    'data-numposts'=>"5",
    'data-colorscheme'=>"light"
%>

