// Place all the styles related to the AdminSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass';
@import "compass/css3/user-interface";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "earmas_field";
@import "self_doi";
@import "view_result";
@import "view_detail";
@import "html_parts";
@import "journal";

.container, .container-fluid {
    .menu-side {
        margin-top: 20px;
    }
    .contents-side {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 20px;
    }
    .right-side {
        padding-top: 0px;
    }
    .header-parts {
        margin-top: -20px;
    }
    .footer-parts {
    }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: (5 - $grid-gutter-width / 2);
}

.page-header {
    h1 {
        @include pie-clearfix;
    }
    border-bottom: 0;
   .thumbnail-left{
        float: left;
        margin-right: 10px;
   }
}

.th-nowrap {
    th{
        white-space: nowrap;
    }
}

div.inline-table {
    display: inline-table;
}

h1 small {
    font-size: 50%;
}

td {
    > .breadcrumb{
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.img-fullwidth{ 
    display: inline-block;
    width: 100%;
    height: auto;
}

.earmas-left-side {
    text-align: left;
}
.earmas-right-side {
    text-align: right;
}
.earmas-left-right-container {
    @include pie-clearfix;
    .earmas-left-side {
        float: left;
    }
    .earmas-right-side {
        float: right;
    }
}

.breadcrumb {
    li {
        word-break: break-all;
        display: inline;
    }
    > li + li:before {
        padding: 0 0px 0 10px;
    }
}

.navbar-form {
    margin-top: ($navbar-height - 30) / 2;
    margin-bottom: ($navbar-height - 30) / 2;
}

.field_with_errors {
    @extend .has-error;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  > div {
    font-weight: bold;
    margin-bottom: 20px;
  }
  ul {
    padding-left: 0.3em;
    list-style-position: inside;
  }
}

.field-error-message {
    margin-left: 10px;
    color: red;
}


.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    @include min-height(100px);
}

.over-flow{
    overflow: auto;
}
.no-wrap-table{
    white-space: nowrap;
}

.hidden_container {
    display: none;
}

.must-field{
    color: $brand-success;
}

.fields_container {
    .tmpl, .field.deleted {
        display: none;
    }
    .form-group{
        .form-group{
            margin: 7px 0px 7px;
            &:first-child {
                margin-top: 0px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.field.form-group:not(.deleted) {
    margin: 0px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: solid 1px #ECECEC;
    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }
    &:not(:last-child) {
        .field_add_button{
            display: none;
        }
    }
    .field_clear_button {
        display: none;
    }
    .field_del_button {
        display: inline;
    }
    &:last-child {
        .field_clear_button {
            display: inline;
        }
        .field_del_button {
            display: none;
        }
    }
    & + .field.form-group {
        .field_clear_button {
            display: none;
        }
        .field_del_button {
            display: inline;
        }
    }
}
.templ_field, .deleted_field{
    display: none;
}


.form_button_container {
    position: relative;
    text-align: right;
    .left {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .no_button{
        padding-right: 10px;
    }
    &.top {
        margin-bottom: 15px;
    }
    &.bottom {
        margin-top: 15px;
    }
}

.form-control.inline{
    margin-left: 15px;
    display: inline-block;
    width: 70%;
}
.input-group.inline{
    margin-left: 15px;
    display: inline-block;
    width: 70%;
}

.alert:empty {
    display: none;
}

.paginate-holder {
    text-align: center;
    margin-top: 20px;
}
.pagination {
    margin-left: auto;
    margin-right: auto;
}

.tab-content {
    padding-top: 20px;
}

.panel-heading.position_holder {
    position: relative;
    .right{
        position: absolute;
        right: 15px;
    }
}

.offset-sell {
    width: 10px;

}
.offset-menu {
    margin-left: 10px;

}

.nav > li > span {
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 15px;
}


.html-css-container {
    max-height: 100px;
    overflow: auto;
    word-break: break-all;
}

.deleted-document {
    background-color: $state-danger-bg;
}

.load-content {
    margin-bottom: 30px;
}

.toggle-container {
    .toggle-show-container{
        display: block;
    }
    .toggle-hide-container{
        display: none;
    }
    &.show {
        .toggle-show-container{
            display: none;
        }
        .toggle-hide-container{
            display: block;
        }
    }
}

.post-target-frame {
    display: none;
}

.long-link {
    overflow: auto;
    display: block;
    width: 100%;
}

/*
 * left menu
 */

.menu-side .nav-stacked > li:not(.child-holder) {
    border-right: solid 4px #B8B8B8;
    @include box-shadow(#aeaeae 1px 2px 9px -4px);
    border-radius: 6px 0px 0px 6px;
}
.menu-side .nav-stacked > li + li {
    margin-top: 10px;
    margin-left: 0;
}
.menu-side .nav-pills > li > a {
    border-radius: 5px 0px 0px 4px;
    color: #5f5f5f;
}
.menu-side .nav-pills > li.active > a, .menu-side .nav-pills > li.active > a:hover, .menu-side .nav-pills > li.active > a:focus {
    color: white;
    background-color: #5A5A5A;
}

.menu-side ul.nav-stacked > li > ul.nav-stacked {
    margin-left: 6px;
}

/*
 * loading
 */

#loading {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $background-loading-color;
    @include opacity(0.7);
    i{
        font-size: 100px;
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -1em;
    }
}

#loading.show {
    display: block;
}

/*
 * error
 */

.closable-box {
    display: none;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 20%;
    width: 50%;
    margin-left:-25%;
    line-height: 30px;
    padding: 15px 15px 15px 20px;

    .message {
        border: none;
        font-weight: bold;
    }
    .close-button {
        @include box-shadow(none);
        font-weight: bold;
        float: right;
        background: inherit;
        margin: 0;
        padding: 0;
        color: inherit;
        border: none;
        font-size: 24px;
    }
    &.show {
        display: block;
    }
}

/*
 * list param view
 */


.list-param-view-block {
    padding: 1px 10px 10px;
    .page-main {
        padding: 20px 2px 10px;
    }
}

.sns-buttons {
    margin-top: -30px;
    text-align: right;
    > div {
        vertical-align: bottom;
        margin-bottom: 5px;
        display: inline-block;
    }
    > iframe {
        vertical-align: bottom;
        margin-bottom: 5px;
        display: inline-block;
    }
}

.long-cell{
    word-break: break-all
}

/*
 * selectable container
 */

.selectable-container {
    .selected-only-block {
        display: none;
    }
    .selected-only-inline {
        display: none;
    }
    .not-selected-only-block {
        display: block;
    }
    .not-selected-only-inline {
        display: inline;
    }
}

.selectable-container.selected {
    .selected-only-block {
        display: block;
    }
    .selected-only-inline {
        display: inline;
    }
    .not-selected-only-block {
        display: none;
    }
    .not-selected-only-inline {
        display: none;
    }
}

.close-btn, .show-btn {
    cursor: pointer;
}

.no-border-table {
    border-style: none;
    thead > tr > th, thead > tr > td, tbody > tr > th, tbody > tr > td, tfoot > tr > th, tfoot > tr > td{
        border-style: none;
    }
}

.float-container {
    @include pie-clearfix;
}

.list-search-form{
    padding: 0px 10px 20px;
}
