
span.line-field:last-child .delim {
    display: none;
}

div.field-repository-person{
    a.external {
        font-size: 85%;
        padding-left: 10px;
        .fa{
            font-size: 85%;
        }
    }
}

div.field-simple-file {
    @include pie-clearfix;

    .thumbnail-left {
        float: left;
        margin-right: 10px;
    }
    .file-size{
        color: #929292;
    }
}
div.detail-view-block{
    .file-size{
        color: #929292;
    }
}

div.field-simple-textarea {
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }

}
div.field-html-textarea {
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }

    img {
        max-width : 100%;
    }
}
div.field-markdown-textarea {
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }

    img {
        max-width : 100%;
    }
    h1 {
        margin-bottom: 50px;
    }
    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
        border-bottom: solid 1px #CFCFCF;
        padding-bottom: 10px;
    }
    h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
