
/*
 * statictics-rank
 */
.load-statictics {
    ul.load-statictics-rank {
        list-style-position: inside;
        padding-left: 0.3em;
        list-style: none;

        li {
            a {

            }
        }
    }
    .right-side{
        float: right;
    }
}
