
#all-journal-index {
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;

    .voliss{
        margin-bottom: 20px;
        position: relative;
        .voliss-title{
            font-size: 20px;
            font-weight: bold;
        }
        ul{
            list-style: none;
            margin: 20px 0 20px;
            padding-left: 10px;
        }
        .form-panel{
            width: 90%;
            background-color: white;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
        }
    }
    .article{
        position: relative;
        cursor: pointer;
        background-color: white;
        border: solid 2px gray;
        padding: 10px;
        margin-top: -2px;
        &:first-child{
            margin-top: 0px;
        }
        .btn-container{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .start-page, .end-page{
            text-align: right;
        }
    }
    .page{
        text-align: right;
    }
}
.tmpl-container {
    display: none;
}
.journal-center .all-journal-index{
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;

    .voliss{
        margin-bottom: 20px;
        position: relative;
        .voliss-title{
            font-size: 20px;
            font-weight: bold;
        }
        ul{
            list-style: none;
            margin: 10px 0 20px;
            padding-left: 10px;
        }
    }
    .article{
        position: relative;
        margin: 0px;
        padding: 20px 10px 10px 10px;
        border-style: none none solid;
        border-bottom: 1px dashed $gray-light;

        &:first-child{
            padding-top: 0px;
        }
        .title {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .article-body {
            display: inline-block;
            margin-right: 90px;
        }

        .page{
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 12px;
            color: $gray-light;
        }
    }
}

