

.result-header-item {
    text-align: right;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 30px;
    }
}
.download-field-select {

}
.sort-field-select {

}

.list-image-header {
    position: relative;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0; 
    padding: 0px 20px 20px;
    background-color: lighten($brand-info, 35%);
    h1 {
        margin: 0px 0px 20px;
        padding: 0px;
    }
    &.has-image {
        padding-left: 240px;
        @include min-height(200px);
    }
    .header-image {
        width: 100%;
    }
    .image-col{
        padding: 20px 0px 0px;
    }
    .text-col{
        padding: 20px 20px 0px;
    }
    th {
        white-space: nowrap;
        padding-right: 10px;
    }
}

.result-view-block {
    padding: 1px 10px 10px;
    .page-main {
        padding: 20px 2px 10px;
    }
}

.nav-tree {
    list-style-type: none;

    li > a {
        display: block;
        padding: 10px 15px;
    }
}

.news-group-item {
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}


.view-result-item {
    position: relative;
    padding: 15px 1px 15px;
    border-bottom: 1px solid $gray-lighter;

    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }

    .title {
        font-size: 125%;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .img-thumbnail-container{
        @include pie-clearfix;

        img {
            float: left;
            width: 100px;
            margin-right: 15px;
        }
    }

    th {
        white-space: nowrap;
    }
    th, td {
        padding: 1px 20px 0px 2px;
        vertical-align: top;
    }
}


.view-result-items.box-view {

    .view-result-item {
        padding: 10px;
        border-bottom: 0;

        .img-thumbnail-container {
            img {
                margin-right: 12px;
            }
            margin-bottom: 10px;
        }
        .title{
            font-size: 13px;
            margin-bottom: 0;
        }
        .field{
            font-size: 12px;
        }
    }
}

.view-result-items.pickup-view {

    .view-result-item {
        padding: 20px 1px 20px;

        .img-thumbnail-container {
            img {
                width: 200px;
                margin-right: 25px;
                margin-bottom: 20px;
            }
        }
        .title{
            margin-bottom: 20px;
        }
        .right-side {
            float: right;
        }
        .date {
            text-align: right;
        }
        .auther {
            text-align: right;
        }
    }
}
