

.detail-view-block {
    padding: 1px 10px 10px;
    .page-main {
        padding: 20px 2px 10px;
    }
    .img-thumbnail{
        width: 100px;
    }
}

.view-detail-item.nav-view .nav-field-main {
    margin-bottom: 60px;
}

.nav-field-left {
    text-align: left;
}
.nav-field-center {
    text-align: center;
}
.nav-field-righ {
    text-align: right;
}
