<%= form_for [:staff, @search_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @search_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @search_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @search_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :code, "コード", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :code, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_ja, "表示名(日本語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_ja, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :caption_en, "表示名(英語)", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_field :caption_en, class: 'form-control' %></div>
    </div>

    <div class="form-group">
        <%= f.label :description, "詳細", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :description, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>
<% end %>




