<div class="page-header">
    <h1>検索管理</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">検索項目</a></li>
    <li><a href="#result_view" data-toggle="tab">結果画面</a></li>
    <li><a href="#detail_view" data-toggle="tab">詳細画面</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="main">
        <div class="panel panel-default">
            <table class="table table-bordered table-striped">
                <colgroup>
                    <col class="col-xs-3">
                    <col class="col-xs-4">
                    <col class="col-xs-5">
                    <col class="col-xs-2">
                    <col class="col-xs-1">
                </colgroup>
                <thead>
                    <tr>
                        <th>コード</th>
                        <th>表示名(日本語)</th>
                        <th>表示名(英語)</th>
                        <th>移動</th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody>
                <% @search_defs.each do |search_def| %>
                    <tr>
                        <td><%= search_def.code %></td>
                        <td><%= search_def.caption_ja %></td>
                        <td><%= search_def.caption_en %></td>
                        <td>
                            <%= link_to up_staff_search_def_path(search_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                                <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                            <%= link_to down_staff_search_def_path(search_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                                <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                        </td>
                        <td><%= link_to '詳細', staff_search_def_path(search_def) %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '追加', new_staff_search_def_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="result_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>結果表示形式</th>
                        <td><%= show_result_view_type @search_setting.result_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @search_setting.result_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_search_setting_staff_search_defs_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="detail_view">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-xs-2">
                    <col class="col-xs-10">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>詳細表示形式</th>
                        <td><%= show_detail_view_type @search_setting.detail_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細サブヘッダ表示形式</th>
                        <td><%= show_detail_sub_header_view_type @search_setting.detail_sub_header_view_type_id %></td>
                    </tr>
                    <tr>
                        <th>詳細サブフッタ表示形式</th>
                        <td><%= show_detail_sub_footer_view_type @search_setting.detail_sub_footer_view_type_id %></td>
                    </tr>
                    <%= render partial: 'html_set_defs/show', locals: { html_set_defs: @search_setting.detail_html_set_def } %>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="form_button_container">
                    <%= link_to '修正', edit_search_setting_staff_search_defs_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<%= render partial: 'search_result_fields/index' %>


<hr />

<%= render partial: 'search_filter_defs/index' %>
