<ol class="breadcrumb">
    <li><%= link_to '検索管理', staff_search_defs_path %></li>
    <li class="active"><%= show_caption(@search_def) %> 詳細</li>
</ol>

<div class="page-header">
    <h1><%= show_caption(@search_def) %> 詳細</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>コード</th>
                <td><%= @search_def.code %></td>
            </tr>
            <tr>
                <th>日本語名</th>
                <td><%= @search_def.caption_ja %></td>
            </tr>
            <tr>
                <th>英語名</th>
                <td><%= @search_def.caption_en %></td>
            </tr>
            <tr>
                <th>説明</th>
                <td><%= @search_def.description %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_search_def_path(@search_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
            <%= link_to '削除', staff_search_def_path(@search_def), method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger', 'btn-xs'] %>
        </div>
    </div>
</div>

<%= render partial: 'search_field_defs/index' %>
