<div class="page-header">
    <% if @level_params.present? && @level_params.size >= 1 %>
        <h1><%= show_level_params(@level_params) %></h1>
    <% else %>
        <h1><%= show_caption(@page_obj) %></h1>
    <% end %>
</div>

<div class="result-header-items">
    <%= render partial: 'shared/download_form'%>
    <%= render partial: 'shared/sort_form'%>
</div>

