<% fields.each do |field| %>
    <div class="field-double-lang-text">
        <% if (I18n.locale == :ja && field.value1.present?) || field.value2.blank? %>
            <%= field_def.set_unit_ja(field.value1) %>
        <% else %>
            <%= field_def.set_unit_en(field.value2) %>
        <% end %>
    </div>
<% end %>
