<%= form_for @coverpage_setting, url: staff_coverpage_settings_update_path, method: :patch, html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @coverpage_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @coverpage_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @coverpage_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :cover_page_xml_string, "カバーページ用XSLT", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.text_area :cover_page_xml_string, rows: 10, class: 'form-control' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
