<ol class="breadcrumb">
    <li><%= link_to 'カバーページ設定', staff_system_settings_path %></li>
    <li class="active">カバーページ設定 修正</li>
</ol>

<div class="page-header">
    <h1>カバーページ設定 修正</h1>
</div>

<%= render 'form' %>

