<div class="page-header">
    <h1>カバーページ設定</h1>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>カバーページ用XSLT</th>
                <td><div class="html-css-container"><%= @coverpage_setting.cover_page_xml_string %></div></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', staff_coverpage_settings_edit_path, class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>

