<div class="page-header">
    <% if @list_def.get_field(@level_params.size) != nil && @list_def.get_field(@level_params.size).prefix_list? %>
        <h1><%= show_caption(@page_obj) + ' - ' + show_caption(@level_params[@level_params.size - 1]) %></h1>
    <% elsif @level_params.present? && @level_params.size >= 1 %>
        <h1><%= show_level_params(@level_params) %></h1>
    <% else %>
        <h1><%= show_caption(@page_obj) %></h1>
    <% end %>
</div>
