<%= html_format @static_page_def.try(:html_set_def).try(set_locale_suffix(:body_top_html_string)) %>
<%= html_format @static_page_def.try(set_locale_suffix(:body_main_html_string)) %>
<%= html_format @static_page_def.try(:html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>
