<%= form_for [:staff, @list_def, @list_field_def], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @list_field_def.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @list_field_def.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @list_field_def.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :field_def_id, "データ項目", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :field_def_id, FieldDefLoaderForInput.field_defs.map{|t| [show_caption(t), t.id] }, {}, {class: 'form-control'} %></div>
    </div>
    <div class="form-group">
        <%= f.label :list_field_type, "一覧タイプ", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :list_field_type, ListFieldDef::LIST_FIELD_TYPE_STD %>通常一覧
            </label>
            <label class="radio-inline">
                <%= f.radio_button :list_field_type, ListFieldDef::LIST_FIELD_TYPE_PREFIX %>頭文字一覧
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :sort_type, "並び順", class: "col-md-5 control-label" %>
        <div class="col-md-19">
            <label class="radio-inline">
                <%= f.radio_button :sort_type, ListFieldDef::SORT_TYPE_VALUE %>ソート値
            </label>
            <label class="radio-inline">
                <%= f.radio_button :sort_type, ListFieldDef::SORT_TYPE_KEY %>ソートキー
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :sort_reverse, "並びの昇順降順", class: "col-md-5 control-label" %>
        <%= show_bool_radio(f, :sort_reverse, ListDef::REVERSE_BOOL_VALUE) %>
    </div>
    <div class="form-group">
        <%= f.label :list_param_view_type_id, "値一覧形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_view_type_id, show_list_param_view_type_option, {}, { class: 'form-control' } %></div>
    </div>
    <div class="form-group">
        <%= f.label :list_param_sub_header_view_type_id, "値一覧サブヘッダ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_sub_header_view_type_id, show_list_param_sub_header_view_type_option, {}, { class: 'form-control' } %></div>
    </div>
    <div class="form-group">
        <%= f.label :list_param_sub_footer_view_type_id, "値一覧サブフッタ形式", class: "col-md-5 control-label" %>
        <div class="col-md-19"><%= f.select :list_param_sub_footer_view_type_id, show_list_param_sub_footer_view_type_option, {}, { class: 'form-control' } %></div>
    </div>

    <%= f.fields_for :list_param_html_set_def do |f| %>
        <%= render partial: 'html_set_defs/form', locals: { f: f } %>
    <% end %>


    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
