<div class="page-header">
    <h2>階層</h2>
</div>

<div class="panel panel-default">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-4">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-2">
            <col class="col-xs-4">
            <col class="col-xs-2">
            <col class="col-xs-1">
        </colgroup>
        <thead>
            <tr>
                <th>フィールド</th>
                <th>一覧タイプ</th>
                <th>並び順</th>
                <th>昇順/降順</th>
                <th>表示形式</th>
                <th>移動</th>
                <th>詳細</th>
            </tr>
        </thead>

        <tbody>
        <% @list_field_defs.each do |list_field_def| %>
            <tr>
                <td><%= show_caption list_field_def.field_def %></td>
                <td><%= show_list_field_type list_field_def %></td>
                <td><%= show_list_field_sort_type list_field_def %></td>
                <td><%= show_bool_value(ListDef::REVERSE_BOOL_VALUE, list_field_def.sort_reverse) %></td>

                <td><%= show_list_param_view_type list_field_def.list_param_view_type_id %></td>
                <td>
                    <%= link_to up_staff_list_def_list_field_def_path(@list_def, list_field_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-up"></span><% end %>
                    <%= link_to down_staff_list_def_list_field_def_path(@list_def, list_field_def), method: :put, class: ['btn', 'btn-default', 'btn-xs'] do %>
                        <span class="glyphicon glyphicon-arrow-down"></span><% end %>
                </td>
                <td><%= link_to '詳細', staff_list_def_list_field_def_path(@list_def, list_field_def) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '追加', new_staff_list_def_list_field_def_path(@list_def), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>



