<% case field_def.field_param_id1 %>
<% when FieldTypes::SystemValue::FIELD_SYSTEM_ID %>
    <div class="field-system-value field-system-value-id"><%= field_def.field_type_class.gen_data(field_def, document) %></div>
<% when FieldTypes::SystemValue::FIELD_CREATED_DATE %>
    <div class="field-system-value field-system-value-created-at"><%= field_def.field_type_class.gen_data(field_def, document) %></div>
<% when FieldTypes::SystemValue::FIELD_CREATE_USER %>
    <div class="field-system-value field-system-value-creator"><%= field_def.field_type_class.gen_data(field_def, document) %></div>
<% when FieldTypes::SystemValue::FIELD_SELF_DOI %>
    <div class="field-system-value field-system-value-self-doi"><%= link_to field_def.field_type_class.gen_url_caption(field_def, document), field_def.field_type_class.gen_data(field_def, document) %></div>
<% end %>
