<%= form_for [:staff, @access_count_setting], html: { class: "form-horizontal", role: "form" } do |f| %>
    <% if @access_count_setting.errors.any? %>
        <div id="error_explanation">
            <div><%= t("errors.messages.not_saved", :count => @access_count_setting.errors.count, :resource => 'データ') %></div>
            <ul>
                <% @access_count_setting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :my_url, '検索ページでの使用ドメイン', class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_field :my_url, class: 'form-control', placeholder: 'http://earmas-u.ac.jp/profile/{replace} 空の場合は個別のURLが使用される' %></div>
    </div>
    <div class="form-group">
        <%= f.label :filter_bot, 'Bot フィルター', class: "col-md-7 control-label" %>
        <div class="col-md-17">
            <label class="radio-inline">
                <%= f.radio_button :filter_bot, true %><%= AccessCountSetting::BOT_FILTER_BOOL_VALUE[0] %>
            </label>
            <label class="radio-inline">
                <%= f.radio_button :filter_bot, false %><%= AccessCountSetting::BOT_FILTER_BOOL_VALUE[1] %>
            </label>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :bot_names, 'Bot 名', class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_area :bot_names, rows: 10, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :bot_address, 'Bot アドレス', class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_area :bot_address, rows: 10, class: 'form-control' %></div>
    </div>
    <div class="form-group">
        <%= f.label :api_token, 'API Token', class: "col-md-7 control-label" %>
        <div class="col-md-17"><%= f.text_field :api_token, class: 'form-control', placeholder: '空の場合は、APIでの remote host は表示されない' %></div>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit '保存', class: ['btn', 'btn-primary'] %>
    </div>

<% end %>
