<ol class="breadcrumb">
    <li><%= link_to 'アクセス統計管理', staff_people_path %></li>
    <li class="active">アクセス統計管理 修正</li>
</ol>

<div class="page-header">
    <h1>アクセス統計管理 修正</h1>
</div>

<%= render 'form' %>
