<div class="page-header">
  <h1>アクセス統計管理</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        基本設定
    </div>
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-10">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>値</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>検索ページでの使用ドメイン</th>
                <td><%= @access_count_setting.my_url %></td>
            </tr>
            <tr>
                <th>Bot フィルター</th>
                <td><%= @access_count_setting.filter_bot %></td>
            </tr>
            <tr>
                <th>Bot 名</th>
                <td><%= @access_count_setting.bot_names %></td>
            </tr>
            <tr>
                <th>Bot アドレス</th>
                <td><%= @access_count_setting.bot_address %></td>
            </tr>
            <tr>
                <th>API Token</th>
                <td><%= @access_count_setting.api_token %></td>
            </tr>
        </tbody>
    </table>

    <div class="panel-footer">
        <div class="form_button_container">
            <%= link_to '修正', edit_staff_access_count_setting_path(@access_count_setting), class: ['btn', 'btn-primary', 'btn-xs'] %>
        </div>
    </div>
</div>


