<div class="page-header">
    <h1><%= show_caption(@page_obj) %></h1>
</div>

<%= html_format @page_obj.try(:html_set_def).try(set_locale_suffix(:body_top_html_string)) %>

<%= form_for @contact_mail, :url => view_state_path_gen(:send_contact_us_path).call do |f| %>
    <% if @contact_mail.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @contact_mail.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 10, class: 'form-control' %>
    </div>

    <div class="form_button_container bottom">
        <%= f.submit t('view.mail_send'), class: ['btn', 'btn-primary'] %>
    </div>
<% end %>

<%= html_format @page_obj.try(:html_set_def).try(set_locale_suffix(:body_bottom_html_string)) %>









