<div class="page-header">
    <h1><%= show_caption(@page_obj) %></h1>
</div>

<p><%=t('activemodel.attributes.contact_mail.result_message') %></p>

<div class="panel panel-default">
    <div class="panel-heading"><%=t('activemodel.attributes.contact_mail.email') %> : <%= flash[:send_email] %></div>
    <div class="panel-body">
        <%= simple_format flash[:send_body] %>
    </div>
</div>










