<%= saerch_breadcrumb %>

<div class="page-header">
  <h1><%=t 'view.search' %></h1>
</div>

<%= form_tag view_state_path_gen(:search_search_path).call, method: :get, class: "form-horizontal" do |f| %>
    <div class="panel panel-default">
        <div class="panel-heading"><%=t 'view.search_param' %></div>
        <div class="panel-body">
            <div class="form-group">
                <%= label_tag 'all', t('view.all'), class: "col-md-6 col-lg-5 control-label" %>
                <div class="col-md-18 col-lg-19">
                    <%= text_field_tag 'all', params['all'], class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= label_tag 'include_file', t('view.include_file'), class: "col-md-6 col-lg-5  control-label" %>
                <div class="col-md-18 col-lg-19">
                    <label class="radio-inline">
                        <%= radio_button_tag 'include_file', 'exclude', (params['include_file'] != 'include') %> <%=t 'view.exclude' %>
                    </label>
                    <label class="radio-inline">
                        <%= radio_button_tag 'include_file', 'include', (params['include_file'] == 'include') %> <%=t 'view.include' %>
                    </label>
                </div>
            </div>
            <div class="toggle-container <%= show_search_term %>">
                <div class="toggle-show-container">
                    <div class="text-right"><a href="#" class="toggle-show-button"><%=t 'view.advanced_sarch' %></a></div>
                </div>
                <div class="toggle-hide-container">
                    <p class="text-right"><a href="#" class="toggle-hide-button"><%=t 'view.close' %></a></p>
                    <% SearchDef.all.each do |search| %>
                        <div class="form-group">
                            <%= label_tag search.code, show_caption(search), class: "col-md-6 col-lg-5 control-label" %>
                            <div class="col-md-18 col-lg-19">
                                <%= text_field_tag search.code, params[search.code.to_s], class: 'form-control' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="panel-footer earmas-right-side">
            <%= submit_tag t('view.search'), class: ['btn', 'btn-primary'] %>
        </div>
    </div>
<% end %>

<p class="well well-sm text-right"><%=t 'view.search_result' %> <%= @count %> 件</p>

<div class="result-header-items">
    <%= render partial: 'shared/download_form'%>
    <%= render partial: 'shared/sort_form'%>
</div>

<%= render_result_by_view_type %>

