<%= saerch_breadcrumb %>

<div class="detail-view-block">
    <%= render_detail_by_sub_header_view_type %>
    <%= render_detail_by_view_type %>
    <%= render_detail_by_sub_footer_view_type %>
</div>
