<% fields.each do |field| %>
    <span class="line-field field-simple-date"><%= field_def.set_unit_by_locale(field.value1.strftime(FieldTypes::SimpleDate::DATE_FORMAT)) %><span class='delim'><%= field_def.multi_field_delim %></span></span>
<% end %>
