<div class="field-simple-file image" data-embargo="<%= field.embargo.try(:strftime, "%Y-%m-%d") %>">
    <% if field.has_thumnail? %>
        <%= link_to public_dir_file_to_url_path(field.file_path), class: 'link-thumbnail' do %>
            <%= image_tag public_dir_file_to_url_path(field.thumnail_path), class: 'img-thumbnail thumbnail-left' %>
        <% end %>
    <% else %>
        <%= image_tag public_dir_file_to_url_path(field.file_path), class: 'img-thumbnail' %>
    <% end %>
    <%= link_to field_def.set_unit_by_locale(field.title.present? ? field.title : field.org_file_name), public_dir_file_to_url_path(field.file_path), class: 'link-file-title' %>
    <span class="file-size"><%= number_to_human_size(field.size) %></span>
    <span class="file-publish-type"><%= field.publish_type_caption %></span>
</div>
