<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title><%= @page_title + show_system_title %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <% if File.exists?(static_file_path('css/style.css')) %>
        <%= stylesheet_link_tag static_file_url_path('css/style.css') %>
    <% end %>
    <style>
        <%= raw @system_setting.css_string %>
    </style>
    <%= javascript_include_tag "application" %>
    <% if File.exists?(static_file_path('js/custom.js')) %>
        <%= javascript_include_tag static_file_url_path('js/custom.js?body=1') %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= @meta_info if @meta_info.present? %>
    <meta charset="UTF-8">
    <meta property="og:title" content="<%= @page_title + show_system_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= og_url %>" />
    <% if File.exists?(static_file_path('og.jpg')) %>
        <meta property="og:image" content="<%= static_file_url_path('og.jpg') %>" />
    <% end %>
    <meta property="og:site_name" content="<%= show_system_title %>" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav id="header" class="navbar navbar-inverse navbar-static-top pub" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to show_system_title, view_state_path_gen(:path).call, class: "navbar-brand header-title" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if staff_signed_in? %>
                <% if current_staff.ej_editor? %>
                    <ul class="nav navbar-nav">
                        <li class="<%= path_active?(pub_path) %>"><%= link_to '公開', pub_path %></li>
                        <li class="<%= path_start_with_active?(lim_path) %>"><%= link_to '限定', lim_path %></li>
                        <li class="<%= path_start_with_active?(staff_ej_editors_ej_journal_show_path) %>"><%= link_to 'スタッフ', staff_ej_editors_ej_journal_show_path %></li>
                    </ul>
                 <% else %>
                    <ul class="nav navbar-nav">
                        <li class="<%= path_active?(pub_path) %>"><%= link_to '公開', pub_path %></li>
                        <li class="<%= path_start_with_active?(lim_path) %>"><%= link_to '限定', lim_path %></li>
                        <li class="<%= path_start_with_active?(pri_path) %>"><%= link_to '未公開', pri_path %></li>
                        <li class="<%= path_start_with_active?(staff_path) %>"><%= link_to 'スタッフ', staff_path %></li>
                    </ul>
                <% end %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'パスワード変更', staff_edit_password_path %></li>
                            <li class="divider"></li>
                            <li><%= link_to 'ログアウト', destroy_staff_session_path, method: 'delete' %></li>
                        </ul>
                    </li>
                </ul>
            <% else %>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to new_staff_session_path do %><span class="glyphicon glyphicon-user"></span><% end %></li>
                </ul>
            <% end %>
            <%= form_tag view_state_path_gen(:search_search_path).call, method: :get, class: ["navbar-form", "navbar-right"], role: "search" do |f| %>
                <div class="form-group">
                    <%= text_field_tag 'all', nil, class: 'form-control input-sm',  placeholder: "検索" %>
                </div>
                <%= button_tag type: :submit,  class: ['btn', 'btn-sm', 'btn-default'] do %><i class="fa fa-search"></i><% end %>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
                <% if I18n.locale == :ja %>
                    <li><%= link_to 'English', url_for(params.merge(locale: :en)) %></li>
                <% else %>
                    <li><%= link_to '日本語', url_for(params.merge(locale: :ja)) %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>


<div class="header-parts">
    <%= html_format @page_obj.try(:html_set_def).try(:header_parts).try(set_locale_suffix(:html_string)) %>
</div>

<div class="container">
    <% if @page_obj.try(:html_set_def).try(:right_side_parts) != nil %>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 menu-side">
                <%= show_gen_menu %>
            </div>

            <div class="col-lg-15 col-md-14 col-sm-19 contents-side">
                <%= yield %>
            </div>

            <div class="col-lg-5 col-md-6 hidden-sm hidden-xs right-side">
                <%= html_format @page_obj.try(:html_set_def).try(:right_side_parts).try(set_locale_suffix(:html_string)) %>
            </div>
        </div>
    <% else %>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 menu-side">
                <%= show_gen_menu %>
            </div>

            <div class="col-lg-20 col-md-20 col-sm-19 contents-side">
                <%= yield %>
            </div>
        </div>
    <% end %>

</div>

<div class="footer-parts">
    <%= html_format @page_obj.try(:html_set_def).try(:footer_parts).try(set_locale_suffix(:html_string)) %>
</div>

</body>
</html>