<!DOCTYPE html>
<html>
<head>
    <title><%= show_system_title %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav id="header" class="navbar navbar-inverse navbar-static-top pub" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to show_system_title, staff_path, class: "navbar-brand header-title" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if staff_signed_in? %>
                <% if current_staff.ej_editor? %>
                    <ul class="nav navbar-nav">
                        <li class="<%= path_active?(pub_path) %>"><%= link_to '公開', pub_path %></li>
                        <li class="<%= path_start_with_active?(lim_path) %>"><%= link_to '限定', lim_path %></li>
                        <li class="<%= path_start_with_active?(staff_ej_editors_ej_journal_show_path) %>"><%= link_to 'スタッフ', staff_ej_editors_ej_journal_show_path %></li>
                    </ul>
                 <% else %>
                    <ul class="nav navbar-nav">
                        <li class="<%= path_active?(pub_path) %>"><%= link_to '公開', pub_path %></li>
                        <li class="<%= path_start_with_active?(lim_path) %>"><%= link_to '限定', lim_path %></li>
                        <li class="<%= path_start_with_active?(pri_path) %>"><%= link_to '未公開', pri_path %></li>
                        <li class="<%= path_start_with_active?(staff_path) %>"><%= link_to 'スタッフ', staff_path %></li>
                    </ul>
                <% end %>
                <ul class="nav navbar-nav navbar-right">
                    <% if current_staff.admin? %>
                        <% if @system_setting.mentenance_mode == false %>
                            <li><%= button_to "メンテナンスモードにする", maintenance_mode_on_staff_system_settings_path, :method => :put, class: ['btn', 'btn-primary', 'navbar-btn'] %></li>
                        <% end %>
                    <% end %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= current_staff.email %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'パスワード変更', staff_edit_password_path %></li>
                            <li class="divider"></li>
                            <li><%= link_to 'ログアウト', destroy_staff_session_path, method: 'delete' %></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if I18n.locale == :ja %>
                        <li><%= link_to 'English', url_for(params.merge(locale: :en)) %></li>
                    <% else %>
                        <li><%= link_to '日本語', url_for(params.merge(locale: :ja)) %></li>
                    <% end %>
                </ul>
            <% else %>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to new_staff_session_path do %><span class="glyphicon glyphicon-user"></span><% end %></li>
                </ul>
            <% end %>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-4 menu-side">
            <ul class="nav nav-pills nav-stacked">
                <% if @system_setting.mentenance_mode && current_staff.admin? %>
                    <li><span>システム</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(staff_system_settings_path) %>"><%= link_to 'システム設定', staff_system_settings_path %></li>
                            <li class="<%= path_start_with_active?(staff_staffs_path) %>"><%= link_to 'ユーザ管理', staff_staffs_path %></li>
                            <% if @system_setting.mentenance_mode %>
                                <% if @system_setting.enable_oaipmh %>
                                    <li class="<%= path_start_with_active?(staff_oaipmh_settings_path) %>"><%= link_to 'OAI-PMH設定', staff_oaipmh_settings_path %></li>
                                <% end %>
                                <% if @system_setting.enable_coverpage %>
                                    <li class="<%= path_start_with_active?(staff_coverpage_settings_path) %>"><%= link_to 'カバーページ設定', staff_coverpage_settings_path %></li>
                                <% end %>
                            <% end %>
                            <li class="<%= path_start_with_active?(staff_access_count_settings_path) %>"><%= link_to 'アクセス統計管理', staff_access_count_settings_path %></li>
                        </ul>
                    </li>
                    <li><span>データ</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(staff_field_defs_path) %>"><%= link_to 'データ項目管理', staff_field_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_input_groups_path) %>"><%= link_to 'データグループ管理', staff_input_groups_path %></li>
                            <li class="<%= path_start_with_active?(staff_download_formats_path) %>"><%= link_to 'ダウンロードフォーマット管理', staff_download_formats_path %></li>
                            <li class="<%= path_start_with_active?(staff_people_path) %>"><%= link_to '人物管理', staff_people_path %></li>
                            <li class="<%= path_start_with_active?(staff_custom_selects_path) %>"><%= link_to '選択項目管理', staff_custom_selects_path %></li>
                        </ul>
                    </li>
                    <li><span>機能</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(staff_permalink_fields_path) %>"><%= link_to 'Permalink 設定', staff_permalink_fields_path %></li>
                            <li class="<%= path_start_with_active?(staff_ej_defs_path) %>"><%= link_to '雑誌管理', staff_ej_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_list_defs_path) %>"><%= link_to 'リスト管理', staff_list_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_search_defs_path) %>"><%= link_to '検索管理', staff_search_defs_path %></li>
                        </ul>
                    </li>
                    <li><span>表示</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(staff_view_setting_system_path) %>"><%= link_to 'システム', staff_view_setting_system_path %></li>
                            <li class="<%= path_start_with_active?(staff_view_setting_ej_path) %>"><%= link_to '雑誌', staff_view_setting_ej_path %></li>
                            <li class="<%= path_start_with_active?(staff_view_setting_list_path) %>"><%= link_to 'リスト', staff_view_setting_list_path %></li>
                            <li class="<%= path_start_with_active?(staff_view_setting_search_path) %>"><%= link_to '検索', staff_view_setting_search_path %></li>
                            <li class="<%= path_start_with_active?(staff_static_page_defs_path) %>"><%= link_to '静的ページ管理', staff_static_page_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_static_public_files_path) %>"><%= link_to '公開ファイル管理', staff_static_public_files_path %></li>
                            <li class="<%= path_start_with_active?(staff_static_private_files_path) %>"><%= link_to '非公開ファイル管理', staff_static_private_files_path %></li>
                            <li class="<%= path_start_with_active?(staff_html_parts_defs_path) %>"><%= link_to '画面部品管理', staff_html_parts_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_left_menu_defs_path) %>"><%= link_to '左メニュー管理', staff_left_menu_defs_path %></li>
                            <li class="<%= path_start_with_active?(staff_contact_us_settings_path) %>"><%= link_to 'メールフォーム管理', staff_contact_us_settings_path %></li>
                            <li class="<%= path_start_with_active?(staff_authers_mails_path) %>"><%= link_to '著者へのメール送信', staff_authers_mails_path %></li>
                        </ul>
                    </li>
                <% else %>
                    <li><span>全ユーザのデータ</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_active?(staff_path) %>"><%= link_to 'すべて', staff_path %></li>
                            <li class="<%= path_active?(staff_path(publish_to: PriDocument::PRIVATE_TYPE)) %>"><%= link_to '非公開', staff_path(publish_to: PriDocument::PRIVATE_TYPE) %></li>
                            <li class="<%= path_active?(staff_path(publish_to: PriDocument::LIMITED_TYPE)) %>"><%= link_to '限定公開', staff_path(publish_to: PriDocument::LIMITED_TYPE) %></li>
                        </ul>
                    </li>
                    <li><span>このユーザのデータ</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_active?(staff_path(creator: true)) %>"><%= link_to 'すべて', staff_path(creator: true) %></li>
                            <li class="<%= path_active?(staff_path(creator: true, publish_to: PriDocument::PRIVATE_TYPE)) %>"><%= link_to '非公開', staff_path(creator: true, publish_to: PriDocument::PRIVATE_TYPE) %></li>
                            <li class="<%= path_active?(staff_path(creator: true, publish_to: PriDocument::LIMITED_TYPE)) %>"><%= link_to '限定公開', staff_path(creator: true, publish_to: PriDocument::LIMITED_TYPE) %></li>
                            <li class="<%= path_active?(staff_path(updater: true)) %>"><%= link_to '更新したデータ', staff_path(updater: true) %></li>
                        </ul>
                    </li>
                    <li><span>登録</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(new_staff_pri_document_path) %>"><%= link_to '新規登録', new_staff_pri_document_path %></li>
                            <li class="<%= path_start_with_active?(staff_document_templates_path) %>"><%= link_to 'データテンプレート', staff_document_templates_path %></li>
                            <li class="<%= path_start_with_active?(staff_csv_path) %>"><%= link_to '一括登録', staff_csv_path %></li>
                        </ul>
                    </li>
                    <li><span>一括</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <% if current_staff.admin? %>
                                <li class="<%= path_active?(staff_publish_path) %>"><%= link_to staff_publish_path do %><%= publish_target_count_badge %>公開処理<% end %></li>
                                <li class="<%= path_active?(staff_self_doi_path) %>"><%= link_to staff_self_doi_path do %><%= self_doi_target_count_badge %>SelfDOI<% end %></li>
                                <li class="<%= path_active?(staff_publish_update_all_data_path) %>"><%= link_to staff_publish_update_all_data_path do %>全公開データ更新<% end %></li>
                            <% end %>
                            <li class="<%= path_start_with_active?(staff_batch_path) %>"><%= link_to '一括修正', staff_batch_path %></li>
                            <li class="<%= path_start_with_active?(staff_field_value_update_path) %>"><%= link_to '項目値修正', staff_field_value_update_path %></li>
                        </ul>
                    </li>
                    <li><span>統計</span></li>
                    <li class="child-holder">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="<%= path_start_with_active?(staff_access_counts_path) %>"><%= link_to 'アクセス統計', staff_access_counts_path %></li>
                        </ul>
                    </li>
                    <% if current_staff.admin? %>
                        <li><span>表示</span></li>
                        <li class="child-holder">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="<%= path_start_with_active?(staff_view_setting_system_path) %>"><%= link_to 'システム', staff_view_setting_system_path %></li>
                                <li class="<%= path_start_with_active?(staff_view_setting_ej_path) %>"><%= link_to '雑誌', staff_view_setting_ej_path %></li>
                                <li class="<%= path_start_with_active?(staff_view_setting_list_path) %>"><%= link_to 'リスト', staff_view_setting_list_path %></li>
                                <li class="<%= path_start_with_active?(staff_view_setting_search_path) %>"><%= link_to '検索', staff_view_setting_search_path %></li>
                                <li class="<%= path_start_with_active?(staff_static_page_defs_path) %>"><%= link_to '静的ページ管理', staff_static_page_defs_path %></li>
                                <li class="<%= path_start_with_active?(staff_static_public_files_path) %>"><%= link_to '公開ファイル管理', staff_static_public_files_path %></li>
                                <li class="<%= path_start_with_active?(staff_static_private_files_path) %>"><%= link_to '非公開ファイル管理', staff_static_private_files_path %></li>
                                <li class="<%= path_start_with_active?(staff_html_parts_defs_path) %>"><%= link_to '画面部品管理', staff_html_parts_defs_path %></li>
                                <li class="<%= path_start_with_active?(staff_left_menu_defs_path) %>"><%= link_to '左メニュー管理', staff_left_menu_defs_path %></li>
                                <li class="<%= path_start_with_active?(staff_contact_us_settings_path) %>"><%= link_to 'メールフォーム管理', staff_contact_us_settings_path %></li>
                                <li class="<%= path_start_with_active?(staff_authers_mails_path) %>"><%= link_to '著者へのメール送信', staff_authers_mails_path %></li>
                            </ul>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>

        <div class="col-lg-20 contents-side">
            <% if @system_setting.mentenance_mode %>
                <div class="alert alert-info">
                    <p><strong>現在、メンテナンスモードになっています。</strong><br />
                        データの操作を行うにはメンテナンスモードの解除を行って下さい。</p>

                    <% if current_staff.admin? && check_any_lock == false %>
                        <div class="text-right">
                            <%= button_to "メンテナンスモードを解除", maintenance_mode_off_staff_system_settings_path, :method => :put, class: ['btn', 'btn-primary', 'text-right'] %>
                        </div>
                    <% else %>
                        <p>メンテナンスモードの解除を行うには、再構築を行う必要があります。</p>
                    <% end %>
                </div>
                <% if pub_locking? %>
                    <div class="alert alert-danger">
                        <p>
                            <strong>設定が変更されました。</strong>
                        </p>
                        <p>
                            インデックス再構築(公開のみ)を行うまで公開データが以下の状態になります。
                        </p>
                        <% if @system_setting.pub_sort_locking? %>
                            <p>
                                <ul>
                                    <li>検索、リスト、詳細画面での並び順が内容と異なる状態になっている可能性があります。</li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pub_list_locking? && @system_setting.pub_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>リスト設定と一覧の対象データが異なる状態になっている可能性があります。</li>
                                    <li>リストでのデータと表記が異なる状態になっている可能性があります。</li>
                                    <li>
                                        対象は次のリストです。
                                        <% ListDef.where(id: @system_setting.locked_list_ids).each do |list_def| %>
                                            <ul>
                                                <li><%= show_caption(list_def) %></li>
                                            </ul>
                                        <% end %>
                                    </li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pub_ej_locking? && @system_setting.pub_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>雑誌設定と雑誌の対象データが異なる状態になっている可能性があります。</li>
                                    <li>雑誌でのデータと表記が異なる状態になっている可能性があります。</li>
                                    <li>
                                        対象は次の雑誌です。
                                        <% EjDef.where(id: @system_setting.locked_ej_ids).each do |ej_def| %>
                                            <ul>
                                                <li><%= show_caption ej_def.journal_field_def %> <%= show_caption ej_def.volume_field_def %> <%= show_caption ej_def.issue_field_def %></li>
                                            </ul>
                                        <% end %>
                                    </li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pub_search_locking? && @system_setting.pub_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>検索での検索項目と内容が異なる状態になっている可能性があります。</li>
                                    <li>検索結果が設定と異なる状態になっている可能性があります。</li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pub_oaipmh_locking? %>
                            <p>
                                <ul>
                                    <li>OAI-PMHの出力が設定と異なっている可能性があります。OAI-PMHのフォーマットも確認してださい。</li>
                                    <li><strong>インデックス再構築時に公開データが全て修正状態になります。</strong></li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.data_lock %>
                            <div class="text-right">
                                <%= button_to "処理中", pub_reindex_staff_system_settings_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'], disabled: "disabled" %>
                            </div>
                        <% else %>
                            <div class="text-right">
                                <%= button_to "インデックス再構築 (公開のみ)", pub_reindex_staff_system_settings_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'] %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <% if pri_locking? %>
                    <div class="alert alert-danger">
                        <p>
                            <strong>設定が変更されました。</strong>
                        </p>
                        <p>
                            インデックス再構築(未公開のみ)を行うまで未公開データが以下の状態になります。
                        </p>
                        <% if @system_setting.pri_sort_locking? %>
                            <p>
                                <ul>
                                    <li>検索、リスト、詳細画面の並び順が内容と異なる状態になっている可能性があります。</li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pri_list_locking? && @system_setting.pri_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>リスト設定と一覧の対象データが異なる状態になっている可能性があります。</li>
                                    <li>リストでのデータと表記が異なる状態になっている可能性があります。</li>
                                    <li>
                                        対象は次のリストです。
                                        <% ListDef.where(id: @system_setting.locked_pri_list_ids).each do |list_def| %>
                                            <ul>
                                                <li><%= show_caption(list_def) %></li>
                                            </ul>
                                        <% end %>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pri_ej_locking? && @system_setting.pri_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>雑誌設定と雑誌の対象データが異なる状態になっている可能性があります。</li>
                                    <li>雑誌でのデータと表記が異なる状態になっている可能性があります。</li>
                                    <li>
                                        対象は次の雑誌です。
                                        <% EjDef.where(id: @system_setting.locked_pri_ej_ids).each do |ej_def| %>
                                            <ul>
                                                <li><%= show_caption ej_def.journal_field_def %> <%= show_caption ej_def.volume_field_def %> <%= show_caption ej_def.issue_field_def %></li>
                                            </ul>
                                        <% end %>
                                    </li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pri_search_locking? && @system_setting.pri_sort_locking? == false %>
                            <p>
                                <ul>
                                    <li>検索での検索項目と内容が異なる状態になっている可能性があります。</li>
                                    <li>検索結果が設定と異なる状態になっている可能性があります。</li>
                                </ul>
                            </p>
                        <% end %>
                        <% if @system_setting.pri_oaipmh_locking? %>
                            <p>
                                <ul>
                                    <li>OAI-PMHの対象かどうかの判定が設定と異なっている可能性があります。</li>
                                </ul>
                            </p>

                            <p>
                                再チェックを行っても公開データには影響しません。公開側に反映させるためには公開処理を行って下さい。
                            </p>

                        <% end %>
                        <% if @system_setting.data_lock %>
                            <div class="text-right">
                                <%= button_to "処理中", pri_reindex_staff_system_settings_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'], disabled: "disabled" %>
                            </div>
                        <% else %>
                            <div class="text-right">
                                <%= button_to "インデックス再構築 (未公開のみ)", pri_reindex_staff_system_settings_path, :method => :put, class: ['btn', 'btn-danger', 'text-right'] %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% else %>
                <% if @system_setting.data_lock %>
                    <div class="alert alert-danger">
                        <p><strong>処理中</strong><br />
                            公開処理、CSV一括登録、一括修正、再構築等の処理中です</p>
                    </div>
                <% end %>
            <% end %>

            <%= yield %>
        </div>
    </div>

</div>

<%= render partial: 'shared/footer' %>


<% if flash[:notice] %>
    <div class="closable-box show alert alert-success">
        <button type="button" class="close close-button" aria-hidden="true">&times;</button>
        <div class="message"><%= flash[:notice] %></div>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="closable-box show alert alert-danger">
        <button type="button" class="close close-button" aria-hidden="true">&times;</button>
        <div class="message"><%= flash[:alert] %></div>
    </div>
<% end %>

<div class="closable-box alert alert-danger std-error">
    <button type="button" class="close close-button" aria-hidden="true">&times;</button>
    <div class="message">エラー</div>
</div>

<div class="closable-box alert alert-danger ajax-error">
    <button type="button" class="close close-button" aria-hidden="true">&times;</button>
    <div class="message">通信エラーが発生しました。</div>
</div>

<div id="loading"><i class="fa fa-refresh fa-spin"></i></div>


</body>
</html>